[2017-05-14 07:50] achimha opened #2 "Add index.ts to not have to import from /dist"
The `WizardModule` is exported by the package from `ng2-archwizard/dist`. That is a bit unusual and no necessary. If you put an index.ts in the root with

`export * from ./dist;`

it should work without referring to the subdirectory.

[2017-05-14 12:25] madoar commented on #2
@achimha thanks for you suggestion!
I'll add this to the next version release, which is `1.5.0`.

[2017-05-26 15:15] madoar commented on #2
I've just released version `1.5.0`. If it doesn't work for you please don't hesitate to open an issue.

[2017-05-26 15:15] #2 closed

[2017-05-27 14:26] achimha opened #4 "Layout issue with titles"
The steps indicator should probably provide support for situations where the screen is not wide enough to fit all step titles.

<img width="433" alt="screen shot 2017-05-27 at 16 25 51" src="https://cloud.githubusercontent.com/assets/6816140/26522090/42e72158-42f9-11e7-8367-9171fd6b2bce.png">

Any suggestions how to do this?

[2017-05-27 15:12] madoar commented on #4
Internally `ng2-archwizard` uses `<a>` elements for the step titles. Therefore I would try to add [zero width spaces](https://stackoverflow.com/questions/15841109/optional-line-breaking-html-entity-that-is-always-invisible) at positions where you think a newline would fit in. Hopefully your browser will then automatically do a newline if the space is not enough instead of overlapping the step titl

[2017-05-27 15:24] achimha commented on #4
Unfortunately the zero width space doesn't appear to work.

Another approach would be to use different labels at different screen sizes, e.g. through bootstrap classes.

We'd have more flexibility if the step title was not just given as a string to the step but could be an `<ng-template>` as well with custom rendering. Like this:

[code]

[2017-05-27 15:49] madoar commented on #4
Are you sure the zero width spaces don't work?
A few moments ago I tried them with the demo project and they appear to work.
To make them work you need to use numeric character reference format (the same as for the `navigationSymbol`):
[code]
Shown in full width, when the space is enough:
![grafik](https://cloud.githubusercontent.com/assets/18488086/26522628/ad71f4ca-4304-11e7-8c27-08bf59834511.pn

[2017-05-28 08:03] achimha commented on #4
You're right, it does work. Sorry about that.

Still, I see a strong use case for having different titles depending on screen size for true responsive design. The template reference approach is quite common in Angular land. Do you think that would be possible?

[2017-05-28 08:57] madoar commented on #4
I've taken a look at the `ng-template` tag at https://angular.io/docs/ts/latest/cookbook/dynamic-component-loader.html
I would like to give the developer more freedom to define the step titles in the navigation bar. The only problem I see, for which I know solution, is how to get the defined `wizard-step-title` from inside the `wizard-step` components into the `wizard-navigation-bar` component. Do

[2017-05-28 20:31] achimha commented on #4
You can define a directive for the template:
[code]
then you can capture it in the `wizard-step`:
[code]
which defines the property `titleTpl` just like the property `title` you already have.

[2017-05-28 20:38] madoar commented on #4
I know this part.
The part I don't know is how to insert `titleTpl` into the `wizard-navigation-bar`.
I guess it's not as easy as inserting `{{ step.titleTpl }}`, right?

[2017-05-28 20:46] achimha commented on #4
You can do
[code]
Either the `title` or the `titleTpl` property will be defined.

[2017-05-29 08:53] madoar commented on #4
This looks interesting, I'll take a look at this.

[2017-06-02 11:45] madoar commented on #4
I've just (yesterday) created a new branch (v.1.6.0) for the title templating feature.
It would be nice if you can take a look at it and maybe test it if it satisfies your requirements and complies to what you had in mind.
The link to the branch is https://github.com/madoar/ng2-archwizard/tree/v1.6.0.

[2017-06-02 12:14] achimha commented on #4
It looks really nice, thank you very much!

[2017-06-09 13:32] madoar commented on #4
I've just released version 1.6.0. If you have any other ideas or problems with `ng2-archwizard`, please don't hesitate to post them.

[2017-06-09 13:32] #4 closed

[2017-06-16 20:02] furqanaziz opened #7 "Clickable Wizard Step"
Is there any chance for you to make wizard steps clickable? For example I want to click on the title or icon or number of any wizard step?

This is very nice plugin but lacking this only feature which is much needed for my project.

[2017-06-16 20:09] furqanaziz commented on #7
We can utilize `[canExit]` and `(canEnter)` for validation purpose and avoid jumping back and fourth between un-allowed stats. What you think?

[2017-06-16 20:14] madoar commented on #7
The question then is how do we visualize which steps can be entered in the navigation bar?
I think it should be easily possible for the user to see this.
In addition we need to take subsequent steps into account, e.g. if step 2 can't be entered step 3 and 4 should automatically not be enterable, because they likely depend on step 2, right?

[2017-06-16 20:22] furqanaziz commented on #7
If I am on step 1 and wanna jump to step 3, It should validate just like:
- `canExit` Step 1
- `canEnter` and `canExit` Step 2
- `canEnter` Step 3
- Can do this kind of iteration.

We can do it recursively. Lets say `canExit` of Step 1 is failed we can make step 1 navigation circle red kinda and return an error via an event.

[2017-06-16 20:26] madoar commented on #7
In addition we would need some kind of indicator that tells us if the step has been entered once, otherwise the whole wizard navigation bar will show up red when the user opens it.
Do you want to give it a try?

[2017-06-22 07:48] JuliaRakitina opened #8 "Reset wizard"
Is it possible to reset wizard as soon as it was finished?
I did not find this functionality in documentation. Thank you

[2017-06-22 07:56] madoar commented on #8
Yes, this functionality is already implemented.
Take a look at the `WizardComponent`, inside it you'll find a `reset` method.
After calling it, the wizard will automatically go back to the first step.

[2017-06-22 08:04] JuliaRakitina commented on #8
I found this method, imported WizardComponent,
`import { WizardComponent } from "ng2-archwizard/dist/components/components/wizard.component";`
insert it into constructor
[code]
and then tried to call reset()
`this.wiz.reset();`

but it throws an error
[code]

Maybe I should define or link it somewhere else?

[2017-06-22 08:13] madoar commented on #8
Try this:
[code]

For a more detailed example please take a look at the example inside the [demo](https://github.com/madoar/ng2-archwizard-demo/blob/master/src/app/pizza.component.ts).

[2017-06-22 08:15] madoar commented on #8
The error kind of looks like as if your wizard contains no steps. To make the wizard work, it needs to contain at least one step.

[2017-06-22 08:18] JuliaRakitina commented on #8
It contains 3 complicated steps with upload component and forms

[2017-06-22 08:24] madoar commented on #8
Can you give me a minimum working code snippet that triggers the error?

[2017-06-22 08:29] JuliaRakitina commented on #8
Ok, I fixed it

[code]
and html
[code]

Thank you

[2017-06-22 13:32] madoar commented on #8
Nice to see I could help :)
So the problem was they way the `WizardComponent` was injected?
If this issue is solved, can you please close it?

[2017-06-23 11:34] pymob opened #9 "Ability to wrap <wizard-step> in own component"
Found your library, which seems to be the only one to support Angular 4, so props to you for this awesome thing!
I started implementing some wizard steps and wanted to extract the wizard-steps in their own components.
However when I did this, the controls didn't show up in the wizard.

Libraries used:

- @angular/*: ^4.2.3
- typescript: 2.4.0
- ng2-archwizard= ^1.6.0

Consider this example:

    <

[2017-06-23 11:51] madoar commented on #9
For the second approach you can get an instance of your `app-wizard-details` by using `@ComponentChild`, through which you could then bind the correct `canExit` and `stepEnter` callbacks, but I must agree this is not the most comfortable approach.

About the first approach, I must confess, that I've only used your second approach as of now.
What do you mean with "controls", that don't show up? Do

[2017-06-23 12:47] pymob commented on #9
Thanks for the quick reply and for the hint about `@ComponentChild`, didn't know about that.

With "controls" I mean each and every component like `<input/>` or `<select/>` I have defined in the `app-wizard-details` component. Also, the `wizard-navigation-bar` doesn't notice that I have defined a `<wizard-step>` in the child component, so in the given example only the `wizard-completion-step` gets

[2017-06-23 13:00] madoar commented on #9
It seems like I've given you the wrong decorator, I meant to write `@ContentChild`.

About the "controls" problem:
It seems like the wizard steps aren't discovered.
Can you please clone the `ng2-archwizard` project and change the lines
[code]
in `wizard.component.ts` to
[code]

Afterwards please build `ng2-archwizard` via `npm run build` and test if this fixes the issue?
If this doesn't solve the

[2017-06-23 16:15] pymob commented on #9
Alright, even with descendants enabled it doesn't work.
When you debug the call to `get allSteps(): Array<WizardStep>` the length of the array is zero still.
The example can be cloned from my repo [here](https://github.com/pymob/test-archwizard_issue9). Thank you for your time!

Oh, on a side note: are buttons with `previousStep` not enabled for the completion step? I'd like to have the ability to

[2017-06-23 18:52] madoar commented on #9
Yes, all navigation inside the completion step are disabled.
My idea of a completion state is a state that tells the user, that the wizard has been successfully completed. An example for this is the message you get from an online shop after you've completed your purchase, afterwards it's not possible anymore to change your chosen products or the destination of the purchase.

[2017-06-24 15:38] madoar commented on #9
I've just experimented a little bit with your example project.
The problem seems to be that angular is unable to find the wizard steps over multiple hierarchy levels when the first level contains a `ng-content` element.
I'm not sure if angular is really unable to do that or if my approach is wrong.

Another solution for this would be the rewrite of the `wizard-step` components to `wizardStep` dire

[2017-06-24 15:45] achimha commented on #9
You could allow both the component and directive.

[2017-06-24 15:46] madoar commented on #9
Can I do this in with a single `@ContentChildren` decorator, or do I need for each component and directive a decorator?

[2017-06-25 15:52] madoar commented on #9
I think I've found a way to do this.
As far as I've discovered we'll need both https://angular.io/api/core/InjectionToken and https://github.com/angular/angular/issues/12758 for this.
I'll take a more detailed look at this later next week.

[2017-06-25 19:41] GeorgeKagan opened #10 "Error: Input 'goToStep' is neither a WizardStep, StepOffset, number or string"
When reaching the final step (`<wizard-completion-step>`) and then clicking this final step's title in the navigation, the above error is thrown.
Clicking other steps doesn't throw any errors and no navigation is taking place, as expected.

P.S. Very nice module, good work!

[2017-06-26 06:22] pymob commented on #9
Thank you.
Regarding the wizard-completion-step: May there be any chance to introduce a directive like this?

    <wizard-completion-step enableBackLinks="true">
      <button previousStep></button>
    </wizard-completion-step>

With this, one may be able to use the back buttons to change some things.

[2017-06-26 08:05] madoar commented on #10
Nice to hear, that you like the module :)
It seems like you've found a bug... I'll try to fix it as soon as possible.

[2017-06-26 08:07] madoar commented on #9
Yes, such an input would be possible. I'm just not sure yet, if I want to add this as a normal `@Input` or as an directive.

[2017-06-29 19:08] #8 closed

[2017-06-30 16:45] #10 closed

[2017-07-02 09:11] #9 closed

[2017-07-02 09:13] madoar commented on #9
I've just merged my second PR regarding the feature request in this issue.
Sadly I couldn't find time to extend the `README` with information about the new features yet, but it would be nice if you could test them and tell me if they agree with what you've imagined the features to be like.

If you need some examples to see how the features work please take a look at the tests.

[2017-07-02 11:57] pymob commented on #9
Hello @madoar , I think the latest changes are really great!
I altered my example project (check it out [here](https://github.com/pymob/test-archwizard_issue9/tree/test-if-%239-fixed)).
So far I can find everything working as expected.
Awesome work, thank you!

[2017-07-06 15:06] leandrocervelin opened #15 "Customize css"
Hi @madoar,

congratulations for this job! It's really nice!
I would to use this component instead the component that we are using now. I'd like to know your opinion about the css customization. For example, I would like to customize the layout as is showed on the attached image.
![steps](https://user-images.githubusercontent.com/229497/27917632-cdee8d4e-626c-11e7-9160-8a4eaa4cb582.PNG)

Thank you

[2017-07-06 15:17] madoar commented on #15
Nice to hear, that you like this component library :)

About your problem:
The wizard navigation bar should be relatively relatively easy to modify.
To do this you simply need to change either one or both of the following files:
- `https://github.com/madoar/ng2-archwizard/blob/master/src/components/components/wizard-navigation-bar.component.horizontal.less`
- `https://github.com/madoar/ng2-archwiz

[2017-07-07 00:57] xVishera opened #17 "Question - GoToStep Programmatically"
Hello!

First of all, congratulations for the great work here, this is a wonderfull component for angular.

I have a simple question about moving from onestep to another.

Is there any way to do it at the typescript side ?

For example, at Step1 I must perform a confirmation message before going on, If the user click on "Ok" it triggers a function on the typescript, and at that function I should m

[2017-07-07 09:42] madoar commented on #17
Nice to hear that you like the wizard component :)

About your question:
You can navigate the wizard through typescript.
To do this you need to inject an instance of your used `WizardComponent`:
[code]

Next you can call the method `wizard.goToStep(destinationStepIndex)` to navigate to a given step.
Please beware, that you can't go to an arbitrary step.
You can only go to an arbitrary previous ste

[2017-07-07 09:50] madoar commented on #17
Let me correct myself:
If you use `wizard.goToStep(destinationStepIndex)` you should be able to enter any step, as long as you can exit the current step.

The "previous step or direct next step" condition is currently checked inside the `wizard.canGoToStep(stepIndex)` method, which you don't need to call.
Please be aware, that this can change in a later version!

[2017-07-07 12:06] xVishera commented on #17
Thank you for the great explanation sir. It worked as expected BUT I think I've found a bug.

I've a wizard with 5 steps, no one is optional.

When I initiate the wizard, if the user meet some requeriments I guide him to step 3 (index 2) directly. In this case, the step 2 keeps grey and I cant navigate forward to step 4, I've to go to the previous step then go forward again.

[2017-07-07 15:47] madoar commented on #17
The problem in your usecase is that you've an incomplete step before your current step, namely step 2.
This causes the `canGoToStep` method, which gets called by the `nextStep` directive, to return false.
Currently you have two ways to solve the problem:

- you specify the second step as an optional step
- you replace the `nextStep` by a manual call of `wizard.goToStep(destinationStepIndex)`

I th

[2017-07-07 15:59] xVishera commented on #17
At the moment, to solve the "problem" and gets the second step marked as completed, In my cenário I called "wizard.nextStep" two times, it moved the user to the third step and let step two marked as completed.

[2017-07-16 19:36] #17 closed

[2017-07-17 15:06] GeorgeKagan opened #19 "Default step"
Hi,

Is there a way to easily set the default step to be selected upon page load?
I would like to not have to click through steps to get to the one I'm currently developing.

I think it could be a nice development feature (disregarding step validation could make it easier I guess)!

Example (selected attribute):
<wizard-step data-title="General" navigationSymbol="1" **selected**></wizard-step>

Th

[2017-07-18 19:42] madoar commented on #19
Currently there is no way to select another than the first step as the default step of the wizard.
The problem is, that the the wizard requires all previous steps to be completed before it can enter a later step. This doesn't directly affect the selection of the default step, but the navigation from inside this step.

Let's say for example, that you take the second step as the default step, i.e. t

[2017-07-21 19:50] ckng commented on #15
Trying to customize the component theme also. If it is imported as module, we can't really go in and edit those *.less?

Component inheritance also does not seems like a workable solution.

[2017-07-21 19:53] madoar commented on #15
If you want to modify the `*.less` files, you need rebuild `ng2-archwizard` and link your rebuilt version of `ng2-archwizard` into your project.
You can build `ng2-archwizard` via `npm run build`, this will create the `dist` folder with all required files.

What exactly do you mean with Component inheritance?

[2017-07-21 20:41] ckng commented on #15
How to link the rebuilt version correctly?

[2017-07-21 21:01] madoar commented on #15
There are two ways I know of to link the rebuilt version:

- Use `npm install --save path/to/your/ng2-archwizard/folder`
- https://docs.npmjs.com/cli/link

[2017-07-27 15:53] #15 closed

[2017-08-08 00:53] joseph-mcallister opened #20 "Changing Symbol Color"
This isn't really an issue, but I didn't find any other way to contact you. This is perfect for what I am trying to do, but I can't find any way to change the color of the symbol (green, red, gray) to something that better fits my project. Is there any way to modify that CSS? Thanks!

[2017-08-08 08:13] madoar commented on #20
Nice to read, that you like the wizard component :)

About your question:
If you want to change the circle- and text colors of the different states you need to change these color values in the css of the `wizard-navigation-bar` component.
The navigation bar has two stylesheet files:

- https://github.com/madoar/ng2-archwizard/blob/master/src/components/components/wizard-navigation-bar.component.ho

[2017-08-11 13:27] sajeelmunir opened #21 "Add Wizard Step Validation"
Hi there,

Is it possible to add "Wizard Step Form Validation"?  Simply disable "Next" button until all required form fields filled?

Thanks,

[2017-08-11 14:11] madoar commented on #21
What do you mean with "Wizard Step Form Validation"?
If you want to add a form to one of your wizard steps and want to allow a user to go to the next step only if the content of the form is valid, this is possible.

In my opinion you have two options to do this. First you could use:
[code]
This disables the button, until the form is valid.

The second approach you could use would be to use the `[c

[2017-08-11 14:17] sajeelmunir commented on #21
Thank you

[2017-08-12 09:37] Al-Sharif opened #22 "Disable navigation links (forwards and backwards)"
How can i disable links to prevent user from navigate between steps by the upper links?

[2017-08-12 09:59] madoar commented on #22
You can disable the navigation links via the use of a `[canExit]` input on the wizard steps.
For an example, please take a look at https://madoar.github.io/ng2-archwizard-demo/#/step-event/can-exit and https://github.com/madoar/ng2-archwizard-demo/tree/master/src/app/can-exit-event.

[2017-08-12 11:05] Al-Sharif commented on #22
Thank you, but there's no function will disable all links for all steps as option for wizard plugin ?

[2017-08-12 11:08] madoar commented on #22
I'm not sure I understand your question.

If I understand you correct, you want an input for the wizard component that disables all navigation links for all steps?
I'm not sure what is the use of such an input? A user can only see one step at a time. Therefore it has no benefit in my eyes to add such an input. If you need such a functionality why don't you add the same `[canExit]` value/function t

[2017-08-15 21:16] imagine4me opened #23 "Issue importing 'ng2-archwizard' from Angular Quickstart"
There must be something trivial I'm overlooking, but I'm having trouble importing '**ng2-archwizard**' from within a barebones, official [Angular Quickstart](https://github.com/angular/quickstart).

If I begin with the official import instructions - `import { WizardModule } from 'ng2-archwizard';` -  after doing `npm install --save ng2-archwizard`, I get the following error:

**`zone.js:2622 GET h

[2017-08-15 21:31] madoar commented on #23
I must confess, that I have no experience with systemjs.
I have always used angular-cli to generate my barebones, which uses webpack instead of systemjs.
What I've noticed is, that you've not written about the step where you've added `WizardModule` to your `AppModule`. Please check if you did this.

[2017-08-15 22:13] imagine4me commented on #23
I did include all of the code from installation instructions + `<wizard>...</wizard>` markup in the template:

[code]

I guess I may just regenerate the whole thing with angular-cli if no-one ran into this.

[2017-08-15 23:08] imagine4me commented on #23
Using `angular-cli` (with webpack) instead of angular quickstart for project shell solved the issue.

[2017-08-15 23:08] #23 closed

[2017-08-16 08:35] madoar commented on #23
Nice to hear that you got it working via `angular-cli` and webpack.
Still it would be nice if someone knew how to get it working via `angular quickstart`.
If someone got it working feel free to post a comment here how you got it working so that I can extend the `README` with the related information.

[2017-08-16 08:35] #20 closed

[2017-08-16 08:35] #21 closed

[2017-08-20 09:33] Al-Sharif commented on #22
i appreciate your help but i was need to disable upper links without any condition like [canExit]  while next and previous buttons works as i implement it with conditions.

[2017-08-20 09:35] Al-Sharif commented on #22
anyway, I disabled it with jquery by convert <a> elements to <h4> to remove the links 😄

[2017-08-20 10:14] madoar commented on #22
Ah, ok it seems like I've misunderstood your question. If I understand you correctly you want to disable the navigation functionality inside the navigation bar, so that the user is forced to only use your navigation buttons inside the wizard steps?
This is currently not possible, but you're right this is a good idea to add!

[2017-08-20 13:51] madoar commented on #7
Ok, I've put some more thoughts into this.
My idea is to introduce three "navigation modes" for the wizard. These modes describe the possible behavior for the navigation between steps:

- **strict** navigation:
   The first navigation mode is strict navigation. This mode describes the status quo, i.e. the current navigation behavior of the wizard. Currently you can only navigate through the wizard

[2017-08-20 14:11] relics123 opened #24 "Wizard and Wizard-step not getting recognised when used in Modules"
![screen_shot](https://user-images.githubusercontent.com/13677250/29495594-1b1aba16-85e0-11e7-8d60-c9959374f3a2.jpeg)
Hi ,
I have one Main AppModule and inside that I have one sub Module Subscription Module which I am loading through Routes.

The Wizard and Wizard-step is not getting rendered properly.

If I put the HTML and CSS together in any of the component in the Main App Module. It works.
Bu

[2017-08-20 14:22] madoar commented on #24
Hmm, without providing your source code it's hard for me to point out the source of the problem.
My suggestion is to take a look at the demo application at https://github.com/madoar/ng2-archwizard-demo, because it is created using submodules. Each demo case is created as a submodule that imports the `WizardModule`.

If this doesn't help you feel free to write a comment.

[2017-08-20 16:08] relics123 commented on #24
Hi Madaor,

Thanks for the reply.
(I am new to Angualr2 so please bare with me for the basic things)
Actually I am doing a lazy module load through routes.
I forget to import 'wizardmodule' in the sub module.

https://github.com/fredguile/ng2-md-datatable/issues/37 (helped me)

It is working now.

Thanks
Manish Pandit

[2017-08-20 16:08] #24 closed

[2017-08-21 10:33] Al-Sharif opened #25 "there's tooltip on whole page included Step Title !"

[2017-08-21 10:36] Al-Sharif commented on #25
solution : $("wizard-step").removeAttr("title"); 🗡

[2017-08-21 16:28] madoar commented on #25
I've asked myself for quite some time where the title comes from...

Thanks for the bug report!
I must confess that I'm not sure how to handle this issue, because the only good way I know of to solve this problem is to rename the `title` input of the wizard steps.
The problem with this approach is, that this would break the backwards compatibility of the library, which I would like to prevent.
May

[2017-08-22 14:07] water42 opened #26 "Flexbox in wizard step"
In this image the wizard-step does not get set to 100% of the wizard (which is set to 100% of its container in my app). So "space-between" does not have the desired effect.

![image](https://user-images.githubusercontent.com/12549876/29569420-75b7e628-8721-11e7-8423-da0ab750c76a.png)

code:

[code]

Basically I want the component to start directly under the navigation and the HR to be at the botto

[2017-08-22 14:37] water42 commented on #26
FWIW by adding `height: 100%` to the wizard component styles, my issue is solved. Not sure if this is a bug or I was using flex boxes wrong.

[2017-08-22 19:49] madoar commented on #26
I'm not sure I understand your request.
Basically you want to make the wizard fill out the full height of your browser window, is this correct?

I've never tried this before, but basically you would need to give the wizard a height of `100%` and then tell the wizard step to fill the available space completely.
The last part is a little problematic, because the `wizard-step` component, which you're

[2017-08-23 01:32] water42 commented on #26
Hm yeah unfortunately I don't entirely understand what's happening. Here is the element I need to have a height: 100%:

`<div _ngcontent-c4="" class="wizard-steps horizontal" ng-reflect-ng-class="[object Object]">`

In my original screenshot, it is the element that is the parent of the selected wizard-step. If this element does not have height 100% (I'm setting it manually by interacting with the

[2017-08-23 14:09] water42 commented on #26
Custom wizard steps served as a good enough solution to the problem so I'll close this for now. thanks

[2017-08-23 14:24] madoar commented on #26
The overall problem with a fullscreen mode for `ng2-archwizard` is, that it requires quite a few additional `height: 100%` settings, like you previously discovered.
If the wizard shouldn't be shown in fullscreen, these height settings need to be removed, because otherwise some strange height effects can occur.
The only good solution I can imagine for this is to add an input to the `wizard` compone

[2017-08-23 15:20] water42 commented on #26
Yeah that would be great. Can I try implementing that feature?

On Aug 23, 2017 10:24 AM, "madoar" <notifications@github.com> wrote:

[2017-08-24 08:53] TMaster opened #27 "Style the li navigation links"
Hi,

My application has a gray-blackish theme.
When I added the wizard control it seems that the current step is disabled and the second step is the active one (Due to the default style provided by the control).

Is there a way to provide my style to the control? (I tried to add a class attribute but it doesn't seems to work).

Thanks,
TMaster

**UPDATE**

I did dig a bit in the code and I think I

[2017-08-24 19:43] madoar commented on #26
Feel free to give it a go :)
I think I'll have some time next week to work on `ng2-archwizard` again.

[2017-08-24 19:48] madoar commented on #27
Currently it's not possible to modify change the style of the wizard core components (mostly the navigation bar) from outside.
The only way to modify the style of the navigation bar is by modifying the source code and then by building `ng2-archwizard` yourself.

The less file you've found is the right place to search for the styles for the horizontal navigation bar. If you're using the vertical la

[2017-09-07 10:05] sergiu79 opened #29 "On MS Edge the wizard step2 content is not displayed until I click on DOM"

[2017-09-07 10:08] madoar commented on #29
Hmm, can you please post a screenshot and maybe a short code example, that produces this error for you? In addition it would be helpful to know your browser version. I guess you're using windows 10?

[2017-09-07 10:11] sergiu79 commented on #29
`<div class="wizard-steps horizontal" _ngcontent-c0="">

            <wizard-step hidden="" _nghost-c1="">

                <div class="container">

                    <div class="buttons">
                        <button class="pat-button default next" nextStep="">
                            Volgende
                        </button>
                    </div>
                </div>

  </wizard

[2017-09-07 10:12] sergiu79 commented on #29
![image](https://user-images.githubusercontent.com/5412287/30158500-c9053ac8-93c5-11e7-8fed-c7b2d5c238e5.png)
 Step 2 after clicking next on step 1

[2017-09-07 10:13] sergiu79 commented on #29
![image](https://user-images.githubusercontent.com/5412287/30158556-eca17aaa-93c5-11e7-9d0a-1e683f84398e.png)
Step 2 after clicking on DOM (anywhere)

[2017-09-07 10:14] sergiu79 commented on #29
I suspect is some CSS height property or maybe some Angular related issue or something should be done somewhere on ngOnInit

[2017-09-07 10:18] sergiu79 commented on #29
Yes, I am on Windows 10 , Edge browser.
For other browsers, including the IE 11, it works

[2017-09-07 10:19] sergiu79 commented on #29
I know Edge sucks

[2017-09-07 10:26] madoar commented on #29
I see, that you've changed the navigation bar layout/design.
Can you please test if the default layouts, i.e. the ones provided directly by `ng2-archwizard` work correctly?

In addition:
I like your layout/design! If you're interested, we could add it to `ng2-archwizard` directly.

[2017-09-07 10:30] sergiu79 commented on #29
On Chrome/ other browsers looks like this:
![image](https://user-images.githubusercontent.com/5412287/30159268-4ab85760-93c8-11e7-8ac1-46fdef892e09.png)
I had to add a little patch to have the same distance in IE between step indicators

[2017-09-07 10:32] sergiu79 commented on #29
I think in  Edge the `hidden` attribute is not adjusting properly

[2017-09-07 10:42] sergiu79 commented on #29
It is kind of hard for me to test now the original implementation because on my remotely dev machine I have Window Server 2012 with IE 11 and the screenshots are from a test environment where I don't have access to publish at this moment, kind of hard to explain either

[2017-09-07 10:44] madoar commented on #29
Does Edge show the official demo (https://madoar.github.io/ng2-archwizard-demo/#/navigation-symbol/custom) correctly?

[2017-09-07 12:09] gate3 opened #30 "clickable steps"
Hi, Is there a way to make steps clickable.

[2017-09-07 17:17] ishwinder opened #31 "Expose the wizard as Service"
Expose the wizard as a service so that it can be operated dynamically as well.
Current use case that I am dealing with is the introduction of a step dynamically in forward direction into the wizard based on certain condition.

[2017-09-08 09:35] madoar commented on #30
What do you mean with `clickable`? Do you want to be able to select the steps in the navigation bar of the wizard? If yes, which steps should be selectable?
Currently it's possible to select all **completed** wizard steps in the navigation bar. This will transition the wizard to the selected step.

[2017-09-08 09:38] madoar commented on #31
Are the possibly to be inserted steps previously known, and should these step always be inserted at a fixed position?
If yes, you can use `*ngIf="condition"` to only show these conditional steps in case a certain condition has been fulfilled.

[2017-09-08 09:41] gate3 commented on #30
Thanks for the response. Clickable being completed works as well, it
doesn't defeat the validation purpose.
On 8 Sep 2017 10:35 am, "madoar" <notifications@github.com> wrote:

[2017-09-08 09:46] madoar commented on #30
I'm currently working on the implementation of different navigation modes (see #7). This enables you to remove some limitations when doing a step transition.
The problem when using the navigation bar for navigation purposes is, that you don't have a `finalize` callback available, like you have when using the `nextStep`, `goToStep` and `previousStep` directives.
I'm currently thinking about how to

[2017-09-10 11:42] ishwinder opened #32 "Webpack Build Failed"
ERROR in ./node_modules/ng2-archwizard/index.ts
Module build failed: Error: Typescript emitted no output for /home/test/apps/test-webpack/node_modules/ng2-archwizard/index.ts.
You should not need to recompile .ts files in node_modules.
Please contact the package author to advise them to use --declaration --outDir.
More https://github.com/Microsoft/TypeScript/issues/12358

This is the error I am ge

[2017-09-10 11:57] madoar commented on #32
I think I know where this comes from. I believe the problem should be easily solvable if I rename the file `index.ts` to `index.js`.
Can you try, if this solves the problem?

Just out of interest:
What version of typescript and angular are you using, and are you also using angular-cli?

[2017-09-10 14:56] ishwinder commented on #32
Yups, this fixes it .. I am only typescript 2.4.1 and angular 4.3.6

[2017-09-11 08:12] mrelics opened #33 "[canExit]="checkForm()" keep on getting called"
Hi ,

I have kept this function to check whether STEP one form is Valid ( as user might do an inspect element and remove disabled from the button) to recheck.

But now the checkForm function keep getting called n number of times even though I have not initiated any action.

Please help me.

Thanks
Manish Pandit

[2017-09-11 08:49] madoar commented on #32
I'm going to reopen this for now, as a reminder for me to rename the file in the main repository.

[2017-09-11 08:59] madoar commented on #33
I believe the reason for the multiple calls is angular checking if the value `canExit` has changed.
As far as I understand angular it rechecks each value to detect changed in the input and output values.
This is necessary to automatically propagate these changes to the visible parts of the components.

For example:
Let's assume you set the title of a wizard step via `[title]="wizardTitleVariable"`

[2017-09-11 12:10] mrelics commented on #33
Hi Madoar,

Thanks it worked ..but still there is something going wrong. in my false condition the checkChange() gets called only once.

But when it is true it get called twice.

checkChange(): boolean {
    if (this.child.formG !== undefined) {
      console.log(this.child.formG.invalid);
      if (!this.child.formG.valid || this.child.formG.controls.isTCAccepted.value === false) {
        this.g

[2017-09-11 13:50] mrelics commented on #33
Hi,

When I debug I found that when it is moving to Step i.e gotoStep. It calls the Canexit function again.

inside this WizardComponent.prototype.goToStep

This happens 2d time .For the first time when can exit return true it goes to gotoStep and from there inside it again check can exit.

Thanks
Manish Pandit

[2017-09-11 18:26] madoar commented on #33
I'll take a look at this, and I'll try to remove the second lambda call.

[2017-09-11 18:41] ishwinder commented on #31
Yes, they are known that they can be inserted depending upon the a particular condition in previous step.

Consider this:

1. In a 3 step wizard, a step can be inserted between step 1 and 2 depending upon some condition in step 1. This step is hidden to start with using *ngIf
2. I am step 1 and I send an event after step 1 which tells if the step can exit or not and simaltenously set the condition

[2017-09-12 04:58] lexcaraig opened #34 "perform goToStep programatically"
I should be able to use the goToStep or be able to go to specific step upon initialization of the component based on some condition or based on a route params.

this would be so helpful.

Thanks a lot!

[2017-09-12 06:12] ggoforth commented on #27
First, the wizard rocks and saved me a ton of time having to build it myself.  Thank you!   I'd like to second TMaster, would be great to be able to change the `done` colors to fit with a sites theme.  Thanks again for all of your work!

[2017-09-12 19:15] mrsweaters commented on #25
I vote the attribute be renamed to `wizard-step-title`, seeing as how a native DOM attributes already exists with the name `title`.

[2017-09-13 10:26] madoar commented on #34
I believe this is a duplicate of #19.

[2017-09-13 10:26] #34 closed

[2017-09-13 10:32] madoar commented on #27
I would love to enhance the possibility to style the wizard from outside the component/module.
The problem I see, and don't know how to solve, is how to pass the style from outside the component to the navigation bar.
The navigation bar is currently not visible to the developer, in addition I've done some tests a while ago where I tried to "simply" define some classes used by the navigation bar fr

[2017-09-13 23:26] lexcaraig commented on #19
Any update on this? Thanks!

[2017-09-14 16:28] madoar commented on #7
Ok, I've now implemented the three navigation modes and merged them to the master branch.
Before I do a new release I first want to do some of the other open issues, therefore you will need to wait a while before you can see the changes on `npm`.
In case you want to give the new modes a try feel free to build the master branch and test it.

[2017-09-14 16:28] #7 closed

[2017-09-14 17:02] madoar commented on #19
I've just opened a new branch and a PR for the required changes.
But I'll need to write a few more tests for this and I'm also thinking about maybe changing/improving the variable names.
If you can live with this feel free to test my branch https://github.com/madoar/ng2-archwizard/tree/add-default-step-selection.
If you find anything you think can be improved don't hesitate to add a comment here.

[2017-09-16 20:39] madoar commented on #19
Ok, I've just merged #37 into the master branch. Which means, that it's now possible to select a different default step, than the first one.
For more details about how to do this, please take look at the `README` file.
Please be aware, that it will still take a while until I do the next release of `ng2-archwizard`, because I first want to work on some additional issues.

[2017-09-16 20:39] #19 closed

[2017-09-18 14:51] ggoforth opened #38 "Allow canExit functions to return promises"
Upon resolving, the step would exit if resolved to something truthy, or not if something falsey.  A trivial example I can think of would be checking a proposed username against the server before you leave the step.  One I am dealing with in my app is getting a Stripe token from CC fields when we leave the step.

Or maybe there is a better pattern I should be using for these kinds of checks?

[2017-09-19 10:55] Al-Sharif commented on #25
I'm with @mrsweaters , you should change `title` to `wizard-step-title` , and no problem if you change something will fixes issues forever even in backwards compatibility, you should push new major release with attention for your changes.

I would like if you can make an option to make step title is clickable or not. while i had requirements in this application (http://muscatcapital-sa.azurewebsit

[2017-09-19 18:53] madoar commented on #22
Ok, I've just merged my PR for this issue (see #39).
It will still take a while until I do the next release on npm, therefore if you want to use this now, you will temporarily need to build `ng2-archwizard` yourself.

[2017-09-19 18:53] #22 closed

[2017-09-19 19:15] #30 closed

[2017-09-19 19:17] madoar commented on #38
You're right, this is a problem case that doesn't work currently, because `canExit` currently only takes a synchronous function.
I'll take a look at this.

[2017-09-19 21:06] pymob commented on #38
Wrap the input in a form and use an async validator for the CC field. Then you only need to pass `[canExit]=myForm.valid` to the wizard.

That way you are able to provide proper feedback immediately to the user like error messages and such.

[2017-09-20 05:46] ggoforth commented on #38
Hmm, I'll look into that @pymob.  I'm using Stripe elements, so not positive how much control I have since the actual input is mounted by stripe.  And I like using the reactive forms `.valid` as the boolean for the step.  That being said, I think this use case of using a promise is still valid.

[2017-09-20 09:48] avril-verhaeghen commented on #27
@madoar The "problem" with the "extra" attributes is because in Angular each component has it's own scope. This principle has been also taken in place with styling. Angular it is called [encapsulation](https://angular.io/guide/component-styles#view-encapsulation).

It's very simple to remove the encapsulation, but then you're going to have some issues with "general styling" if someone by accident

[2017-09-20 10:09] madoar commented on #27
@avril-verhaeghen thanks for the information!
Can you tell me, how you would like to give the css file to the wizard component and how to apply the css file afterwards?

[2017-09-20 11:53] avril-verhaeghen commented on #27
@madoar I'm figuring out how to do this, but as I'm thinking about it could create an HTML security issue.

See, it's easily possible to pass the location of a CSS file to a component, but then the component needs to inject that CSS file directly into the DOM. Which actually is a bad idea.

Not sure how other modules handle their styling to be able to be overwritten. If you want I can have a look

[2017-09-21 11:10] aishwaryagarg opened #40 "ExpressionChangedAfterItHasBeenCheckedError when using *ngFor on wizard Step"
Getting following error when I tried to use *ngFor on wizard Step.
ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'true'. Current value: 'false'.
Please help!

[2017-09-21 11:12] madoar commented on #40
I need a bit more information to help you.
Which version of `ng2-archwizard` are you using? Where does the error occur (did you get any line information)? How does your code look like?

[2017-09-21 11:19] aishwaryagarg commented on #40
I am using 1.6.2 version.
Please have a look on code below-

<wizard>
  <wizard-step title="demo" *ngFor="let wizard of field.wizardSteps">
    Content of Step 1
    <button type="button" nextStep>Next Step</button>
    <button type="button" goToStep="2">Go directly to third Step</button>
  </wizard-step>
</wizard>

[2017-09-21 11:30] aishwaryagarg commented on #40
Please let me know If you need some more information

[2017-09-21 11:32] madoar commented on #40
Can you please also add your typescript code, belonging to the snippet?
Ideally it would be nice to have a working code sample that produces your described error.

[2017-09-21 11:45] aishwaryagarg commented on #40
I just followed you documentation, It works fine untill all wizardsteps are seprate, But as soon as I have added ngFor this issue generates.
my array has a  very simple structure
`wizardSteps = [
{"title": "abc", "title": "pqr", "title": "xyz" }
]`

[2017-09-22 10:32] madoar commented on #40
It looks to me like you're creating the `wizardSteps` wrong, because you're only creating a single json object inside with three `title` fields.
Sadly I haven't found the time yet to test `*ngFor` in combination with the wizard steps yet.
It would be best if you could provide a fully executable sample that produces your described error during runtime.

[2017-09-22 10:33] madoar commented on #27
@avril-verhaeghen feel free to give it a go :)

[2017-09-22 10:36] madoar commented on #25
Just as a short heads up:
I've decided to rename `title` to `stepTitle` and `titleTemplate` to `stepTitleTemplate`. I hope this solves the problems.

@Al-Sharif I've taken a look at your website, it seems like you require an inverted option for the navigation bar?

[2017-09-22 16:57] #25 closed

[2017-09-22 19:40] #32 closed

[2017-09-22 21:54] sivadinesh1 opened #43 "need example for form submit using wizard"
Wizard standalone works great. with info and some html. Iam struck when trying to wrap it up with some form tags like text box. My goal is to get inputs of user and submit.

<wizard #wizard>
    <wizard-step title="Steptitle 1">
<form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="sign-up-field">
        <input id="username" type="text" class="text-input" ngModel name="username" required p

[2017-09-22 22:02] madoar commented on #43
I'm not sure, where the `form` tag or the input component comes in in your example?
A few weeks ago someone else asked a similar question I believe: #21.
Basically you need to wrap the content of the step inside a form. Afterwards you can just bind `form.valid` to the `[canExit]` property of the step.

[2017-09-22 22:42] sivadinesh1 commented on #43
wraping whole wizard inside a form tag throws errors. My goal is to get inputs from the form and submit to server.
specially forms like these when added inside the wizard step or outside wrapping both gives either compile time or run time errors.
<form (ngSubmit)="onSubmit()" #f="ngForm">

Can we use this wizard for my usecase of form submit?

[2017-09-22 23:10] sivadinesh1 commented on #43
This Solved my issue:
"Basically you need to wrap the content of the step, the step itself or the whole wizard inside a form. "
You can close my issue.
One suggestion - As multi form or (wizard) based form value submit is a common usecase, example on it will greatly benefit the beginner guys like me.
thanks for the component. It has really saved a lot of time and frustration. Great!

[2017-09-22 23:10] #43 closed

[2017-09-23 12:30] #33 closed

[2017-09-23 14:24] mrelics commented on #33
Thanks a lot

[2017-09-23 14:25] madoar commented on #33
I forgot to add a comment here, asking you to test the PR.
@mrelics I guess it works as intended?

[2017-09-23 16:40] mrelics commented on #33
HI Madoar,

Sorry for asking you too much things , but do I need to make any additional changes in the code.

My existing code is as follow
Main Wizard
------------
<wizard-step navigationSymbol="2"  [canExit]="CanExitStep2">
    <app-step2 [subscriptionData]="subscriptionData"></app-step2>
   </wizard-step>

 canExitStep2: (MovingDirection) => boolean = (direction) => {
    switch (direction) {

[2017-09-23 18:10] madoar commented on #33
@mrelics what errors do you get?
On a short look I can see the following:
- `[canExit]="CanExitStep2"` I believe this should be ` [canExit]="canExitStep2"`
- Your `switch (direction)` is missing a `default` case
- Your step doesn't seem to have a `stepTitle`.

In addition it would be nice if you could format your code and comment it inside a code environment.

[2017-09-24 11:13] mrelics commented on #33
Hi Madoar,

I am not getting any errors , but still the recent changes which you have made to repository I want to adapt that.Here is my code.

subscription-wizard.component.html
[code]
subscription-wizard.component.ts
[code]

app-step2.component.html
[code]
Thanks

[2017-09-24 17:21] madoar commented on #33
In theory I think this should work.
I would suggest, that you add a `default` case to your `canExitStep2` method.
If it doesn't work I need a description of what doesn't work (because you're using quite a lot of features in your code snippet: i.e. `*ngIf` on steps, step validation through a form) and a minimum "working" project, with which I can experiment.

In addition I would suggest, that you u

[2017-09-24 18:35] mrelics commented on #33
Hi Madoar,

Thanks for your support. Your wizard is perfectly okay. I was doing some things wrongs. I am now saving the fields to the database on (stepEnter) event of Completion page.

Thanks
Manish Pandit

[2017-09-25 06:15] gmarab commented on #26
Any update on this?
I would also need to use this wonderful component in full video mode.
Thanks!

[2017-09-25 09:52] madoar commented on #26
Currently none.
@water42 do you still plan on implementing the feature?
Otherwise I plan to add this feature to the second next release.

[2017-09-25 16:06] mrsweaters commented on #25
@madoar Thanks!

[2017-09-25 20:17] #38 closed

[2017-09-26 08:31] avril-verhaeghen commented on #27
@madoar ok great 👍 ! I'll give it a try 🙂

[2017-09-26 09:07] avril-verhaeghen commented on #27
@madoar can you send me an email? I have an off-screen question about how you build it 🙂

[2017-09-29 08:11] achimha opened #52 "Rename project"
ng2-archwizard is not really a suitable name anymore as it targets Angular 4 and there will soon be Angular 4.

What about ngx-archwizard or ng-archwizard? Both are available in npm.

The upcoming 2.0 would be a good opportunity to make this change.

[2017-09-29 08:33] madoar commented on #52
`ngx-archwizard` seems to be already taken in npm (https://www.npmjs.com/package/ngx-archwizard).
I've thought about using `angular-archwizard`, but `ng-archwizard` would be a possibility too, what do you think is better?

Off-topic: I've released version 2.0.0 on npm two days ago, I just haven't had the time to add a new release to the github project yet.

[2017-09-29 08:37] achimha commented on #52
I have no real preference, angular-* is found often (it used to be associated with Angular 1.x but now it's popular for Angular >= 2 projects) and ng-* is frequent as well.

[2017-09-29 11:12] domrich commented on #52
"furqanaziz published 2 months ago
0.0.1 is the latest release
github.com/madoar/ng2-archwizard
MIT" ngx-archwizard seems to be exactly your code 2 month ago. You should try to contact furqanaziz and go for that naming.

[2017-10-01 03:19] unaor commented on #27
joining the request to change the colors maybe through a directive?

[2017-10-01 20:57] gioragutt opened #54 "Support RTL steps direction"
Hi, I've started using the wizard for a POC and it's amazing, first of all.

Only thing I'm missing is the option to reverse the order of the steps, so that the progression will be from right to left (we're writing in hebrew).

The preffered API would look something like:

[code]

this way it keeps the existing html API of `dir="rtl"`

[2017-10-02 04:17] yanlyan opened #55 "reset wizard on defined step index"
I have followed this issue fix [https://github.com/madoar/ng2-archwizard/issues/8](https://github.com/madoar/ng2-archwizard/issues/8)

but i got another error

`core.es5.js:1020 ERROR Error: Uncaught (in promise): TypeError: _this.wizard.reset is not a function
TypeError: _this.wizard.reset is not a function`

it seems function reset was not found in WizardComponent

can someone explain about this

[2017-10-02 04:19] yanlyan commented on #8
Hi @JuliaRakitina i got same issue but with different error message, what version are you using ?

[2017-10-02 08:31] madoar commented on #55
What version of `ng2-archwizard` are you using?
In the current version, i.e. 2.0.0, I've done some large refactoring, which moved some methods to different classes/components. The `reset` method belongs to these methods.

Starting from version 2.0.0 you use the `resetWizard` directive to enable the user to reset the wizard.
For an example, please take a look at: https://github.com/madoar/ng2-archw

[2017-10-02 08:35] madoar commented on #54
Yes you're right, we're currently missing an option to change the direction of the steps in the navigation bar.
I'm thinking about adding a new directive `reverseNavigationBar`, which can be added to the `wizard` component. If you add this directive it reverses the navigation bar.
Do you think this would fulfill your needs?

I'll try to implement this for the next release, i.e. 2.1.0.

[2017-10-02 08:54] gioragutt commented on #54
I believe that would be enough.
I don't mind the semantics of the change, whether it'd be a property of `wizard` (aka `dir`), or a directive, long as it does the job.

Also, thank you so much for the quick reply, I sincerely enjoy working with the library.
I have several other suggestions, I believe I've not seen what I was looking for in the README, so I'll gather up all the ideas I have and open

[2017-10-02 12:17] yanlyan commented on #55
I'm using version 2.0.0 and I'm just figured it out, the reset method is on the navigation. Thanks

[2017-10-02 20:16] CD-UNCC opened #56 "Remove selected as alternative to selectedStep. Selected is valid html"
Say there are 10 components in a module and one uses the ng2-archwizard. All other modules will fail at runtime if they use `selected` in a select/option html component.

[code]

[2017-10-03 15:48] madoar commented on #56
You're right, this can lead to a problem.
I believe it's best to also remove some other directive selectors, like `optional`, because they are too generic and used otherwise.

[2017-10-03 15:49] #55 closed

[2017-10-03 21:41] madoar commented on #56
I've just opened a new PR #57, which should fix this issue.
If possible, would you please test it?

[2017-10-04 17:52] CD-UNCC commented on #56
@madoar passes my current implementation and tests. Looks good.

[2017-10-04 21:47] gmarab opened #58 "perform goToStep programatically"
Hi @madoar,

I'm trying to change the step from the program using

@ViewChild(WizardComponent)
public wizard: WizardComponent;

but when I try to call, for example, this.wizard.goToStep (1); I always get the error that goToStep is not defined in wizard.

what am I doing wrong ?
would not you have an example to show?

Thanks in advance.

[2017-10-05 09:04] madoar commented on #58
Starting with version `2.0.0` I've moved some methods to other components/classes.
One such group of methods are the navigation methods, to which `goToStep` belongs.
These methods are now contained in the class `NavigationMode`, which you can get via `wizard.navigation`.

I would advise you to use the directives provided by `ng2-archwizard` whenever possible, to prevent internal changes made to `n

[2017-10-05 10:48] #56 closed

[2017-10-05 16:34] gioragutt commented on #58
@madoar regarding that, that makes the library rather limiting, if you have to rely on directives and not be able to programmatically control stuff.

The way to expose such behavior is to provide a service, which will wrap all this behavior, and users of this service won't have to be aware of internal breaking changes.

[2017-10-05 16:36] achimha commented on #58
The project was updated to version 2.0 which means there are breaking changes. I believe this is fairly normal.

[2017-10-05 16:41] gioragutt commented on #58
@achimha the problem is not that there were breaking changes. one can argue that a major version upgrade is a reason for breaking API changes, but that's not the point.

The point is that currently, there is no way to expose such behavior WITHOUT either braking changes or limitations on internal implementation, which are both bad things.

Deciding on an API, and exposing it through a service, rega

[2017-10-05 20:45] madoar commented on #58
With version `2.0.0` I split the wizard component in three classes:
- `WizardComponent` (the view/gui component)
- `WizardState` an injectable service, containing the state/model of a wizard component
- `NavigationMode` an interface containing functionality to navigate the wizard.

The `NavigationMode` interface was necessary in my eyes to make it easier to implement multiple navigation behaviors,

[2017-10-05 20:49] gioragutt commented on #58
@madoar couldn't see it in the README. Is there any `canContinue` directive to wizard steps?
f.e if I want to be able to continue only if the form is valid

[2017-10-05 20:52] madoar commented on #58
@gioragutt the wizard steps provide a `[canExit]` and `[canEnter]` input. This input can be either a boolean or a function providing a boolean and taking a `MovingDirection` enum. These inputs are then used to determine if the wizard can transition from the current step to the destination step.

[2017-10-05 20:57] madoar commented on #54
Ok, I've just opened a new PR, #59, to solve this issue.
The PR provides a new `navBarDirection` input for the `wizard` component. This input can be either `left-to-right` or `right-to-left`.
@gioragutt could you please test the PR to see if it works for you?

[2017-10-05 20:59] gioragutt commented on #54
@madoar can't really do that now, will do it tomorrow morning, but just to make sure - how do I test the PR locally?

[2017-10-05 21:01] gioragutt commented on #58
@madoar perhaps i'm talking about something more subtle.

can you use `canExit` to block traversal to a single direction? aka, can you validate that you can go backward from the step but not forward?

[2017-10-05 21:02] gioragutt commented on #58
I guess I can do `canEnter` on the next step, but perheps I want the step to be responsible for this logic, not the next step.

[2017-10-05 21:03] madoar commented on #54
You need to clone the repository and change to the branch `enable-navbar-reversal`.
Afterwards you need to run `npm i` in the project folder.
This should install the dependencies and also run the build script.
If this shouldn't create a `dist` folder you need to run `npm run build` too.
Afterwards you need to go to your own project folder and run `npm i --save path/to/your/local/ng2-archwizard`.

[2017-10-05 21:05] gioragutt commented on #54
Oh, so instead of providing `npm i -s` with the package name, I provide it with a path. Did not know that. Thanks bro! I'll be sure to check it tomorrow, although all that's needed is to install it in a [StackBlitz](www.stackblitz.com) demo and check it.

speaking of, providing a demo using `StackBlitz` is a good way to help people use your library.
It's like `codepen` and `jsfiddle`, except peopl

[2017-10-05 21:05] madoar commented on #58
Both the `[canExit]` and `[canEnter]` inputs can be set to a function, taking a `MovingDirection` and returning a boolean (or even `Promise<boolean>`) :)
Therefore you can either set `[canExit]` of the current step or `[canEnter]` of the destination step.

[2017-10-05 21:08] gioragutt commented on #58
Oh, so they receive the direction that is being validated. So basically this is the method would be invoked twice each traversal. Pretty nice idea.

The demo app is nice tbh, but it's missing code snippets.
You show a lot of cases, but you don't actually show what's going on being, without having to go to github and scan the repo.

[2017-10-05 21:08] madoar commented on #54
I already provide a demo at https://github.com/madoar/ng2-archwizard-demo, which can be tested online at https://madoar.github.io/ng2-archwizard-demo.
I currently don't have enough time to entirely rewrite the demo for another system.
But you're right I'll need to add a short example showing how to reverse the steps in the navigation bar.

[2017-10-05 21:09] madoar commented on #58
Yes I'm missing a code environment and an easy way to insert the code from the corresponding files :(
If you have a solution for that, feel free to extend/improve the demo and open a new PR :)

[2017-10-05 21:11] gioragutt commented on #58
@madoar I might. I'd look into how others are doing that, f.e [Angular Material](http://material.angular.io).

[2017-10-07 13:28] burakkilic opened #60 "'wizard-step' is not a known element"
Hello,

I'm using Angular 4 in my project. I added ng2-archwizard to my project like in the manual. I'm getting a lot of errors starting with

    'wizard-step' is not a known element

Where am I wrong?

[2017-10-08 10:09] madoar commented on #60
Without taking a look at your project it's hard for me to say where the problem is located.
My first guess would be that `ng2-archwizard` hasn't been added correctly to the project, i.e. that it either hasn't been added to the `package.json` file and therefore to your `node_modules` folder, or that it hasn't been imported to your angular app-module.
If this isn't the reason, I will need to take a

[2017-10-09 08:41] burakkilic commented on #60
Hello, thank you for the comments.

1 - I added "ng2-archwizard" to package.json as "ng2-archwizard": "2.0.0" and it is in "node_modules" folder.

2 - In  my top most module "app.module.ts" , I imported the library as

[2017-10-09 08:47] madoar commented on #60
This looks ok to me, how does the rest of your project look like?
How did you create it?
Maybe a look at https://github.com/madoar/ng2-archwizard-demo helps. This is a functional angular 4 project using `ng2-archwizard`.

[2017-10-09 08:49] burakkilic commented on #60
I think I found out the problem. I have imported the library on top most app module. I also have child modules and it worked when I import the library into them.

Sorry about that, and thank you for your time.

[2017-10-09 08:49] #60 closed

[2017-10-09 11:03] aishwaryagarg opened #61 "Not able to override Style"
Hi,
Congratulations for creating such a great wizard!
But I am facing issue while trying to write custom css.
1. the custom style is not reflected until I use ::ng-deep.
2. The custom style doesn't get preference if I not use !important

My main concern is, we can't use !important, as our project can be use by other projects as dependency. So adding Important at our level will reduce our platforms

[2017-10-09 12:34] madoar commented on #61
Nice to hear that you like the wizard :)
@avril-verhaeghen is currently working on a PR to enable customization of the css styles (see #46). Currently there are still some things to fix before I can merge this PR.
An example how this can then be used can be found here: https://github.com/madoar/ng2-archwizard-demo/pull/11/files

[2017-10-09 18:15] adriancho5692 opened #62 "Wizard step lazy loading"
Hi, is there a way to lazy load components inside a `wizard-step`?

For example, I have 2 `wizard-step` each one with a custom component inside. The first time that the wizard shows in the screen, those 2 components call the `ngOnInit()` function. Instead I need the second component to initialize just when the user reaches the second step.

Meanwhile I'm hadling this by using a `*ngIf` in every co

[2017-10-09 20:33] madoar commented on #62
`ng2-archwizard` currently doesn't support lazy step loading.
I guess you could use `(stepEnter)` to set a trigger, which you can afterwards check with `*ngIf` inside your step definition.

I'm not sure if this is a feature `ng2-archwizard` needs to support out of the box, because:
- I don't believe too many people need this
- I'm not really sure how to implement this out of the box (I know this i

[2017-10-09 20:37] madoar commented on #26
Just to give you a short heads up:
I currently don't think we need to add a new input to the wizard component for this feature, because I believe this can also be achieved by using #27 and #46.

[2017-10-09 20:39] madoar commented on #29
@sergiu79 did you have some success during your search for the error?
Sorry that I can't help you much here, but I'm working and linux and therefore I'm currently unable to test it on any windows browser.

[2017-10-09 20:41] madoar commented on #31
@ishwinder did you find a solution to you problem?
Sorry but I don't really understand what functionality you need, and how it should like.
I would need an example:
- to see what doesn't work currently and
- to understand how you would like to interact with the wizard.

[2017-10-09 20:52] madoar commented on #54
@gioragutt did you find the time to give #59 a try?
In either case I would to merge #59 tomorrow :)

[2017-10-10 20:03] AhmadShahid opened #63 "programmatically calling a goToStep Issue"
Hello!

I am facing an issue when programmatically call a goToStep method on my component it says.

I followed the exact same step that you specified on a ticket no [#17](https://github.com/madoar/ng2-archwizard/issues/17)

I m using a version  "ng2-archwizard": ",2.0.0".

[2017-10-11 13:21] scozma commented on #40
I have the same issue, which seems to be a feature of Angular (and not a bug) in dev mode.
I don't know what causes it when using *ngFor with ng2-archwizard, but **calling enableProdMode( )** when bootstrapping the app prevents the exception from being thrown. So this means the problem will appear only on dev mode. Some guys say something about using a setTimeout, but it was not the case for me. Y

[2017-10-11 13:28] madoar commented on #40
@scozma thank you for telling us how to solve the problem!
I've done some tests too and also stumbled over the previously stated error.
I believe that to solve this problem in a more clean way it's required to improve the lifecycle hocks used in ng2-archwizard.

This currently has no high priority for me.
In addition please use `ngFor` with caution in combination with the wizard steps! The reason

[2017-10-11 13:28] #40 closed

[2017-10-11 13:32] madoar commented on #63
Starting with version `2.0.0` I've refactored the codebase and moved some functionality to new components/classes.
One of these functionalities is the navigation logic. This logic can now be found inside the `NavigationMode` class, which has three implementations.
To access the navigation mode you have two choices:
- you can access the navigation mode via an injected wizard: `wizard.navigation`
-

[2017-10-11 14:14] #54 closed

[2017-10-11 14:20] SimonJang commented on #56
Any idea when this fix will be released? I'm experiencing the same problems and am unable to actually use this module.

[2017-10-11 14:21] madoar commented on #56
Today

[2017-10-11 14:35] SimonJang commented on #56
Ok great. Thanks!

[2017-10-11 18:24] ggoforth commented on #38
@madoar this is working great, by the way.  Thanks for adding this!

[2017-10-12 06:02] aislingvasey opened #65 "CSS styles"
Hi Wizards Makers

(I am new to Angular so I have limited knowledge if everything is this easy but) so far using your wizard has been great!

I see you are developing external CSS capabilities for the wizard's nav steps. It would be very useful to get a new release with that functionality.

Thanks very much
Aisling

[2017-10-12 09:19] madoar commented on #38
Nice to hear :)

[2017-10-12 09:23] madoar commented on #65
Nice to hear that the wizard works great for you.

About the css capabilities:
The PR working on enabling external css capabilities (#46) still requires some changes before it can be merged.
Therefore I believe it will take some more time before this can be released. In addition enabling custom styling of the nav bar may also require some other changes to the components to prevent unexpected behav

[2017-10-12 09:24] #58 closed

[2017-10-12 11:13] scozma commented on #40
Here is a solution for still working on dev mode:

[code]

[2017-10-12 13:50] madoar commented on #40
@scozma where should this code be inserted?

[2017-10-12 13:57] madoar commented on #40
@scozma do you want to provide an example for this in the demo repository (https://github.com/madoar/ng2-archwizard-demo) and submit a PR?

[2017-10-13 05:07] aislingvasey commented on #65
OK, thanks for the info!

[2017-10-13 05:07] #65 closed

[2017-10-13 10:34] scozma commented on #40
@madoar - Do you know why I am getting this error while trying to push the changes?

[code]

[2017-10-13 10:49] madoar commented on #40
@scozma you need to create a fork of the project first (https://help.github.com/articles/fork-a-repo/).
Afterwards you can push to your fork and open a new PR to the main repository.

[2017-10-13 11:21] scozma commented on #40
@madoar - Thanks! I didn't know I had to fork first. I created the PR:
https://github.com/madoar/ng2-archwizard-demo/pull/13
Please let me know if it's ok. Thanks!

[2017-10-16 11:31] PerumalJP opened #66 "ng2-archwizard module can't import with "strict": true flag"
Hi,
Congrats for awesome component! I am facing issues when i update the latest version 2.0.0 and above. If i import ng2-archwizard module set with **"strict":true** in tsconfig.json.
`import { ArchwizardModule } from 'ng2-archwizard';`
Error throws like
[ts] Could not find a declaration file for module 'ng2-archwizard'. '/mydir/node_modules/ng2-archwizard/index.js' implicitly has an 'any' type.

[2017-10-17 07:50] madoar commented on #66
I'll take a look at the code, to see where I'm using `any`.
I'm not sure, but it may be possible that it's required, if this is the case this will be hard to fix.

[2017-10-17 10:35] sajeelmunir commented on #63
Hi Madoar,

I'm having the same issue since updated to "ng2-archwizard" 2.1.0?

I would be grateful if you could provide me working code example?

Cheers,

[2017-10-17 11:13] AhmadShahid commented on #63
@sajeelmunir use this.wizard.navigation.goToStep instead of accessing it on a wizard instance. it solves my problem

[2017-10-17 14:10] sajeelmunir commented on #63
Shook-riya Shahid!

[2017-10-23 09:40] adskiremote opened #67 "this.wizard.reset() no longer working"
It seems the `this.wizard.reset()` no longer works.

I receive the error - `this.wizard.reset is not a function`.  I tried the examples provided in another issue post but to no avail.  I'm able to access the Wizard component using:

`  @ViewChild(WizardComponent)
  public wizard: WizardComponent;`

But seems as though there's no reset method any more.

[2017-10-23 10:27] madoar commented on #67
Starting with version `2.0.0` I've done some refactoring in `ng2-archwizard`. One of the made changes was to relocate the `reset` method to the `NavigationMode` classes.

The preferred way to access the reset functionality is by using the `resetWizard` directive.
This directive can be added to a button or a link. Afterwards the wizard will automatically reset when the user clicks on the element. I

[2017-10-23 12:01] adskiremote commented on #67
Hi Madoar,

I do need to call the reset myself.  That's perfect.  Thank you very much.

[2017-10-27 12:16] divisble commented on #27
Well... I'm using that plugin and when I set....
`<wizard [disableNavigationBar]="true" navBarLocation="">
   [...]
</wizard>
`
it cause hiding navbar :) Now we can write our own navbar with proper styles ;)
It's a hack, not solution, but i hope it will be work :)

[2017-10-31 16:33] #67 closed

[2017-10-31 21:04] ggoforth commented on #63
Having a similar problem, in my component I've got:

`import {WizardState} from 'ng2-archwizard/dist';`

and then in the constructor:

[code]

and I'm getting the following error:

`ERROR Error: Uncaught (in promise): Error: No provider for WizardState!
Error: No provider for WizardState!`

This is in a module that implements the actual `<wizard>` component, so I know things are wired up ok at the

[2017-11-01 17:09] madoar commented on #63
Hmm,
I must confess that I haven't tried to import `WizardState` directly from a component defined outside `ng2-archwizard` (even if I wrote in the `README` that it should be possible).

I have two ideas that may help:
1. can you try to add an `@Inject()` to your constructor call? I.e.:
   `constructor(@Inject(WizardState) private wizard: WizardState) { ... }`
2. can you try to add a provider to e

[2017-11-01 17:54] ggoforth commented on #63
I will try those things.  Right now I'm going the route of @ViewChild(WizardComponent) and I can get the wizard component that way.  How would I go about programmatically navigating with that?  I see `this.wizard.navigation.wizardState` but that yields:

[code]

[2017-11-01 18:04] madoar commented on #63
Nice to get such good feedback. Thanks a lot. About your problem:

You're misunderstanding the affiliation of the model parts, i.e. `WizardState` and `NavigationMode`.
The navigation mode is part of the wizard state, therefore it can be found in a field inside `WizardState`.
About the competencies of both classes:
- `WizardState` only contains the state of the wizard, and is therefore a model clas

[2017-11-01 19:36] ggoforth commented on #63
Ah, you're right,  I was confusing those.  So, I added WizardState as a provider in my main app module and can now import and inject it into my component that implements the wizard!  Thanks for that suggestion.  With the WizardState now (implemented as I did in my original comment), I don't see the `navigation` mode (via navigation  or navigationMode).  The object looks like:

![screenshot 2017-11

[2017-11-01 19:51] madoar commented on #63
The problem seems to be, that angular doesn't use the `WizardState` created by the `WizardComponent`, but creates a new `WizardState` object in your module.
You would need to configure angular somehow to inject the `WizardState` created in the `WizardComponent`, but I don't know how this can be done.

I think until we find a solution to this problem, you'll need to take the detour through the `Wiz

[2017-11-01 20:11] ggoforth commented on #63
Yep, got it working.  I neglected to checkout the prototype of the navigationMode.  My current findings are that when using the wizard ViewChild, the navigationMode is set to a string:

this.wizard.navigationMode === 'strict'; // true

If you navigate in a bit further (through `model`) we can get to the navigationMode.  I had neglected to look into the prototype of the navigationMode, but sure eno

[2017-11-01 20:16] madoar commented on #66
@PerumalJP sorry for my late feedback.
I had a little time today to experiment a bit with this.

Can you go to the `ng2-archwizard` folder inside your `node_modules` folder in your project and copy the `index.js` to `index.d.ts`?
After doing this your `ng2-archwizard` folder should contain both an `index.js` and an `index.d.ts` file with the same content, i.e. `export * from './dist';`.
Afterwards

[2017-11-01 20:17] madoar commented on #63
@ggoforth nice to hear :)
As a short note, the following should be shorter and equally work:

[code]

[2017-11-01 20:18] #63 closed

[2017-11-01 20:47] ggoforth commented on #63
Indeed it does, thank you!

[2017-11-02 05:41] AhmadShahid opened #68 "Navigation Bar Color issues"
Hello

When I make a step optional its color automatically green I need a way to programmatically change a step color

e.g if I am on step 1 and all the steps are optional now at start step 1 color should be customizable if step 1 is completed then step color should be green.

[2017-11-02 16:32] ryanmagits opened #69 "Support an initially empty wizard"
Hello, I hope the following makes sense. In my use case I dynamically construct a wizard based on 4 checkboxes on the page, with each check box corresponding to a wizard step using ngIf to show it.

The issue is, when the page first loads nothing is checked yet and I get this message:
"The wizard doesn't contain a step with index 0"

I have 'hacked' this by going into free-navigation-mode.js line

[2017-11-03 06:39] PerumalJP commented on #66
I have tried that as you said, even it shows the same error message.

[2017-11-03 09:34] madoar commented on #66
@PerumalJP can you post your project, otherwise it's hard to find the source of the problem, especially because a new `index.d.ts` file fixes the issue for my test project?

[2017-11-03 11:38] madoar commented on #68
@AhmadShahid thank you for sharing your thoughts.
Currently this is not possible. To change the colors you would currently need to rebuild/recompile `ng2-archwizard` with changed style information.

For the future it's planned to implement what you require, i.e. a way to change the style of `ng2-archwizard` without rebuilding `ng2-archwizard`. The issue related to this is #27.
Sadly I'm currently

[2017-11-03 11:48] madoar commented on #69
The wizard currently doesn't support your approach out of the box.

There are some things you can try to get it working:

- the first problem you're facing is, that your wizard doesn't contain a step during initialization. This can be solved by a `*ngIf`, which you can add to your `wizard`, that only adds the wizard to the dom, if it contains at least one step.
- the second problem, I see is, that

[2017-11-03 13:43] AhmadShahid commented on #68
@madoar  thank you for letting me know. let me give it a shot with a rebuild.

[2017-11-06 22:06] ChristianM92 opened #70 "Dynamically Change Navigation Mode"
So my application starts off the navigation mode on strict. Depending on what my function returns, I may want to set the navigation mode to free. I have tried to change it dynamically and the wizard doesn't seem to respond correctly. Is this functionality possible?

[2017-11-07 09:36] madoar commented on #70
What do you mean with function? Is this function called only once, during initialization, or at a later time, after the user has entered some input?
Currently the navigation mode is set only during the initialization of the page.
To change it later on, it would be required to implement an `ngUpdate` method, inside `WizardComponent`, which detects changes to the `navigationMode` and builds based on

[2017-11-07 14:23] ChristianM92 commented on #70
The function is called at a later time after some user input. Thanks for the feedback!

[2017-11-07 15:15] ChristianM92 commented on #70
@madoar So I am interested in making the changes and creating the pull request. But this is my first time contributing to a project like this. How do I go about with testing and doing this properly? I don't wanna mess anything up.

[2017-11-07 15:43] madoar commented on #70
@ChristianM92 nice to hear, that you want to give this a try :)

For testing I would suggest, that you take a look at other tests as a reference. All test files are named `*.spec.ts`, i.e. if you're making some changes inside `wizard.component.ts`, the related tests should most likely be contained in `wizard.component.spec.ts`.
If you require some help writing the tests I would suggest, that you t

[2017-11-09 08:57] kamlekar commented on #21
In my case, I want the form to be validated to go to next step. So, I am passing `validateForm()` inside `[canExit]` attribute. It seems this is being called multiple times which is also triggering the error messages. Hence, on init, when the fields are empty, the fields are showing errors.

How to fix this case?

[2017-11-10 11:23] madoar commented on #21
@kamlekar I think your problem is similar to #33. If the solution for #33 doesn't work for you, please post a working example, which illustrates your problem

[2017-11-17 10:44] vincent-cm opened #71 "Not able to know the current index and total index after a step enter."
If the wizard step is programmatically added, and then enter a specific step how I get which step I am in and what total step index is?

I think this feature is better to add on event emitter in (postFinalize)
considering each wizard step is programmed and determined by what value was submitted in the previous step.

[2017-11-17 11:56] madoar commented on #71
I'm not sure what you mean by programmed?
It's currently not recommended to modify the steps at runtime, especially the steps which are already completed, because the wizard doesn't detect the changes.
I.e. if you're currently located in the third step and remove the second one, you'll be located in the previously fourth step, without having the third one completed yet.

To detect the current step

[2017-11-17 21:41] gssjr opened #72 "[2.1.0] WizardComponent.navigation undefined"
I'm trying to use goToStep in code and have followed previous suggestions but the navigation property seems to be undefined. Let me know what other information I can provide to help.

Aside: Trying to jump to a specific step from a remote page. Is there a good way to use routing with wizard steps? The below example code gives console error: `ERROR TypeError: Cannot read property 'goToStep' of unde

[2017-11-20 14:53] hpribeiro opened #73 "Disable Navigation Bar not working"
Disable Navigation Bar is not working or I did not write correctly? I tried True,true and TRUE with and without quote but none of this worked.

![image](https://user-images.githubusercontent.com/26658279/33024146-73e73b20-cdf1-11e7-8e21-064a3b269c38.png)

[2017-11-21 10:36] matiullah-netlinks opened #74 "Dynamically add selectedStep to wizard-step"
How can I add selectedStep dynamically to wizard step?. for example I want the second wizard step to be selected by default.
here is my code

`<wizard>
    <wizard-step stepTitle="{{question.name}}" *ngFor="let question of questions">
    // code
   </wizard-step>
</wizard>`

[2017-11-21 11:01] madoar commented on #72
The problem is, that you try to access the navigation mode (i.e. `wizard.navigation`) inside a `ngOnInit` method. This is problematic because the wizard component itself sets the navigation mode inside a `ngAfterContentInit` method, which is executed after `ngOnInit` inside the lifecycle.
Can you try if a renaming of the method from `ngOnInit` to `ngAfterContentInit` solves the problem?

About usi

[2017-11-21 11:06] madoar commented on #73
Interesting, it seems I don't have an example for this.
Can you please try:
[code]

[2017-11-21 11:11] madoar commented on #74
I think you need to do two changes, to select the second step during initialization:
- change `navigationMode` to `free`, i.e.: `<wizard navigationMode="free">`
- set the selected step via its index: `<wizard navigationMode="free" defaultStepIndex="1">`

[2017-11-21 11:35] matiullah-netlinks commented on #74
Thanks @madoar , worked for me

[2017-11-21 14:06] #74 closed

[2017-11-21 14:41] gssjr commented on #72
It worked after: changing navigationMode to "free" and using the ngAfterViewInit lifecycle hook.

[2017-11-22 04:39] matiullah-netlinks commented on #74
@madoar  I'd be grateful if you could help me how to mark the previous steps as completed.

[2017-11-24 17:13] madoar commented on #74
Sadly this doesn't work automatic currently.
The reason for this is, that you can only mark a step as completed, it it's exitable, i.e. `[canExit]` returns/is `true`, which shouldn't be the case during initialization.

The best way to achieve what you require is to set the default step to `0` and manually move the required step.
This can be done via:

[code]

[2017-11-27 06:48] matiullah-netlinks commented on #74
There is an error `ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'goToNextStep' of undefined
TypeError: Cannot read property 'goToNextStep' of undefined`

[2017-11-29 07:34] Not-That-Guy commented on #73
I can also confirm that, neither disableNavigationBar="true" or [disableNavigationBar]="true" work.

[2017-12-04 11:46] kamlekar commented on #70
I have the same requirement. Is this been / being implemented? @ChristianM92  @madoar

[2017-12-04 18:45] ChristianM92 commented on #70
@kamlekar @madoar Other priorities on my project came up so I wasn't able to focus on implementing this feature. Hopefully someone else can add this feature.

[2017-12-10 19:35] asalhani opened #75 "Hide/show an optional step"
@madoar
I need your kind support to show me how I can hide/show an optional step using typescript.
I went through your code, I discovered that there is a [hidden()] function in wizard-step.interface.ts
([](https://github.com/madoar/ng2-archwizard/blob/4f8c2a319627d24617ae8681d78159c69dbecaec/src/components/util/wizard-step.interface.ts))
However, it only allow get, therefore, I can't set the step

[2017-12-11 13:51] hpribeiro commented on #73
I tried  `[disableNavigationBar]="true"` @madoar, but it only worked when I put `navBarLocation=""`

[2017-12-12 16:16] madoar commented on #73
I'm not sure, but it's possible that we have different expectations about what `disableNavigationBar` should do.

When you use `navBarLocation=""` you tell `ng2-archwizard` to not show a navigation bar.
Compared to this, `[disableNavigationBar]=""` only disables the navigation bar, i.e. prevents the user from being able to click on the labels inside the navigation bar.

[2017-12-12 16:18] madoar commented on #75
What do you mean by "hide/show"?
The `hidden` field inside `wizard-step.interface.ts` is used to mark the current selected step of the wizard and is therefore not exposed to outside components.

[2017-12-12 16:26] madoar commented on #70
I don't have time to implement this feature currently too.
But if anyone wants to give it a try, feel free to do so!

[2017-12-13 06:46] asalhani commented on #75
@madoar
what I meant with Hide/show is like the below senario:
Suppose I have a wizard with 5 steps. However, the 3rd step is optional and will be decided dynamically by user selection in step 1.
What I want is:  Initially, when the wizard loaded for 1st time, I want to configure wizard such as the 3rd step is hidden. However, when the user select a property in step 1, then the 3rd step should be

[2017-12-14 19:16] hpribeiro commented on #73
Yes I think i don't understand correctly what it does ahahaha. Sorry bro!

[2017-12-18 09:56] LastCodeDE opened #76 "ArchWizard Documentation"
I included the wizard like the example:

`import { ArchwizardModule } from 'ng2-archwizard';

@NgModule({
  imports: [
    ArchwizardModule
  ],
})
export class Module { }`

Unfortunately now is in my component.ts file no documentation to the tool included, normaly the intellisense of visual studio gives me the possible attributes and functions  of the included components.

.html file
`<wizard #wi

[2017-12-18 18:47] furqanaziz commented on #52
I do have `ngx-archwizard` and just forked this repo with minor changes. If you want `ngx-archwizard` I can pass it for this great project.

[2017-12-18 18:50] furqanaziz commented on #75
@asalhani Simply put *ngIf on the <wizard-step> you want to show/hide based on some user input from step 1.

[2017-12-18 19:02] furqanaziz opened #77 "Global configurations with forRoot(_options)"
I want to change the defaults for my project to fit the need and currently, I have to do everywhere in the project to keep all wizard symmetric. I think there should be an option in forRoot where the user can overwrite all defaults for wizard and wizard-steps globally.

[2017-12-20 14:01] madoar commented on #52
@furqanaziz I would like that alot :+1:

[2017-12-20 14:03] madoar commented on #75
It should work exactly like @furqanaziz wrote.
You just need to make sure that the user is only able to change the visibility of later steps than the one he is currently inside, otherwise the wizard will have a problem with its current internal state.

[2017-12-20 14:07] madoar commented on #77
About what kind of *defaults* are we speaking? The behavior of the wizard, the css stylesheets, or something else?
For the css stylesheets it's planned to make them changeable by supplying custom css tags inside the application using `ng2-archwizard`, see #46 and #27.
The problem here is that I'm currently low on time and would appreciate some help.

[2017-12-20 14:10] madoar commented on #76
Hmmm, I'm not sure what needs to be done to make visual studio (and other IDEs) show the documentation for `ng2-archwizard`.
If you (or someone else) know how this can be achieved, it would be nice if you could either open a new PR containing the required changes or send me a message telling me what needs to be changed :)

[2017-12-21 11:34] DeveBj opened #78 "Wizard not loading components for second time"
Am getting following error when calling the wizard component second time

**Console Error**

[code]

[2017-12-21 13:12] madoar commented on #78
I'm not sure what you mean by calling the wizard component a second time?
Could you add a short code example, that leads to the error? This would make it easier for me to help you solve your problem :)

[2017-12-21 13:16] DeveBj commented on #78
@madoar inside my wizard am having 5 menus when the 4th menu is clicked and when i Click nest and exit the wizard, after that am again invoking the wizard at that time nothing is displayed i means the menus, I think the wizard step tag is not initialised, am having a Lot of code so I think its quite not easy to post a Short code here, but this is my Scenario, can you at least throw some hints base

[2017-12-22 06:43] DeveBj commented on #78
@madoar  any idea ?..

[2017-12-22 15:48] madoar commented on #78
What do you mean with `menu`? Do you mean a context menu? A menu inside a sidebar/navbar or something entirely different? How exactly do you enter the wizard again? Do you use angular routing, or something different?

As a short term solution, to help you understand what exactly the wizard does, you can try changing the navigation mode to `free`, this should prevent the error from showing up.
Abou

[2017-12-26 20:21] #72 closed

[2017-12-26 20:46] gssjr opened #79 "[help wanted] How to proceed to next step only after successful http service call / dispatched action with ngrx store"
I'm wondering if anyone can offer some suggestions on how to accomplish the following behavior:

My Wizard is a form broken up over multiple steps. There is an http service call when pressing the next button on each wizard step. I want to only proceed to the next step if the service call is successful, otherwise display the error returned by the service.

If using plain injected Angular services I

[2017-12-26 23:16] madoar commented on #79
@gssjr take a look at the `[canEnter]` and `[canExit]` input parameters of the `wizardStep` directive and `wizard-step` component. These parameters accept functions returning a `Promise` object.
To convert an `Observable` to a `Promise` object, you can use the `toPromise()` function (see https://stackoverflow.com/questions/36777284/angular-2-convert-observable-to-promise).

[2017-12-27 17:03] vagostep opened #80 "Change Styles"
Hi, i'm wondering how is the way to change the default styles of the nav bar?

[2017-12-27 17:05] #80 closed

[2017-12-28 22:52] apawsey commented on #66
Just to add, I had the same issue, and adding the index.d.ts file with the following content seems to resolve it (haven't actually got round to testing the whole app, but everything builds nicely)
[code]

[2017-12-29 21:47] flibbertigibbet opened #81 "Navigation mode for sequential forward but free back navigation"
Would like a navigation mode in which the user can navigate back to any completed step, but can only move forward to the next incomplete step (or to any completed step); this would be like strict mode, but with free back navigation.

[2017-12-30 12:00] madoar commented on #66
@apawsey thanks for your help. Can you please try if your app still works with these changes?
If this is the case, do you want to open a new Pull Request?

[2017-12-30 12:02] madoar commented on #81
All modes support/allow free back navigation, i.e. if you're in the third step you're always allowed to enter the first or second step.

[2018-01-02 22:57] gate3 commented on #73
Don't know if i'm late but yes @hpribeiro  you can call the next step. Just get a reference to the ng2-wizard in your typescript function then use

[2018-01-02 22:58] gate3 commented on #73
On the other hand, i tried this

But i get an error that

[2018-01-02 23:11] madoar commented on #73
@gate3 which version of `ng2-archwizard` are you using?
`this.wizardReference.goToNextStep()` most likely won't work, because I've moved the `goToNextStep` method to another class starting with `ng2-archwizard` version 2.
The `goToNextStep` method is now located at `this.wizardReference.navigation.goToNextStep()`.

[2018-01-03 15:15] nolanrigo opened #82 "Implement [canEnter] and (stepEnter) inside my custom component"
Hello!

Thanks for this awesome module and time you spent on !

For my wizard, I use only custom components and I would like implement [canEnter] & (stepEnter) methods inside my custom component as object method.

I didn't find this information inside documentation, is this possible ? do you have any advices ?

Have a nice day !
Nolan Rigo

[2018-01-05 10:18] HemaDivami opened #83 "Give an identifier to a step and use goToStep using that identifier"
Hi,

I have a scenario where I have to move to a step in which sometimes the step maybe visible or maybe not. So, it will be a good idea to give an identifier to that step and move to that step so that identifier issues will not come.

For example,
`goToStep="address"` will move to a `wizard-step` which has its identifier as `address`.

Thanks.

[2018-01-06 13:35] nolanrigo commented on #82
I used the first solution and it works well ❤️. Thank you so much, you saved me a lot of try / debug / work time 😅.

[2018-01-06 13:35] #82 closed

[2018-01-07 23:04] madoar commented on #83
It is currently not possible to add an identifier to wizard steps, and then to navigate to them through said identifier.

What you can do is to use the index of the target step.
`goToStep` allows as an input a target step index.
If the index changes with some logic you can also provide a method to `goToStep` that returns the index of the target step the wizard should navigate to.

[2018-01-08 17:07] apawsey commented on #66
Seems all good in my testing.  Will do a PR when I get a chance

[2018-01-09 10:43] DeveBj commented on #78
@madoar  Sorry for the late reply, actually am having a side nav bar inside the wizard after clicking the specific menu and completing the wizard, let say am having 5 menus on the first click of 4th menu the wizard renders correctly once completing the wizard and again clicking the new button to creata new wizard am getting the above error, I have also user navigationMode but same error only am ge

[2018-01-09 13:53] patriceo commented on #75
Hi there ! First thanks for this nice component.

I'm trying to implement the same behaviour with step disabled when not applicable (depending on a REST api call), so I implemented a similar solution using a kind of:

`<wizard navBarLayout="large-empty-symbols">
        <wizard-step title="My Step 1" *ngIf="step1Available" navigationSymbolFontFamily="FontAwesome" navigationSymbol="&#xff19d;">

[2018-01-09 18:17] furqanaziz commented on #75
@patriceo Please try putting `?` after the `*ngIf` variable, I am in a hurry and will share the details later:

[code]

[2018-01-10 10:46] oliviya commented on #63
hi, should i import WizardComponent,
 if yes, is it from import {WizardComponent} from 'ng2-archwizard/dist';
i did as above but got this error 'Cannot read property 'goToStep' of undefined', can you please help

[2018-01-11 22:29] patriceo commented on #75
Hi @furqanaziz I managed to fixed it, but my fix is not that simple. I injected the ChangeDetectorRef in my component constructor and I called detach() before manipulating my variables then reattach() / detectChanges() right after.

However I will try your proposal !

[2018-01-15 18:45] myspivey commented on #75
I am having an issue where using *ngIf causes the steps to no longer function and transition between each properly. The second step ends up getting stuck if I hide the first step based off a variable. I noticed in the latest that there is no way to reset or rebuild the wizard programmatically either.

[2018-01-15 20:40] furqanaziz commented on #75
@myspivey do you mind sharing plunker or your code a bit, I thin there might be complex `canExit`/`canEnter` on second step possibly. You can hide first step / last step / any step with ngIf.

[2018-01-15 20:43] myspivey commented on #75
Sadly I can not but will try to get something together. Having said that, I do not have any canExit or Enter setup, it is using navigationMode="free" and that is all. It strikes me the issue is that if I hide the step after creation, instead of moving to the next step the component is staying on that first step even though it is no longer technically part of the process.

[2018-01-16 08:16] achimha opened #84 "Compile error with fullTemplateTypeCheck: true"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Angular 5.2 introduces a new AoT compiler option to perform a more thorough type check on templates. It is expected that this option will default to true in a future version:

https://blog.angular.io/angular-5-2-now-available-312d1099bd81

Building a project with ng2-archwizard shows one type error:

`node_modules/ng2-arch

[2018-01-16 08:40] asalhani commented on #75
Sorry for late follow up. I tried to apply the solution proposed earlier by @furqanaziz and @madoar, however it didn't worked. So what I did is I set the step to be optional then I rendered it inside <div>. After that I putted *ngIf on the div. This way I'm contrlling the visibility of <div> NOT steps.

Although this is worked for me, I highly encourage @madoar  to consider making this as configur

[2018-01-16 20:12] madoar commented on #84
Thank you for testing the library with angular 5.2!

Taking a quick look at the source code I'm not sure where the error is located.
The message points to both the html template of `WizardNavigationBarComponent` and to `GoToStepDirective`, but I'm not sure where exactly typescript/angular expects 0 arguments but gets 1.

Sadly I have no test project using angular 5.2, so it's hard for me to test t

[2018-01-16 20:17] madoar commented on #78
I still don't fully understand your question.
As far as I understand you have a navbar inside your wizard.
But what exactly the user can do inside the navbar I don't understand.

It sounds a little bit like you're trying to create a nested wizard (through "creating a new wizard" via the menu inside the navbar), this may be the reason for the above error message, because it's possible then that bot

[2018-01-16 20:30] madoar commented on #75
Ok, it's possible that I now know where the error is located.
The problem could be located in the way the wizard steps are internally managed.
Currently the wizard creates a model object at startup.
This model contains an array representation of the steps instead of the initial `QueryList`.
I don't think this array is updated automatically by angular, which can result in the problem, that changes

[2018-01-17 08:06] achimha commented on #84
The same problem might exist in other directives, sorry for the incomplete patch.

[2018-01-18 10:52] umeshka opened #87 "Unable to Import ng2-archwizard"
Hi All,
i am getting below error, while using 'madoar/ng2-archwizard'. Please help me to reslove the below issue.

![image](https://user-images.githubusercontent.com/22589628/35094600-b7a98fcc-fc6b-11e7-8e72-21eebbcbeb6d.png)

![image](https://user-images.githubusercontent.com/22589628/35094228-ad749a02-fc6a-11e7-81ef-4255e71c8572.png)

![image](https://user-images.githubusercontent.com/22589628/3

[2018-01-19 04:09] kahovn commented on #78
I have the same error
my problem: have 5 step in form, I want to display 3th step => how to do?
here my code:
<wizard defaultStepIndex="2">
</wizard>
The error: The default step index 2 is located after a non optional step

Please advance!

[2018-01-19 21:37] madoar commented on #84
@achimha no problem. Thanks for your effort!
Today I've pushed `ng2-archwizard` to angular 5 and prepared the project for a new development iteration (i.e. version 3.0.0).
I hope you can merge/rebase the current master branch in your PRs to ensure that the tests run correctly and everything is compatible.
Afterwards I would love to merge them :)

[2018-01-20 12:45] achimha commented on #84
Created a new PR https://github.com/madoar/ng2-archwizard/pull/89

[2018-01-22 06:31] umeshka commented on #87
Please help on above issue.

[2018-01-22 10:38] madoar commented on #87
@umeshka I've only used webpack before, therefore I'm not sure I can help you setting up the correct `system.js` import.
It's possible, that version `2.1.0` needs some additional changes to make it usable with `system.js`.

I'm currently working on version `3.0.0`, which will use a new packaging library.
As far as I've read this should enable you to import `ng2-archwizard` with `system.js`.
If you

[2018-01-22 12:25] MorlaRamakrishna opened #93 "Styles are not loading properly"
Hi,

I have tried to use this in angular 4 application.

I have installed via  **npm install --save ng2-archwizard**

Imported in module via **import { ArchwizardModule } from 'ng2-archwizard';**

Added code in my html file like below

[code]
but styles are not loading properly,  output is like below
![image](https://user-images.githubusercontent.com/26458893/35220662-3a56ea26-ff9d-11e7-9fc5-040ea

[2018-01-23 12:48] that0th3rGuy opened #94 "Support for IE < 11"
I'm using a wizard as part of an Angular application. When viewing the app in IE10 (compatibility mode), the steps are not toggled as expected. Rather, they're all displayed in order at once; please see the image below.

![image](https://user-images.githubusercontent.com/6961636/35275803-916f878a-0049-11e8-80c6-ca369819054e.png)

The buttons work, shifting the navigation pane around as expected, b

[2018-01-23 13:22] madoar commented on #84
This was fixed in #89.

[2018-01-23 13:22] #84 closed

[2018-01-23 18:25] madoar commented on #94
The reason for this is, that IE 9 and 10 don't seem to know the `hidden` property, which `ng2-archwizard` uses to hide the steps that shouldn't be shown.
Sadly I can't use `*ngIf` instead, because this would remove the steps from the navigation bar at the top too.

If you know of another way to make elements invisible, which works on multiple (all) browsers, feel free to either provide a new PR or

[2018-01-23 18:33] madoar commented on #93
Your code creates a wizard with the [default](https://madoar.github.io/ng2-archwizard-demo/#/basic) layout.
If you want to specify symbols inside the navigation bar for your steps, you need to do two things:
1) you need to change the navigation bar layout to a layout supporting step symbols
2) you need to specify a step symbol for your steps

An example, how this can be done, can be found [here](h

[2018-01-23 18:38] madoar commented on #78
@kahovn sorry for my late answer.

The message suggests that you want to set the third step as the default step.
The problem is, that either the first or the second step is not marked as optional.
To fix the problem you can either mark both the first and second step as optional, or set the navigation mode of the wizard to `free`.

I don't see your code. Can you please check that it's inserted corr

[2018-01-24 07:38] that0th3rGuy commented on #94
Thanks for the feedback!

This "hidden" property you're talking about. Is it an attribute on an element, or a CSS property, or something else?

[2018-01-24 21:04] #27 closed

[2018-01-25 10:51] madoar commented on #94
As far as I know `hidden` is a html 5 attribute (see also [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden)).

[2018-01-28 14:21] #31 closed

[2018-01-28 14:22] #70 closed

[2018-01-28 14:22] #75 closed

[2018-01-28 14:26] madoar commented on #61
Closed by #92, which enables the definition of custom styles outside `ng2-archwizard` to modify the look of the wizard.

To define a custom style, it's required to use `!important` to override css properties set by the wizard, otherwise the browser will automatically use the layout defined by `ng2-archwizard`.

[2018-01-28 14:26] #61 closed

[2018-01-28 14:27] madoar commented on #68
Closed by #92, which enables the definition of custom styles outside `ng2-archwizard` to modify the look of the wizard.

[2018-01-28 14:27] #68 closed

[2018-01-28 14:31] madoar commented on #26
Closed by #92.
I believe the height of the wizard should be changeable by overwriting the wizard `height` css property, which is possible with the changed introduced by #92.

[2018-01-28 14:31] #26 closed

[2018-01-29 08:33] SSchindi opened #96 "Can't Import in Angular 5"
Hey Guys

I'm trying to import this libary in my angluar 5 Project.
I installed it with Yarn (yarn add ng2-archwizard -s) and imported the archwizardmodule in my AppModule:

`import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { ArchwizardModule } from 'ng2-archwizard';
import { AppComponent } from './app.component';

@NgModule({
  declaratio

[2018-01-29 09:59] madoar commented on #96
The problem is, that you're using `ng2-archwizard` version `2.1.0`, while the syntax you're using is for version `3.0.0`, which is currently in development.

### About version `2.1.0`:
This is the current stable version, which you can download via npm and yarn.
To get the correct documentation for this version please take a look at the `README` file located at yarn or npm.
Please be aware, that ve

[2018-01-30 08:32] LastCodeDE commented on #76
I can not use the aot compile from angular because the archwizard haven't a documentation.

This is the error code of the aot-compiler:
`npm : client/app/shared/basic.module.ts(16,34): error TS7016: Could not find a declaration file for module 'ng2-archwizard'. 'Current.Directory()/node_modules/ng2-archwizard/index.js' implicitly has an 'any' type.`

I think you have to add a .d.ts file. I found t

[2018-01-30 16:09] vagostep commented on #63
@oliviya I have the same issue. I print in console the value of wizard:WizardComponent and see this:
![console](https://user-images.githubusercontent.com/15386436/35576771-d89e8502-05ad-11e8-9ecf-26de6890c237.jpg)

But when i print the value of wizard.navigation got `undefined`

So when i use the method goToStep fails.

How to solve this?

[2018-01-31 10:32] madoar commented on #63
@vagostep your screenshot suggests that in the first line `navigation` is not undefined.
Can you post us your code, so that I can check what exactly happens?
In addition it would be useful to know which version of `ng2-archwizard` you're using and with which browser you've tested it.

@oliviya sorry for my late response, somehow I overlooked your post.
Can you please tell me which version of `ng2-

[2018-01-31 10:38] madoar commented on #76
@LastCodeDE Are you using angular 5?
If yes, could you please try building the current master branch (i.e. version `5.0.0`) and see if it works?
The current master branch is using a new build system for the project.
After building the project with `npm run build`, please be sure to only add the `dist` folder to your application.

[2018-01-31 10:42] vinayistar commented on #23
Hi im getting `Unexpected value 'undefined' imported by the module 'AppModule' ` error in console. Since I have tried both from poweshell of VS and angular-cli. My problem is still not resolved.

As per @imagine4me  I m also facing problem but using node.js not system.js. I have followed full tutorial and done same as @imagine4me  has done.
Thanks in advance.. Help plz

[2018-01-31 10:46] madoar commented on #23
I'm currently working on a new version of `ng2-archwizard`, i.e. `version 3.0.0`.
This version uses a new build script, which should make it easier to use `ng2-archwizard`.
The new version will require the use of angular 5.
If you're already using angular 5 I would appreciate it if you can build the current master branch, to see if the new version solves the problem for you.
To build the new versi

[2018-01-31 10:48] madoar commented on #23
Please be aware that the new version contains some syntactical changes.

[2018-01-31 10:48] madoar commented on #76
Please be aware that the new version contains some syntactical changes.

[2018-01-31 10:52] vinayistar commented on #23
I visited to https://github.com/madoar/ng2-archwizard/blob/master/README.md and solved previous problem but as I followed this `'aw-wizard-step' is not a known element` error but if I use <wizard> instead of <aw-wizard> it works...Can u explain why its so??

[2018-01-31 10:54] madoar commented on #23
I don't understand: What did you use instead of it?

[2018-01-31 10:59] vinayistar commented on #23
What I have done is I have started with https://www.npmjs.com/package/ngx-archwizard with this NPM tutorial but Later I get to know https://www.npmjs.com/package/ng2-archwizard and solved the import problem of WizardModule.

Im Really confused with 2 NPM's. and also with this ReadME https://github.com/madoar/ng2-archwizard/blob/master/README.md

[2018-01-31 11:38] madoar commented on #23
Ok, I understand your confusion:
- **ngx-archwizard**: This package is not hosted by me, but it is based on my code. As far as I know it is based on version `1.x.y` of `ng2-archwizard`. As you can see the last release is also quite old, i.e. 6 months.
- **ng2-archwizard**: This is the official npm package for this project, and it is hosted by me. The current release stable version is `2.1.0`.
- **

[2018-02-01 06:51] vinayistar commented on #69
Hi.. please show some code for first problem. Since i'm using `wizard` tag in one component and `wizard-step` in another component and included in 1st component, Its showing same error. It will be a initialization problem. Show me some sample code of `*ngIf`.

[2018-02-05 08:59] robert589 opened #97 "How do i change the step from the typescript?"

[2018-02-07 09:11] SSchindi commented on #96
Now, i builded the package by myself and imported it to my project --> still the same problem.
Do you know when this package finaly comes out for Angular 5?

[2018-02-07 17:17] rmartz opened #98 "String concatenation in calculating destinationIndex for nextStep causes error when defaultStepIndex is set"
I am on ng2-archwizard 2.1.0 under Angular 4.4.5, and I am running into an error when I click a button with the `nextStep` directive if `defaultStepIndex` is defined on my wizard. The error is:
[code]

This appears to be because in `canEnterDestinationStep()`, `destinationIndex == "01"`, causing `getStepAtIndex(destinationIndex)` to return `undefined`:
https://github.com/madoar/ng2-archwizard/blob

[2018-02-08 10:11] sakthivelsubbarayan commented on #97
I have a same problem.I want to move the step dynamically from typescript.But  i don't see any reference from this plugin.

[2018-02-08 10:54] sakthivelsubbarayan commented on #97
Possible of #17 @robert589

[2018-02-08 11:33] madoar commented on #97
To manually change the current step of the wizard, you can use:

[code]

For more details please take a look at #63

[2018-02-08 11:33] #97 closed

[2018-02-08 11:44] madoar commented on #98
@rmartz Thank you for finding this bug!

Can you test if it works, if you change the line at https://github.com/madoar/ng2-archwizard/blob/master/src/navigation/wizard-state.model.ts#L51 to:

[code]

[2018-02-08 12:10] madoar commented on #96
How did you import the built library in your project?

About the release date:
I can't tell yet. I believe it will still take two to three weeks.

[2018-02-08 12:14] madoar commented on #69
@vinayistar I imagine something like

[code]

should work.

The above used syntax is for version `3.0.0`.

[2018-02-08 12:26] madoar commented on #98
A short appendix:
After a little [research](https://angular.io/guide/template-syntax#binding-syntax-an-overview) I've discovered, that angular recommends to (always?) use brackets (`[...]`) for data binding.
Therefore I think it's better to change the documentation to always use `[...]` for data bindings.

[2018-02-09 07:06] SSchindi commented on #96
I cloned the master branch, installed node packages and build de project. In my final project, i copied the dist folder and imported the main module. --> Still not working

Okay, i temporary programmed my own wizard based on routes and guards.

[2018-02-09 10:45] madoar commented on #96
Can you give me a small sample project, producing the error, so that I can debug it?

[2018-02-09 10:54] SSchindi commented on #96
i tryed it in a new, clean Angular 5 project with modules and submodules

[2018-02-10 21:41] GetTaxSolutions opened #99 "Can't navigate using component's typescript"
I want to go to the next step in component .ts file. I tried to inject WizardState in constructor but it throw this error:

I'm using Angular 5.2.1 with ng2-archwizard 2.1.0

How I can do it? Is there some example or documentation how to navigate using component or WizardState? What is the pattern to do it?

Thanks

[2018-02-12 07:54] LastCodeDE commented on #76
@madoar Thank you your answer.

I am using Version 2.1.0. I could not find a newer release version here.

Will it be fixed in a newer version?
How long do you think you need for the next release?

[2018-02-13 09:10] mubashshirul opened #100 "How to get selected wizard step ?"

[2018-02-15 01:30] felipealbrecht commented on #66
Please, can you included the fixes in the original package and release a new version?

[2018-02-18 01:18] acasciani opened #101 "Receiving StaticInjectorError[ViewContainerRef] with v-3.0.0 code"
I'm working in an Angular 5 project and pulled the Git repo down to my local environment. Here are the results of my build:
![image](https://user-images.githubusercontent.com/3029040/36347187-ee325662-141e-11e8-9c1c-43ecf03723d2.png)

Within the module file for component I have the following (pointed at the dist ng2-archwizard directory):
![image](https://user-images.githubusercontent.com/3029040/

[2018-02-19 10:40] Ahmadburghol commented on #96
I have the same problem, I just did the followings:

- npm install --save ng2-archwizard
- import {ArchwizardModule} from 'ng2-archwizard';
- add imports: [ArchwizardModule]
- put the html snippet into my empty html

[2018-02-19 11:20] #83 closed

[2018-02-19 16:12] madoar commented on #99
This is an error in the documentation.
To access the `WizardState` object you need to use the roundabout way through the `WizardComponent`:

[code]

[2018-02-19 16:16] madoar commented on #100
You can query the selected wizard step via the `WizardState` of your wizard:
[code]

[2018-02-19 16:19] madoar commented on #96
@SSchindi I've planned to write a short documentation how to build `ng2-archwizard` and how to correctly include it inside your project.
@Ahmadburghol The root of your problem is the same as the initial problem of @SSchindi, i.e the used syntax is for version `3.0.0`, while the used library version is `2.1.0`.

[2018-02-19 16:19] #98 closed

[2018-02-19 16:19] #99 closed

[2018-02-19 16:19] #73 closed

[2018-02-19 16:22] madoar commented on #101
How are you adding `ng2-archwizard` to your dependencies?
Are you using `npm install ...` or something different?
Which folder are you adding/installing?

[2018-02-19 16:26] madoar commented on #76
I want to have it fixed in a newer version.
The current development version is `3.0.0`, which you currently need to build yourself to use it.
I still need a few weeks, because I need to change the demo project to be compatible with the version `3.0.0`.
In addition I still want to change some small parts of the code.

As a note:
To use version `3.0.0`, I believe you'll need to use angular 5, otherw

[2018-02-19 16:44] Ahmadburghol commented on #96
So, what do you suggest ?

[2018-02-19 17:10] madoar commented on #96
@Ahmadburghol The same solution I suggested @SSchindi, i.e. building version `3.0.0` yourself and test if it works for you.

When importing the library I suggest to use `npm install --save path/to/ng2-archwizard/dist`.
Afterwards you should make sure that npm doesn't create a symlink to the dist folder, because angular seems to have some problems with symlinks.

In addition I would like to hear if

[2018-02-19 22:25] acasciani commented on #101
I cloned the ng2-archwizard to a local directory, ran "npm run build" within the ng2-archwizard project, then referenced the relative path to the dist folder.

![image](https://user-images.githubusercontent.com/3029040/36399427-d9d5565c-1599-11e8-8dea-c275dcf7805c.png)

[2018-02-19 22:32] acasciani commented on #101
Update:

I `npm install ...` into my project, then copied and pasted the dist from the cloned and built directory into the npm package and it looks to work now. This is resolved. Looking for the Angular 5 release but this will work in the meantime. Thanks!

[2018-02-19 22:32] #101 closed

[2018-02-23 10:36] martinobordin commented on #96
Error using angular/cli "^1.7.0":

Error: D:\MPS\MpsWeb\node_modules\ng2-archwizard\index.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
The missing file seems to be part of a third party library. TS files in published libraries are often a sign of a badly packaged library. Please open an issue in the library repository

[2018-02-26 14:46] blogcraft opened #105 "Instructions on the Github page are wrong"
The readme in the Github project won't work given the npm package that it asks to install `npm install --save ng2-archwizard`
It appears that they are for a different Version that is not the one that is the current npm build. If there is an other version, it is NOT stated in the documentation.

For example, in the Github readme there is an `<aw-wizard`> tag and in the current version it is `<wizar

[2018-02-26 16:18] blogcraft opened #106 "Support for changing the default navBarLayout (Other than a circle)"
There should be a way to change the color and shape of the navBar items.

Example:
Default is the current circles.
Be able to change the shape to square or rounded square
Be able to change color scheme.
etc.

Also in phone size screens, being able to only show the current step. Maybe show an indicator of the previous and the next one but not more (for example if my wizzard has a lot of steps).

Th

[2018-02-27 01:17] felipealbrecht commented on #96
How I am using with angular 5:

Clone the project:
git clone https://github.com/madoar/ng2-archwizard.git

In my project directory:
npm install --save /home/albrecht/development/ng2-archwizard

Pay attention that is ng2-archwizard, *not* ng-archwizard/dev.
Also, change /home/albrecht/development to the directory where you cloned the ng-archwizard repository.

In your project, open your package.js

[2018-03-06 11:33] gate3 opened #107 "Previous button not working"
Hi, thanks for this fine library. It's been performing well so far but I encountered a strange problem recently. I created a wizard with four steps, and everything works fine when i try to use previous and next buttons from step1 and step2. When i get to step3 it allows me go back to step2 but I cannot seem to access step1 any longer.

Here is the code for the wizard steps

<div class="section-bod

[2018-03-06 14:20] rbperegrino commented on #96
Same error here. Build from master and copy folder to my project, in VSCode doesnt show any error but in browsers (Chrome and Firefox) the error appears.

Uncaught Error: Template parse errors:
'aw-wizard-step' is not a known element:
1. If 'aw-wizard-step' is an Angular component, then verify that it is part of this module.
2. If 'aw-wizard-step' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEM

[2018-03-14 19:21] karmasakshi commented on #66
Hi, the OP (@PerumalJP) and I work on the same project. I can confirm that your solution works. We just had to update the module name:

`/node_modules/ng2-archwizard/index.d.ts`:

`declare module 'ArchwizardModule'
export * from './dist';`

You may close this issue. Will this be a part of an upcoming release?

[2018-03-16 09:40] LastCodeDE commented on #76
Hi Madoar,

we are using now angular 5.

Unfortunately unitl yet there is no release version 3.0.0. I need this change really important. Could you tell me when you will release this version?

Regards
LastCodeDE

[2018-03-16 15:08] madoar commented on #76
@LastCodeDE I'm working on it.
It's not much that needs to be done, until I can publish the next release.

The main things that need to be done is updating the README file and making sure that the demo contains an example for all the new features.

[2018-03-16 15:15] madoar commented on #66
@karmasakshi, @PerumalJP thank you for giving this a test.
I'm currently working on a new major version, i.e. version `3.0.0`.
This new version uses `ng-packagr` to build the library for production.
The problem here is, that I don't know if it the same solution can be used here.
Could you please give version `3.0.0` a test to see if the `declare module 'ArchwizardModule';` statement is still requi

[2018-03-16 15:20] madoar commented on #107
The part of the code you're added to your issue looks good to me.

To better help you I would need a more complete code sample.
For example your sample is missing the beginning `<wizard ...>` tag.
In addition I don't know how you navigate between the steps.
Do you use the `nextStep` and `previousStep` directives, or do you use the `goToStep` directive, or do you use the navigation bar, or do you u

[2018-03-16 15:24] madoar commented on #106
The wizard will support custom navigation bar layouts starting with version `3.0.0`, which is currently in development.
It should be possible to change the circles to other shapes and to change the colors via custom css.

I don't understand your suggestion about phone size screens. Can you elaborate it a little bit more and provide a short image showing your suggestion?

In case you want to give v

[2018-03-16 15:27] madoar commented on #105
Yes you're right, Github contains the source code for `ng2-archwizard` version `3.0.0`, while npm contains only version `2.1.0`.
The reason being is that version `3.0.0` is still in development, and I didn't think about creating a new development branch for this.

[2018-03-22 15:04] roblawford commented on #96
Same error here - **need an urgent work around or fix** please.

ERROR in : 'aw-wizard-step' is not a known element:
1. If 'aw-wizard-step' is an Angular component, then verify that it is part of this module.
2. If 'aw-wizard-step' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message. ("
            <div id="company">

[2018-03-22 15:21] omryha opened #110 "How do you change the font of a certain step title?"
I couldn't figure it out.

Thanks.

[2018-03-23 08:38] zolakt commented on #96
A little confused here. If it's mostly working for Angular5, why not just build a npm preview version from that branch instead of making import everything manually?

[2018-03-23 15:56] madoar commented on #52
I've good news :)
I've just release version `3.0.0` of this library under a new name: [angular-archwizard](https://github.com/madoar/angular-archwizard-demo)!

[2018-03-23 15:56] #52 closed

[2018-03-23 15:59] madoar commented on #110
I'm just released version `3.0.0` of the library.
With it comes a new demo example, which illustrates how to use custom css.
The example can be found at: https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/custom-css and https://madoar.github.io/angular-archwizard-demo/#/custom-css

If you have any open questions feel free to add a comment.

[2018-03-23 16:02] madoar commented on #96
I've just release version `3.0.0`, which is compatible with angular 5.
Version `3.0.0` is released under a new package name, named [angular-archwizard](https://www.npmjs.com/package/angular-archwizard).

If you have some issues with the new version please open a new github issue.

[2018-03-23 16:02] #96 closed

[2018-03-23 16:05] madoar commented on #106
I've just released version `3.0.0` of the library.
Version `3.0.0` is released under a new package name, named [angular-archwizard](https://www.npmjs.com/package/angular-archwizard).

An demo example using custom css can be found at https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/custom-css and https://madoar.github.io/angular-archwizard-demo/#/custom-css

If you have any rem

[2018-03-23 16:05] #106 closed

[2018-03-23 16:05] #100 closed

[2018-03-23 16:06] #71 closed

[2018-03-23 16:08] madoar commented on #76
I've just released version `3.0.0` of the library.
Version `3.0.0` is released under a new package name, named [angular-archwizard](https://www.npmjs.com/package/angular-archwizard).

It would be nice if you could test if it works with the new version and tell me your findings :)

[2018-03-23 16:09] madoar commented on #77
I've just released version `3.0.0` of the library.
Version `3.0.0` is released under a new package name, named [angular-archwizard](https://www.npmjs.com/package/angular-archwizard).

Version `3.0.0` provides you the ability to add custom css to the wizard.

[2018-03-23 16:09] #77 closed

[2018-03-23 16:10] #79 closed

[2018-03-23 16:11] madoar commented on #87
I've just released version `3.0.0` of the library.
Version `3.0.0` is released under a new package name, named [angular-archwizard](https://www.npmjs.com/package/angular-archwizard).

Version `3.0.0` is built with `ng-packagr`, which supports system.js.

[2018-03-23 16:11] #87 closed

[2018-03-23 16:12] #93 closed

[2018-03-23 16:12] madoar commented on #105
I've just released version `3.0.0` of the library.
Version `3.0.0` is released under a new package name, named [angular-archwizard](https://www.npmjs.com/package/angular-archwizard).

The released version `3.0.0` is compatible with the README found on GitHub.

[2018-03-23 16:12] #105 closed

[2018-03-25 08:40] omryha commented on #110
Hi,

Thanks for the respond.

I tried to implement my CSS on the `aw-wizard` element but it did not work:

Attached below is my CSS file, that is found in the same component using the Wizard.

**myNavBar** is the name of the class that should be added to the element so it attributes will change.
What am I doing wrong?

Thanks,

Omry

----------------------------------------------------------------

[2018-03-25 09:31] madoar commented on #110
On a single look I would say your selectors are wrong.
The css class `myNavBar` is not a part of `aw-wizard-navigation-bar`, but of `aw-wizard`, i.e. you'll need to change your selectors to for example:
[code]

If this doesn't help I need a more complete snipped, i.e. ideally the ts, html and css file of your component.

[2018-03-25 10:19] omryha commented on #110
Thank you for answering.

This is the HTML file of the component:

[code]

And this is the CSS file:

[code]

[2018-03-25 10:25] madoar commented on #110
Did you add `encapsulation: ViewEncapsulation.None` to your component?
Is the custom css partially applied, or not at all? (What part exactly doesn't work of your custom css)

I think you can remove the line `<div class="raNavBar">` and add the css class directly to the wizard, i.e.:
[code]

[2018-03-25 10:39] madoar commented on #110
In addition please be aware, that you're using some redundant and contrary css selectors.
For example:
[code]

[2018-03-25 11:46] omryha commented on #110
Thanks a lot, much appreciated!

[2018-03-25 11:51] madoar commented on #110
Nice to hear I could help :)

[2018-03-25 11:51] #110 closed

[2018-03-26 03:48] 009topersky opened #115 "Ionic 2 Support"
Good day!

The Wizard is very awesome

I just want to know if this module is capable to use on Mobile Ionic 2

[2018-03-28 07:07] zolakt opened #116 "ViewChild undefined in AoT"
Hi,
I'm having an issue with AoT build in version 3.0.0
Here is a streamlined code sample

[code]

[code]

The code is simplified, but those are the only important parts.
In the last step I have to wait for a response from a service, and move the wizard programmatically only if it was successful.

In development, with JiT compiler it works as expected.
In production, with AoT compiler, `this.wizar

[2018-03-28 09:26] omryha opened #117 "Styling the Wizard's progress bar"
Hi,

Is there a way to design the step's progress bar?
I want to change its color and width using CSS.

Thanks,

Omry

[2018-03-28 12:31] zolakt commented on #116
After some testing...
It seems to work with
`@ViewChild('wizard') wizard: any`

[2018-03-28 20:22] brackio opened #118 "step indicators should clickable"
Can you make the Step indicators clickable, so they can be used to jump to a step.  Currently, this is only possible by clicking on the step title.  However, not everyone will StepTitle

[2018-03-31 10:18] madoar commented on #116
This looks like an angular issue to me.
Do you have the same problem with other libraries, or components?

On another note:
I would suggest to use the `canEnter` input of the `aw-wizard-completion-step` to check if the final step can be entered, instead of your current approach.
The `canEnter` input accepts a function returning a `Promise<boolean>`, which I believe can be used in your case.

[2018-03-31 10:20] madoar commented on #117
I'm not entirely sure what you mean by "step's progress bar"?

You can style the navigation bar via css.
An example, how this can be done, can be found at: https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/custom-css and https://madoar.github.io/angular-archwizard-demo/#/custom-css

If you have any open questions feel free to add a comment.

[2018-04-03 09:44] zolakt commented on #116
I can't use canEnter, since I don't have a separate button for next step.
The code here is just a mockup. I have a embedded payment form, catch it's success event, and then need to move the wizard.

[2018-04-08 07:30] omryha commented on #117
Hi,

I mean how to style the progress bar line (just the default grey line, not the circles).

Thanks

[2018-04-12 09:07] madoar commented on #117
The styling of the gray lines works analogous to the circles.
Instead of using
[code]

you need to use `li:before` to style the lines, i.e.:
[code]

[2018-04-12 09:10] madoar commented on #116
Ok, I didn't think about such a scenario when designing the directives and components.
Do you maybe have an idea what kind of components/directives `angular-archiwizard` could provide, to make such use cases easier to implement?

[2018-04-12 10:32] omryha commented on #117
Thank you sir :)

[2018-04-12 11:17] zolakt commented on #116
My best suggestion is to make a shared service for controlling the wizard, so we don't have to resort to ViewChild. Other than that I don't think there is much you can do. Any external code could require the wizard to change steps. we just need a simple way to control it.

The above code works. For the time being, just make a note about AoT compatibility in the docs. It works only if you get the V

[2018-04-17 13:02] ramadurgarao opened #119 "Angular5 update: ng2-archwizard\index.ts is missing from the TypeScript compilation."
while building or running test cases we are facing below issue from angular cli (1.7.4) with angular 5.2.9.
node_modules\ng2-archwizard\index.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
The missing file seems to be part of a third party library. TS files in published libraries are often a sign of a badly packaged lib

[2018-04-18 10:04] LastCodeDE commented on #76
Now it works finde. Thank you for the work.

[2018-04-18 10:04] #76 closed

[2018-04-18 17:26] madoar commented on #119
You're using an old version of the library (e.g. `ng2-archwizard` version `2.1.0` I guess?)

With the release of version `3.0.0` I've renamed the library to `angular-archwizard`, which is compatible with angular 5.

[2018-04-18 17:26] #117 closed

[2018-04-18 17:41] madoar commented on #116
My problem with a shared service is, how should the user select the correct wizard?

I know other libraries support a shared service to access concrete instances of their main components.
All these libraries have in common, that they require the user to define an id for their component.
I don't want to add such a constraint to `angular-archwizard`.

[2018-04-18 17:41] #116 closed

[2018-04-19 14:43] LastCodeDE commented on #17
This doesn't work anymore

[2018-05-01 15:32] AbdelrhmanSafwat789 commented on #94
I am using your module and found a fix to it. you could replace the 'hidden' to 'class.hidden' and then introduce a hidden class in your wizard step component css file with ` display: none !important;`

[2018-05-02 15:13] supermoore1025 opened #121 "I am unable to get anything to appear in the large empty symbol circles like a number."
Here is my html

**<aw-wizard **navBarLayout** ="large-empty-symbols">
            <aw-wizard-step stepTitle="Title of step 1" [navigationSymbol]="{ symbol: '1' }">
              Content of Step 1
              <button type="button" awNextStep>Next Step</button>
              <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button>
            </aw-wizard-step>

[2018-05-04 09:42] madoar commented on #121
Your code seems to be missing the end tags and the button tags for the next and previous buttons.

Have you tried building the demo application at https://github.com/madoar/angular-archwizard-demo?
This application provides an example for the navigation symbols at https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/large-empty-symbols

[2018-05-16 11:48] balakrishnarudraraju opened #122 "mark the step with 'success', 'warning' icons"
Thanks for sharing your good work, it is really useful.

Have a request for new feature may be,
is it possible to highlight the step-indicator (in large filled with symbol) by placing a 'tick' or 'warning' symbol beside to it to highlight that the particular step has valid values or warnings to be resolved?

[2018-05-24 21:33] tyaginboston commented on #121
Same Issue here. none of the Layout option works. i installed the Archwizard. Copy the code in page template. works fine with default setting, all other settings takes away the circle.

[2018-05-27 09:03] madoar commented on #121
@tyaginboston can you please provide a short code snipped, which produces the effect you've described, and a screenshot showing the effect?
In addition it would be helpful to know which version of angular-archwizard and angular you're using.

[2018-05-30 14:43] guillaumegarcia13 opened #123 "Angular 6 + AOT + lazy-loaded: Dependency injection fails"
I recently migrated to Angular 6 and when **AOT-compiling** a **lazy-loaded module** which imports ArchwizardModule, the dependecy injection fails, meaning:

`@ViewChild(WizardComponent) public wizard: WizardComponent;`

and then calling

`this.wizard.navigation.goToNextStep();`

it fails because this.wizard is _undefined_.

I usually use this to programmatically change the step of the wizard.
Non

[2018-05-31 10:32] janakprajapati2112 commented on #21
Solutions looks good but i am facing problem at back button
What i should have to do if i want to keep canexit event on next button only not on back button
Right now i am sending data on third step of my form, if i am on third step and click on back button , it still calls my function written on canexit

[2018-06-01 22:27] shubhamnab commented on #20
I am not able to change the CSS components of form-wizard. Could you please help me in doing this.

[2018-06-04 15:53] guillaumegarcia13 opened #124 "Navigation Bar weird class behaviour"
Hi,

I observed a weird behaviour when using optional steps in terms of how classes are applied to li nodes

## Optional non-last step
Let's consider the following setup:
 1 -> 2 -> 3 (optional) -> 4

I am interested in this 3rd optional step.

### Symptoms
Here is an example of the rendered navigation bar when validating step by step:
![image](https://user-images.githubusercontent.com/2786038/409

[2018-06-05 08:29] madoar commented on #121
@tyaginboston your problem seems to be the input parameter `navBarLayout`.
When using `[navBarLayout]` angular expects a javascript/typescript expression.
The problem with your expression `large-filled-symbols` is, that it is not a string and neither an existing variable.

To get it working, you can use one of the following lines:
- `<aw-wizard [navBarLayout]="'large-filled-symbols'">`
- `<aw-wiza

[2018-06-05 08:36] madoar commented on #123
This seems to be the same issue as in #116.

The issue seems to be that `@ViewChild` doesn't seem to do its job in this case as intended.
Can you check, if `@ViewChild` works, when used with other libraries?

[2018-06-05 08:53] madoar commented on #124
Yes, this seems to be unintended behavior:

1) About the optional, non-last steps I agree, this behavior is totally wrong.
2) For the following question about an optional last step, I would like to know if you've used a "normal" last step, i.e. `aw-wizard-step` or a completion step, i.e. `aw-wizard-completion-step`?

   When using optional it's not really important which step it is (i.e. if it is

[2018-06-05 09:06] guillaumegarcia13 commented on #123
Indeed!
I'm closing this one then as it is a duplicate.

[2018-06-05 09:06] #123 closed

[2018-06-05 10:34] guillaumegarcia13 commented on #124
@madoar

I did not, all steps are either normal or optional ones.
Is having both (optional AND completion) supported?

If you've used a completion step, all steps of the wizard are marked as done.

Well, considering the state of the overall wizard:
![image](https://user-images.githubusercontent.com/2786038/40970772-e61ed012-68bb-11e8-8445-02e9becad8fe.png)
the following scenario:
1 (completed) ->

[2018-06-05 11:27] guillaumegarcia13 commented on #124
I now get what's troubling me with this 'optional' last step.
Consider this scenario :
  1 -> 2 (optional) -> 3 (optional) -> 4 (optional)

On the first step, the user validates and goes to step 2.
But, as all remaining steps are optional, the entire wizard is consided 'completed' and steps are marked as 'done'.

I am unsure how to deal with this in antoher way but skipping all remaining steps cer

[2018-06-05 12:39] madoar commented on #124
The completion step has the purpose of showing the user that the wizard has been completed and he's now unable to change anything he entered in the wizard.

An example where such a step is useful is a registration form.
Normally a registration form contains multiple steps (pages), which ask the user for information.
After the user filled out all the information asked for in the steps he presses `c

[2018-06-05 12:50] guillaumegarcia13 commented on #124
I very much like this idea of differentiating between 'completed' (as in 'the user completed this stemp') and 'done' (as in wizard is finished)

[2018-06-05 16:02] vgogov opened #126 "Compatibility with Angular < 5 for Version 3.0.0?"
Hello,

Awesome Wizard module! I was wondering if version 3.0.0 was compatible with Angular 4. When I try to build my project I'm getting the error:

Or should I be using a older version (something like 2.1.0).

Thanks!

[2018-06-05 18:41] madoar commented on #126
Version `3.0.0` is (sadly) only compatible with angular 5+ (because of the used version of `ng-packagr`).
For angular 4 you can use version `2.1.0`.

[2018-06-06 06:53] artemvalmus opened #127 "Error: Metadata version mismatch"
When running ng serve:

`Error: Metadata version mismatch for module C:/project/node_modules/angular-archwizard/angular-archwizard.d.ts, found version 4, expected 3`

ng --version:
[code]

The funniest thing is that it worked yesterday.

[2018-06-06 11:27] artemvalmus commented on #127
**"version":4** is specified in the **angular-archwizard.metadata.json** file. Why is that? Changing it to **"version":3** solves the problem.

[2018-06-07 13:19] johnson512n28 commented on #20
This can be done in some cases by overriding the css class in a .scss file:

:host::ng-deep aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator li.done:after {
    color:white !important;
}

[2018-06-08 08:39] CNaiko commented on #123
@madoar have you got some ideas that why can not inject like this in AOT?

[2018-06-12 20:08] madoar commented on #127
The reason for the error message is, that you're using `angular-archwizard` version `3.0.0` together with Angular 4.

Starting with `angular-archwizard` version `3.0.0`, I've switched the gulp build script to `ng-packagr`.
The built, created by `ng-packagr`, is only compatible with Angular 5+.

If you want to use `angular-archwizard` together with Angular 4 you must use version `2.1.0`, which you

[2018-06-12 20:08] #127 closed

[2018-06-12 20:14] madoar commented on #124
This should depend on which wizard step component you use for the final step:
- if you use a normal `wizard-step` you will get the behavior you've described, i.e. the step can't be completed, because you can't leave it in a forwards direction.
- if you use a `completion-wizard-step` you'll get a different behavior.

   A completion step automatically sets itself as completed, when it's entered, se

[2018-06-12 20:19] madoar commented on #123
No currently I have no idea.
My problem is, that I'm not facing this error, which makes it hard for me to debug.

The interesting thing is, that you receive no error (exception) message, just an `undefined` value when you access the injected object.

[2018-06-12 20:22] madoar commented on #20
This issue is not up to date.
Starting with version `3.0.0` of the library I've added custom css support.

A short explanation how it works can be found [here](https://github.com/madoar/angular-archwizard#customizing-the-wizard-stylesheets), while an example for this can be found [here](https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/custom-css).

[2018-06-12 20:28] madoar commented on #21
@janakprajapati2112 `[canExit]` also accepts a function, taking a [MovingDirection](https://github.com/madoar/angular-archwizard/blob/master/src/util/moving-direction.enum.ts) enum value, as a parameter.

If the user navigates backwards, i.e. from the third step to the second step, the function is called with `MovingDirection.Backwards`.
On the other hand, if the user navigates forwards, i.e. from

[2018-06-13 06:17] artemvalmus commented on #127
Got it, thanks.

[2018-06-13 21:44] igioya commented on #63
Hi @madoar, how are you?
I need initialize the state of navigation to free, to can go to step x when initialize my component.
Can you help me?
Thank you!

[2018-06-13 22:54] igioya opened #128 "How initialize step to 'x' index"
Hi @madoar, how are you?
I wanted set the default index but can't do work it.
So, i think about initialize the state of navigation to free, to can go to step x when initialize my component. The problem is that I can't change state of navigation to free.
I tried this.wizard.navigationMode = 'free', but i dont know if that is correctly. And not working.
Can you help me?
Thank you!

P.D: The directiv

[2018-06-17 23:36] nabwill commented on #115
How I import angular-archwizard in ionic 2+ project? @madoar, you got it?

[2018-06-18 01:56] 009topersky commented on #115
Good day!

i used this component on my ionic 2 project

its just the same as on how you import the angular-archwizard on your angular 4/5/6 Project

Thumbs up on this library (Y)

thank @madoar !

[2018-06-18 01:56] #115 closed

[2018-07-01 16:22] madoar commented on #128
How do you instantiate your wizard component, i.e. what html code do you use?
Can you provide a short code snippet?

[2018-07-01 19:26] earshinov opened #130 "navigationSymbol.fontFamily should only apply to the symbol, not step title text"
The issue can be seen in angular-archwizard-demo (https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/custom-step-symbol)

custom symbol step (take notice of the text):
![custom symbol step](https://user-images.githubusercontent.com/52021/42137922-76981920-7d7d-11e8-9053-43edaf7fc073.png)

usual step:
![usual step](https://user-images.githubusercontent.com/52021/42137924-795167b6

[2018-07-03 12:03] uluzox opened #131 "@ViewChild(WizardComponent) not working with AOT build"
Hi,

My application is on Angular 6.0.5 and uses "angular-archwizard": "^3.0.0". I am handling wizard navigation in my TypeScript component for which I have a
`@ViewChild(WizardComponent)
public wizard: WizardComponent;`
reference.
This works fine with JIT compilation. However when using --prod flag, I get the following error

    at n._next (5.f63f587b095e81c0550f.js:1)
    at n.__tryOrUnsub (mai

[2018-07-03 12:30] uluzox commented on #131
ID References are working
`@ViewChild('wizard') wizard: WizardComponent;`
`<aw-wizard #wizard disableNavigationBar="true" navigationMode="free">...`

[2018-07-03 15:25] bekijerry opened #132 "Metadata version mismatch for module ArchwizardModule , found version 4, expected 3"
hi dears
i am using angular cli version of 1.4.2 and i have installed the ArchwizardModule. At first i works fine but after i restarted my pc it shows me an error of "Metadata version mismatch for module  ArchwizardModule , found version 4, expected 3",how can i resolve this issue.please help me ASAP!

[2018-07-04 09:01] madoar commented on #132
This error occurs, because you're using `angular-archwizard` together with angular version 4.
`angular-archwizard` version `3.0.0` is compatible with angular 5+.
If you want to use the library together with angular 4 you need to use the older `ng2-archwizard` version `2.1.0`, which you can also find on npm.

[2018-07-04 09:01] #132 closed

[2018-07-04 09:04] madoar commented on #131
This issue is linked to #123 and #116.

It is really interesting, that id references work, while type references don't.
In which angular lifecycle phase are you accessing the `wizard` variable?

[2018-07-18 14:58] Marcos-Amazonas opened #133 "Can I separate the Navigation bar layout from the steps?"
I have a form witch I'm working on and  in this form I have two diferent divs, the first div at the top and a seccond  right below the first.

I would like to put the navigation bar of the archwizard in the first div, and I would like to have the content of  each step in the seccond div.

Can someone explain how can I do this?
Thanks in advance, this angular lib is awesome.

[2018-07-19 11:01] fabioformosa opened #134 "fontawesome 5"
Has someone used fontawesome 5 in `aw-wizard-step` ?

I've imported
[code]

It fails! I see a square at the place of right icon

[2018-07-23 07:19] sushmit-oodles opened #135 "Transition to step 2 only if the api call was successful"
i am confused about the preFinalize and canEnter attributes.

My Step1 has preFinalize on it which runs a function which hits and api.
Now my Step2 has [canEnter] attribute on it which returns true or false (code take from this link: https://github.com/madoar/angular-archwizard-demo/blob/master/src/app/can-enter-event/can-enter-event.component.ts).

when my function from preFinalize runs on api su

[2018-07-24 08:31] madoar commented on #134
Hmm, this seems to be linked to https://github.com/FortAwesome/Font-Awesome/issues/11946, can you verify this?

If this is the case, I believe you need to apply custom css to the navigation bar, in which you specify the required `font-weight`.
Can you test, if this solves the issue?

[2018-07-24 08:37] madoar commented on #135
Without seeing your code for `preFinalize`, it's hard for me to help.

With the information you've written, I believe the reason is that you're using `preFinalize` to check an server API call, which you use to change an internal flag, i.e. `canEnterStep2Forwards`
This is problematic, because the server API calls normally work asynchronous, i.e. you use a `Promise` or a similar construct.
The `Prom

[2018-07-24 10:10] muthahir-nawaz opened #136 ""ng serve" failed"
Your global Angular CLI version (6.0.8) is greater than your local
version (1.7.4). The local Angular CLI version is used.

To disable this warning use "ng config -g cli.warnings.versionMismatch false".
** NG Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
Date: 2018-07-24T10:09:37.704Z
Hash: 27c93922099d4673c048
Time: 16653ms
chunk {inline} i

[2018-07-24 10:14] muthahir-nawaz commented on #136
sorry, wrong window

[2018-07-24 10:14] #136 closed

[2018-07-26 13:34] earshinov opened #137 "Vertical alignment of symbols inside step indicators is incorrect in the absence of bootstrap CSS"
Demo:

![without bootstrap](https://user-images.githubusercontent.com/52021/43265316-0fe24070-90f1-11e8-9d35-f2d835ca0b0f.png)

Compare w/ the case when bootstrap CSS is included:

![with bootstrap](https://user-images.githubusercontent.com/52021/43265418-59873258-90f1-11e8-8117-173617172673.png)

The problem is that the selector in

[code]

in `wizard-navigation-bar.component.horizontal.less` and

[2018-07-27 14:27] darge98 opened #138 "Programmaticaly change step"
Hi,

I want to know if it's possible to go to the previous/next step in my component after a specific function.

Thanks

[2018-07-27 20:36] madoar commented on #138
There are multiple ways to change the step to the next/previous step.

The question is, how do you trigger your function?
The easiest way is to use one of the provided directives (for example `[awNextStep]` or `[awPreviousStep]`) by `angular-archwizard`.

Alternatively you can use the internal API.
For this you'll need to inject the `WizardComponent` and then call `wizard.navigation.(goToNextStep(

[2018-07-30 00:32] fel-cesar commented on #138
Searched the whole StackOverflow and just found it here 💛

[2018-07-30 07:05] darge98 commented on #138
There's also an event where i can subscribe to detect when navigation change?

[2018-07-30 09:33] madoar commented on #138
What do you mean with navigation change?

[2018-07-31 16:29] fabioformosa commented on #134
No, it's not a `font-weight` matter. I tried.
I suppose the problem is in fontFamily of navigationSymbol attribute.
I report what I've found by browser inspection

[code]
No font-family found. If I add manually `font-family: 'Font Awesome 5 Free'`, icon renders fine.

Am I using in the right way `navigationSymbol`?

[2018-08-01 07:26] rajitgola commented on #138
Any update on this? I want to programmatically change to next step in my .ts file

[2018-08-02 13:48] guillaumegarcia13 commented on #138
madoar wrote:

Does not answer your question, @rajitgola?

[2018-08-02 14:48] darge98 commented on #138
@madoar i want to detect every time i change my active step, like an a subscription to this event

[2018-08-07 08:58] panagulis72 opened #139 "Scroll after step opened"
Hi, I want that when the user click on the title of a step, the view scroll until the new-opened step. I have a vertical scroll.
This is the html code:
` <aw-wizard-step (stepEnter)="onInfoEnter(generalInfo)" stepId="generalInfo" id="generalInfo" #generalInfo [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily: 'FontAwesome' }">`

This is the .ts code:
`  onInfoEnter(test: any) {
    let targetEl

[2018-08-08 10:42] davidremus opened #140 "Fontawesome symbols are not displaying"
Hello,
I'm trying to use some symbols from FontAwesome, but they are not displaying correctly..
Here's part of html template code:
[code]
<a href="https://imgbb.com/"><img src="https://image.ibb.co/cyaJtz/abc.png" alt="abc" border="0"></a>

Please advice,
Thanks!

[2018-08-14 12:36] stas-kh commented on #131
That's kinda strange, I also caught the same error and hopefully found this issue.

For me, string reference works as expected, but it's really interesting why the problem appears.

[2018-08-16 20:56] fhidal01 commented on #138
@madoar or guillaumegarcia13 can you provide and code example of what you mean?

I am getting the following error:

core.js:1601 ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[BudgetComponent -> WizardComponent]:
  StaticInjectorError(Platform: core)[BudgetComponent -> WizardComponent]:
    NullInjectorError: No provider for WizardComponent!
Error: StaticInjectorError(Ap

[2018-08-17 17:43] fhidal01 commented on #138
NVM i was able to get it working by referring to question #17

[2018-08-18 22:16] nabwill opened #141 "[Question] - Aproach steps x components"
Modoar, is recommended work with contents steps like way:

[code]

[2018-08-20 20:07] madoar commented on #138
@darge98 there is no single point where you can add such a listener currently.
Currently, you can receive an event at every wizard step whenever you enter or exit the step.
For this you need to bind a function to the `(stepEnter)` and `(stepExit)` output of the wizard steps you're interested in.

@fhidal01 yes, the injection part is missing in my previous comment.
You also need to inject the Wizar

[2018-08-20 20:07] #138 closed

[2018-08-20 20:11] madoar commented on #141
This is one way to work with the wizard.
If you only want to add a single component to every wizard step, I would suggest you use the `awWizardStep` directive for your components.
An example how this is done is shown at https://github.com/madoar/angular-archwizard-demo/tree/master/src/app/wizard-step-directives

[2018-08-20 20:14] madoar commented on #139
Yes, you're right about that.
The wizard currently doesn't scroll to the current step.

About your code:
Your html code contains the following statement: `(stepEnter)="onInfoEnter(generalInfo)"`
How is `generalInfo`, which you're passing to `onInfoEnter` defined?

[2018-08-20 20:18] madoar commented on #134
Ok, I think I understand the issue.
This should be fixed together with PR #129.

[2018-08-28 03:16] adriellr01 opened #142 "[canExit] called too many times"
Hello, I am using this component and I need to use [canExit] to perform some validations, but these validations are called even without any transition (when the wizard starts) and remains calling my validations forever. Please can anyone help me how to make validations only when press the button for the next step?

[2018-09-03 14:39] earshinov opened #145 "Minor documentation typo"
https://github.com/madoar/angular-archwizard/blame/master/README.md#L281

Should probably be:

Be aware, that you can only use `[awWizardStepTitle]` together with Angular **4 or later**, because `ng-template` was introduced in Angular 4.

[2018-09-03 15:13] madoar commented on #145
Yes you're right

[2018-09-25 09:01] adekoder commented on #145
Sent in a PR for this issue

[2018-09-26 12:46] #145 closed

[2018-09-28 14:44] madoar commented on #128
If this question is still relevant/open, feel free to open a new issue.

[2018-09-28 14:44] #128 closed

[2018-09-28 14:45] #66 closed

[2018-09-28 14:45] madoar commented on #78
If this question is still relevant/open, feel free to open a new issue.

[2018-09-28 14:45] #78 closed

[2018-09-28 14:45] madoar commented on #107
If this question is still relevant/open, feel free to open a new issue.

[2018-09-28 14:45] #107 closed

[2018-09-28 14:47] madoar commented on #118
This issue has been solved in #147.

[2018-09-28 14:47] #118 closed

[2018-09-28 14:48] madoar commented on #121
If this question is still relevant/open, feel free to open a new issue.

[2018-09-28 14:48] #121 closed

[2018-09-28 14:50] #133 closed

[2018-09-28 14:50] madoar commented on #135
If this question is still relevant/open, feel free to open a new issue.

[2018-09-28 14:50] #135 closed

[2018-09-28 14:52] madoar commented on #141
If this question is still relevant/open, feel free to open a new issue.

[2018-09-28 14:52] #141 closed

[2018-09-28 14:53] madoar commented on #142
@adriellr01 what do you mean with "calling my validations forever"?
Normally the validations are only called before a step is transitioned.
Can you provide a short code snipping showcasing your issue?

[2018-09-28 17:12] vicoysito opened #151 "[navigationSymbol] documentation"
Hello @madoar ,  I've realized a problem with the documentation on [navigationSymbol], you have missed a comma  on the code, between symbol and fontFamily. `<aw-wizard-step stepTitle="Second Step" [navigationSymbol]="{ symbol: '&#xf2dd;' ,  fontFamily: 'FontAwesome' }"></aw-wizard-step>` . Could you please add it.

Thanks!

[2018-10-02 08:04] segux commented on #116
Plz @madoar  can this solution added to Documentation for a programatically implementation?
He makes my day.

[2018-10-02 08:29] madoar commented on #116
@segux I'm not sure, if this needs to be separately added to the documentation for `angular-archwizard`.
The reason being, that it is already part of the angular documentation, see https://angular.io/api/core/ViewChild#description

[2018-10-05 16:57] mpintener commented on #151
Did you try using different icons based on a condition in every step ?

[2018-10-10 02:34] manuelabarca opened #153 "Steps disappears and lost stepIndex"
EN: I am creating a dynamic wizard, which is showing four steps, when entering new elements to the array of stages and pressing the "next" button, the following stages disappear, because the "stepIndex" is lost and the class remains "hidden" in the steps

ES: Estoy creando un wizard dinamico, el cual va mostrando de a cuatro pasos, al momento de ingresar nuevos elementos al array de las etapas y p

[2018-10-13 12:45] #151 closed

[2018-10-13 13:35] madoar commented on #137
Fixed in current develop branch

[2018-10-13 13:35] #137 closed

[2018-10-15 07:32] GetTaxSolutions opened #160 "Problem with [canExit] when pass form.valid"
Hello, I'm using <aw-wizard-step [canExit]="exitValidation(forms.get('service'))" ...> where forms.get('service') returns FormGroup object. In exitValidation method just return form.valid:

When render it into the browser it show follow error:
[code]

There is problem when I'm using canExit and return form.valid. If return just true or false this error is not happens.

[2018-10-15 09:04] madoar commented on #160
I don't think, that this is a problem with the wizard, but with the lifecycle phase in which form.valid is changed.
Can you try assigning a function to the `[canExit]` input, i.e. something like this:

[code]

[2018-10-15 14:18] GetTaxSolutions commented on #160
With function the message disappear. Looks like that work properly.

[2018-10-15 14:28] madoar commented on #153
Sorry for my late answer.
It's kind of hard to read your code, because of the used code environment.
It would be useful to add all code to a code environment

About your issue:
Please try to reference the wizard by its id in the `@ViewChild` decorator, like the following:
[code]
instead of:
[code]

[2018-10-18 13:48] chelaruc opened #162 "[navigationSymbol] and [stepTitle] - Enhancement"
Hello there,

Thank you for this nice AngularJS plugin.
It is really cool and I have been using it in some of my projects.
I do have a question though.
Wouldn't it be nice if instead of passing the Unicode of an icon and its font family you would be able to pass its class name?
This way, for icon libraries that do not show the Unicode, like Font Awesome library, you would not have to inspect each

[2018-10-18 14:39] madoar commented on #162
There is already a directive you can use to define the step title more freely with custom html.
For more example how to do this take a look at https://github.com/madoar/angular-archwizard#awwizardsteptitle, https://github.com/madoar/angular-archwizard-demo/blob/master/src/app/custom-step-titles/custom-step-titles.component.html and https://madoar.github.io/angular-archwizard-demo/#/custom-step-tit

[2018-10-18 14:39] #162 closed

[2018-10-19 10:08] earshinov opened #163 "Check compatibility with Angular 7."
[Angular 7.0 is released](https://blog.angular.io/version-7-of-angular-cli-prompts-virtual-scroll-drag-and-drop-and-more-c594e22e7b8c). If angular-archwizard is compatible with this version:
- this fact should be documented in the README;
- dependency versions in `package.json` should be updated.

[2018-10-20 06:44] omidpaydar opened #164 "init step on enter"
hi
we have many widget wizard on dashboard and we want to dont init all step in init dashboard page.
we want init step on enter and destroy on finalize wizard.
- each step has input data that complete from before step.
tnx

[2018-10-20 14:00] earshinov commented on #163
I tried to checkout [angular-archwizard-demo](https://github.com/madoar/angular-archwizard-demo/) repo and upgrade it to Angular 7 (*). Everything went fine and the project compiled without a single error both in development (`ng serve`) and production modes (`ng build --prod`). Based on that, I think that angular-archwizard can safely declare compatibility with Angular 7.

(*) In case someone nee

[2018-10-20 14:06] earshinov commented on #163
Created PR https://github.com/madoar/angular-archwizard/pull/165 with changes in `package.json`. The README file does not need to be updated.

[2018-10-25 14:30] dridi93 opened #167 "archwizard angular 6"
Hi,
I have problem with this package with angular 6..
Error: "Template parse errors: aw-wizard-step' is not a known element:"

![capture du 2018-10-25 15-29-51](https://user-images.githubusercontent.com/11330682/47507829-dd8df080-d86a-11e8-8b1b-42ef1a27f01c.png)

[2018-10-25 16:38] madoar commented on #164
I don't understand what you want to do.
Can you provide a short example?

[2018-10-25 16:38] madoar commented on #167
Which version of `angular-archwizard` are you using?
Can you provide a code example producing the error?

[2018-10-25 16:43] dridi93 commented on #167
Version: "angular-archwizard": "^3.0.0"
`<aw-wizard>
<aw-wizard-step stepTitle="Title of step 1">
      Content of Step 1
      <ion-button awNextStep>Next</ion-button>
    </aw-wizard-step>
      Content of Step 2
      <ion-button awPreviousStep>Previous Step</ion-button>
      <ion-button (click)="finishFunction()">Finish</ion-button>
    </aw-wizard-step>
  </aw-wizard>`

[2018-10-25 16:51] elebitzero commented on #134
Hi,

I also cannot get Font Awesome 5 to work with aw-wizard.  This is using latest fontawesome 5.4.1 (free).
I thought I could just change the font family to 'Font Awesome 5 Free' but it doesn't work.   I tried setting the font-weight: 900 on the aw-wizard but that didn't do anything.

The last comment by @madoar seems indicate the issues is fixed, but is it?   I checked the angular-archwizard-de

[2018-10-25 17:31] madoar commented on #134
The fix has been introduced in the development branch.
The changes will be released in version `4.0.0`, which still needs a little bit of time until it is released.
If you require font awesome support earlier you can build the development version yourself for now, and then switch to the official release when it is released.

[2018-10-25 17:32] madoar commented on #167
I can't discover an error in your code snippet.
Have you tried to build and run the demo application?

[2018-10-25 17:41] elebitzero commented on #134
@madoar, thanks.  For now, I downgraded back to font-awesome 4.7.1, and it is working.  I'll upgrade when new version of aw-wizard is released.

[2018-10-28 21:00] dridi93 commented on #167
Hi @madoar
Thanks for yor comment, i fixed the problem

[2018-10-28 21:39] dridi93 commented on #167
I have another question please,
How can'i use [navigationSymbol] with Ionicons ?

[2018-10-29 20:15] madoar commented on #167
If you have a separate question it is better to open a new issue for it.

About your new question:
I'm not sure how you normally use Ionicons.
If you can use them via a unicode symbol you can use it the same way as shown in the README file.
If a html element is required to use an Ionicon, you will need to use the current development version (see #149).
This version has not been released yet.
There

[2018-10-29 20:33] dridi93 commented on #167
Sorry about the second question in same issue,
For html element feature...KEEP WAITING :muscle: :muscle: :clock12:
Thanks.

[2018-10-31 13:52] talesporto commented on #116
I change it:
`  @ViewChild(WizardComponent)
  public wizard: WizardComponent;`

to it:
`  @ViewChild('wizard')
  public wizard: WizardComponent;`

and works using `ng build --prod --build-optimizer`

Tks @zolakt !!!
I believe we need to add it to the documentation!

[2018-11-01 15:41] ItzhakS opened #168 "navBarLayout disappears"
First off great package!

I'm trying to implement the navBarLayout to be different than the default.
However when adding the directive to the `<aw-wizard>` element like so `<aw-wizard [navBarLayout]="large-filled">` or any other option, the navbar disappears entirely leaving only each stepTitle.

![default](https://user-images.githubusercontent.com/31062279/47862191-3fb39c00-ddfd-11e8-81ea-93445f2

[2018-11-01 15:43] #168 closed

[2018-11-01 15:48] madoar commented on #124
I'm currently thinking about adding a fix for this issue to the next release (i.e. `4.0.0`).

As far as I know, the issue arises through two subissues:
- the order of the css class definitions in the stylesheets
   For example, `current` is specified prior to `optional`, which would result in optional overriding the styles set by current, which seems reversed to me
- the fact, that some css classe

[2018-11-04 11:55] benshabatnoam commented on #142
Hi,
I'm having the same issue, I'll try to upload a sample project.
10x

[2018-11-08 10:24] benshabatnoam opened #169 "horizontal line in rtl horizontal wizard"
Hi,

I'm using your wizard component in many of my projects and I'm loving it, nice job!.

When I'm using the wizard in a body direction RTL the horizontal line connecting the steps gets corrupted.

With this simple CSS the problem is fixed:
[code]

It is a bit of annoying to have to copy this CSS to each one of my projects.

Is it possible to get it inside of one of your next versions?

Thanks

[2018-11-08 10:46] madoar commented on #169
Can you please add a screenshot, showing the problem, to help me understand how it looks?

In addition:
In the develop branch, the stylesheets of the navigation bar have been restructured.
Can you please try building the develop branch and test, whether the changes fix the issue?

[2018-11-08 10:51] benshabatnoam commented on #169
This is how it looks like:
![image](https://user-images.githubusercontent.com/5260028/48194123-cfed6600-e354-11e8-8df4-8ba0fc2f5b29.png)

Sure, I'll try it with the develop branch. I'll update soon.
Thanks

[2018-11-09 02:06] sebiglesias opened #170 "Using angular-archwizard as a progress preview"
Hello, firstly, I really love your angular-wizard!

I wanted to ask you about a way I want to use you wizard. It is not exactly as a wizard, but as a progress' state preview, like the following picture shows:

<img width="1231" alt="screen shot 2018-11-08 at 23 02 20" src="https://user-images.githubusercontent.com/13668861/48238629-639d5180-e3aa-11e8-9eb9-e5a19311a3e8.png">

How can I tell the 'wi

[2018-11-12 17:19] benshabatnoam commented on #169
This is the CSS needed:

[code]

See screenshot without this CSS:
![image](https://user-images.githubusercontent.com/5260028/48363910-c004b780-e6af-11e8-9e27-7957bb2522e5.png)

See screenshot with this CSS:
![image](https://user-images.githubusercontent.com/5260028/48363979-dd398600-e6af-11e8-9e5e-bab3afbea5b1.png)

[2018-11-17 23:22] samuray500 opened #171 "Jump to specific step with an external link/button"
is there any way to jump to a specific step with a link that is outside of `<aw-wizard>` element?
I want to build my own navigation menu, and put it in a section located far away from the wizard.

We have this property to do it **`[awGoToStep]="{stepIndex: 1}"`**. But it only works inside of `<aw-wizard>` element.

[2018-11-18 21:04] madoar commented on #170
Yes, I've thought about this use-case in the recent past too.
Currently it is not possible to use the wizard as a static progress indicator.
The main reason for this is in my opinion the navigation approach the wizard is based on, where the wizard is progressed step by step.

I'm not against changing the wizard to also function as a static progress indicator.
Let's do some brainstorming, can you g

[2018-11-18 21:07] madoar commented on #171
You can let the wizard jump to a different step by using the internal API of the wizard.
For this you need to inject the wizard in your code via:
[code]

Afterwards you can navigate the wizard to another step by calling:
[code]

Please be aware, that this is an internal API call, which may be subject of change in the future.

[2018-11-20 07:37] jedmarcnocum opened #172 "Hide Navigation Bar"
Is it possible to completely remove/hide the navigation bar from the view?

[2018-11-20 08:39] jedmarcnocum commented on #172
Managed to hide it via root style.scss

[code]

[2018-11-20 08:39] #172 closed

[2018-11-20 19:03] ccravens opened #174 "Element Not Found Error"
I'm trying to use Angular ArchWizard (https://www.npmjs.com/package/angular-archwizard) and following the instructions for installation. I have the following angular versions:

[code]

I followed the instructions by including ArchwizardModule into our CoreModule, which is imported by the top-level AppModule:

[code]

And added the following HTML to one of my Component's HTML template files:

[code

[2018-11-20 20:44] ccravens commented on #174
I added the wizard module to the wrong module of our project. There is no issue with the library, thanks!

[2018-11-20 20:44] #174 closed

[2018-11-26 17:42] ollita7 opened #175 "Angular4 issue."
Im getting an error when i use angular4.
Is it posible that I mut install other verson?

ERROR in Error: Metadata version mismatch for module C:/Cavepot/Git/upwork-projects/fintitude/prototype/ui/node_modules/angular-archwizard/angular-archwizard.d.ts, found version 4, expected 3, resolving symbol AppModule

[2018-11-26 22:40] madoar commented on #175
Yes, `angular-archwizard` version `3.0.0` works with Angular 5+.
For Angular 4 you'll need to install `ng2-archwizard` version `2.1.0`.

Please be aware, that release `2.1.0` is quite old.
This means, that not all features of version `3.0.0` are supported.
In addition the syntax has changed (mainly the prefix `aw` has been added in version `3.0.0`).

[2018-11-28 13:41] PauloRodrigues33 opened #176 "Wizard "onStepChange" event subscriber?"
Is the AW has a "onStepChange" subscriber returning the new step index or step properties?

[2018-11-29 07:11] rluvaton commented on #176
Unfortunately no, but I’m working on it

[2018-11-29 08:18] rluvaton commented on #176
#178 pending Pull request for this issue

[2018-11-29 10:23] madoar commented on #176
Currently the wizard doesn't provide such an output.
The current approach to observe step changes is by adding a function to the `stepEnter` or `stepExit` output of the steps in whose transitions you're interested (see also [here](https://github.com/madoar/angular-archwizard#stepenter)).

[2018-11-29 18:55] sebiglesias commented on #170
Hello, sorry for not responding earlier. I made my custom "stepper" in this project: [here](https://github.com/sebiglesias/sig-ui)

For what I can see, your wizard allows the user to fill a determined number of forms and after all those forms are finished, you submit their whole content.

What I propose, is for the user to be able to stop filling the forms, leave the page and probably fill them up

[2018-11-29 19:00] sebiglesias commented on #170
For the particular use case that I wanted to use your wizard, was for a contruction reseller process. The user, would fill forms depending on the stage/step of a purchase they made (specifically buying stone that came inside a container). Each step, requiring a specific form, but there could be days between filling one step and the next one.

[2018-11-30 15:00] madoar commented on #170
So basically you just need the navbar, without the step content?
Only after clicking on a step indicator a window/popup opens where you can interact with the content of the step?

You don't need to wait until the wizard has been completed before you can submit information to a server.
You can do it whenever you want, for example at the end of a step using the `(stepExit)` output.

The problem you

[2018-12-06 13:00] duminduTS commented on #73
i'm using version 2.0 so that onece i use that code it given this error message

AppComponent.html:15 ERROR TypeError: Cannot read property 'navigation' of undefined
    at AppComponent

[2018-12-06 17:13] sebiglesias commented on #170
If you restrict the user coming back on previous, completed steps, maybe what you mentioned can be implemented:
[code]

[2018-12-12 11:43] Mokkapps opened #179 "Add navigation buttons to navigation bar"
Hi,

thanks for this component it looks really helpful and I want to use it in a project.

I have just one question:

Is it possible to add navigation buttons to the navigation bar without forking this repository?

I would like to have a previous and next button (e.g. arrow icons) to the left & right side of the navigation bar.

Additionally it would be nice to have the step icons clickable

Thank

[2018-12-12 22:13] Mokkapps commented on #179
Finally, I decided to use [Angular Material CdkStepper](https://material.angular.io/cdk/stepper/overview) as I am totally flexible there.

But anyways, your component is nice!

[2018-12-13 09:50] madoar commented on #179
What you want is currently not possible with `angular-archwizard`, because the navigation bar is set to use 100% of the width of its parent.
This sounds like a good enhancement.

[2018-12-14 12:33] unsafecode commented on #171
@madoar Fine, but we definitely need public APIs to handle this, especially when dealing with dynamically created steps.

[2018-12-14 13:12] madoar commented on #171
I agree, a public API becomes a requirement when working with dynamically created steps.
The API should become more stable with #166

[2018-12-18 09:32] forvy opened #180 "Is it possible to modify the step to be also clickable on symbol"
As in [demo](https://madoar.github.io/angular-archwizard-demo/#/navigation-symbol/basic) there are example as to how to use the angular-archwizard. But as you can notice we could only click on the title. Is there a way to make the symbol also clickable and behave the same way as the title?
![image](https://user-images.githubusercontent.com/17746819/50144438-d66ee600-02e1-11e9-8f43-2492bef1a3d5.png

[2018-12-24 13:44] earshinov commented on #124
@madoar , I am glad to be back. Let me add my comments point by point:

I agree, this needs to be fixed as soon as the new set of CSS classes is settled.

I do not understand fully what you mean by 'disjunct' here, but to me the situation when an element gets exactly one of, let's say, 3 classes seems fine. For instance, the current scheme of `current|done|editing` is ok in this sense (_but bad in

[2018-12-24 13:46] earshinov commented on #124
Here is a complete proposal for further discussion:

		/* current */
		//wizardStep.selected && !wizardStep.completed && !this.wizardState.completed;
		wizardStep.selected && !this.wizardState.completed;

		/* done */
		//(wizardStep.completed && !wizardStep.selected) || this.wizardState.completed;
		wizardStep.completed || this.wizardState.completed;

		/* optional */
		//wizardStep.optional && !

[2018-12-24 13:55] madoar commented on #124
Nice to hear that you're back!

With disjunct I mean, that the `current` css class replaces the `optional` and `done` css classes.
This leads to the reduction of "freedom" for the developer who maybe wants to add some css behavior exactly to the `current & optional` or `current & done` case.

[2018-12-24 13:57] earshinov commented on #124
Ah, thanks for clarification. Definitely a bad thing!

[2018-12-24 13:59] earshinov commented on #124
Demo time: https://stackblitz.com/edit/angular-archwizard-css-classes

The demo uses the current release of aw.

[2018-12-24 14:08] madoar commented on #124
I like your css class proposal.
It is much simpler and easier to understand too.

The next question is: what do we need to change on the css file side to support the new css class conditions visually?

[2018-12-24 14:12] earshinov commented on #124
Should not be much harder than a little CSS reorganization.

Let me bring up another subject first :-) It seems that everyone agreed that providing separate CSS classes for a completed step and a completed wizard is a good thing. If so, here is a modified proposal with a separate .completed class that will be added to each step once the whole wizard is completed:

		/* current */
		//wizardStep.se

[2018-12-24 17:48] earshinov commented on #124
OK, I think I'll prepare PR in the next few days.

[2018-12-24 17:51] earshinov commented on #124
I think I've found a bug, reproducible on the demo page:
https://angular-archwizard-css-classes.stackblitz.io/

Scenario:
1. In the wizard with the competion step, click though the steps until you reach the completion step.
2. Observe that indicators for previous steps react to hover, but clicking them does not cause navigation:

![previous step is hoverable but not clickable after visiting comple

[2018-12-24 18:44] earshinov commented on #124
Submitted PR https://github.com/madoar/angular-archwizard/pull/181.

You can either try it out locally by hooking it into angular-archwizard-demo, or use the demo page at https://stackblitz.com/edit/angular-archwizard-css-classes-pr.

Does it resolve all the problems we need to resolve? I mean, the CSS classes are now 'segregated', which resolves the [non-last optional step problem](https://github

[2018-12-24 20:43] madoar commented on #124
You're right this is a bug.
When the wizard has been completed the navigation bar shouldn't show previous steps as navigable.
Yes, please file a bug report.

[2018-12-25 12:42] earshinov commented on #180
Hello @forvy ,

This is already done in https://github.com/madoar/angular-archwizard/pull/147 and will be available in the next release of angular-archwizard (4.0.0).

[2018-12-25 12:46] earshinov opened #182 "Incorrect hover behavior of step indicators after the completion step has been visited"
Scenario:

- In the wizard with the competion step, click though the steps until you reach the completion step.
- Observe that indicators for previous steps react to hover, but clicking them does not cause navigation:

![previous step is hoverable but not clickable after visiting completion step](https://user-images.githubusercontent.com/52021/50422496-26a6f480-085c-11e9-87b7-789792c0acbf.png)

Th

[2018-12-25 13:08] earshinov commented on #182
From the implementation perspective, fixing this bug is not obvious and easy.

It seems that `NavigationBarComponent.isNavigable` should reach as far as to `CompletionWizardStep.canExit`. The implementation of `NavigationMode.isNavigable` should ideally call `canGoToStep`, which takes account of `wizardStep.canExit`, but `canGoToStep` is async and `isNavigable` should be sync.

I can only suggest

[2018-12-25 17:15] madoar commented on #182
`WizardStep.canExit` and `WizardStep.canEnter` are not completely synchronous.
Both inputs allow for the signature `(direction: MovingDirection) => Promise<boolean>`.
So basically the method itself is synchronous but the the evaluation of the return value is not.
Both `WizardStep.canExit` and `WizardStep.canEnter` need to be used by both the synchronous and the asynchronous `canGoToStep` methods,

[2019-01-07 10:49] #180 closed

[2019-01-09 18:07] Gevko opened #183 "Changing the step symbol background color programatically based on a condition"
Hello,

I am using your wizard in my project, and I need to change the background color of some completed steps based on a condition. I've a form inside of each step, and when the wizard is completed is done a API order that will return all the errors of each form and the step in which each form has errors. So I need to mark each step that has errors in order to inform the use, and I want to mark

[2019-01-09 19:02] madoar commented on #183
There are two ways I see you could do this:
1. You could add an additional `id` to each wizard step. This would then allow you to specify the step in css
2. You could try to use the current development version (`4.0.0`), which you can find on the develop branch. This new version will add a new `[awWizardStepSymbol]` directive, which allows you to specify the navigation symbol for each wizard step

[2019-01-09 19:04] madoar commented on #131
@ZachRHale what do you mean by `straight export`?

[2019-01-10 10:15] Gevko commented on #183
Hello again,

Thank you for your answer,

I've already tried the first solution, but the way I did it, it didn't work (i might do something wrong).

I've added a id for the first step, and then tried to reference it in the css like this:
` :host::ng-deep aw-wizard-navigation-bar.horizontal.large-filled-symbols  ul.steps-indicator li.done:after {
    #step1 {
        background-color: red !importan

[2019-01-10 10:19] madoar commented on #183
Sorry that was my fault, the first way can't work, because the navigation bar is a different element, which doesn't inherit the ids from the wizard steps.

Please try the second way, it should work. Be aware that you need to build version `4.0.0` currently yourself, because it's still in development (I would like to have #166 and #181 merged before the next release).

[2019-01-10 10:33] Gevko commented on #183
Sorry to ask, but how can I build this version by myself into my angular project?

[2019-01-10 10:38] madoar commented on #183
You should be able to build it via `npm run build -prod`.
Afterwards you can install it in your project via `npm install path/to/angular-archwizard/dist`.
If you have any problem feel free to ask.

[2019-01-10 10:41] Gevko commented on #183
Right, but where do I run each of the commands? Inside of my project directory?

[2019-01-10 10:46] madoar commented on #183
You run the first command inside your `angular-archwizard` clone (don't forget to check your branch).
You run the second command inside your target application in which you want to install/use `angular-archwizard`.

[2019-01-10 11:39] Gevko commented on #183
Well, I've done all as you said, but also I needed to install the node_modules of the angular-archwizard (clone) with npm install, so I've did it, builded it and installed it in my project, but now I've an warning when compiling my project:

And the component when I'm using the wizard has this error:

And I can understand that this error is based on the warning i received.

What do you think it co

[2019-01-10 11:46] madoar commented on #183
The first two messages are simply warnings, you can ignore them for the moment (I can't say on the fly why they appear).
The second message is an error. If I remember correctly it occurs because you've installed `angular-archwizard` in your project via `npm install` which leads to the creation of a symlink, which angular doesn't seem to like.

Try to build your application (not `angular-archwizard

[2019-01-10 12:22] Gevko commented on #183
This worked, and I'm almost into the solution I need. Inside of my step i've 									`<ng-template awWizardStepSymbol>
<span id="step1Title">1</span>
</ng-template>`

And I can change the background color of the symbol using:
`    const steptitle1 = document.getElementById('step1Title');
    steptitle1.style.backgroundColor = 'red';`

This changed the span background color, but can I change the c

[2019-01-10 12:44] madoar commented on #183
Hmmm, the navigation bar is implemented in https://github.com/madoar/angular-archwizard/blob/develop/src/lib/components/wizard-navigation-bar.component.html.

The problem is, that the content of the `awWizardStepSymbol` component is added to the inside of the circle. I think we will need to change the navigation bar implementation to support this fully.

[2019-01-10 12:54] Gevko commented on #183
Thank you, I've notification on your project so I will get notified when this will be done.

[2019-01-10 13:03] madoar commented on #183
I'll likely take a look at this at the beginning of next week.

There are two ways I see to solve this issue:
- we add a new directive `awWizardStepIndicator`, which allows defining the whole step indicator (i.e. the circle including its content)
- we copy the `stepId` from the wizard step to the `id` field of the corresponding `li` or `a` element in the navigation bar. This then allows for the us

[2019-01-10 15:40] Gevko commented on #183
Well, the second option seems better for me.

Also, your wizard is very cool and very responsive.

Thank you for your patience and your responses.

[2019-01-19 17:15] ZachRHale commented on #131
That wasn't very descriptive was it?
Actually I could do a pull request for this but I'll explain here as well.

For instance, if we have a components folder with an index.ts that exports each component

**_components/index.ts_**
[code]

then in the public_api.ts we export all from `components/index.ts`
**_public_api.ts_**
[code]
then the @ViewChild(className) _will NOT work_ with an AOT build

In

[2019-01-19 18:35] ZachRHale commented on #131
Fixed with Pull Request #184

[2019-01-24 11:53] kenger commented on #180
There is an ETA for 4.0.0? #147 is now 4 month old but still not published.

Thanks for the awesome plugin!

[2019-01-29 07:09] shubh9415 opened #185 "[navBarLayout]="large-filled" show Nan in HTML"

[2019-01-29 07:10] shubh9415 commented on #185
<aw-wizard _ngcontent-c1="" ng-reflect-nav-bar-layout="NaN" class="horizontal">

[2019-01-30 17:49] JoseChip28 commented on #72
I'm trying to use goToNextStep in code
[code]

[2019-01-30 18:41] madoar commented on #72
@JoseChip28 can you please open a new issue with the error message and a code snipped producing it?

[2019-01-30 18:41] madoar commented on #185
Can you please provide a short code snippet producing this error.
In addition which version of `angular-archwizard` are you using?

[2019-01-31 16:19] Gevko commented on #183
Hello again, I would like to help you to do this feature request, can you please give me some help to know where I should do the needed changes and add new functions? Thank you.

[2019-01-31 16:24] madoar commented on #183
Sorry, I forgot about this issue. If you want to give this a try:

Basically you would only need to modify the `wizard-navigation-bar.component.html` file and add an `[id]="step.stepId"` to either the `li` element or the `a` element. In addition we require some tests, which ensure that this enhancement works:
- one test which shows that the `id` is correctly applied when `stepId` is set for a `Wiz

[2019-02-06 08:21] YousefMMS commented on #116
@talesporto, I'm using a webpack and this works with me. Thanks 👍.

[2019-02-13 13:12] Kievbuy commented on #63
`this.wizard.goToStep(3);` woking fine

[2019-02-15 18:23] mitschmidt opened #188 "Unspecified dependency to 'util' / Angular compilation error"
Great wizard - it does a superb job in our enterprise projects.

After running `npm audit fix`, my package-lock is being updated and gets rid of some global dependencies (i.e. `util` package).

Now on building my application with `angular-archwizard`, I am getting the following error:

[code]

Has anybody seen this issue before? And shouldn't `util` be named as a dependency for angular-archwizard

[2019-02-19 08:44] suhailvs commented on #99
import { Component, ViewChild } from '@angular/core';
    import { WizardComponent } from 'angular-archwizard';
    export class MyComponent {
       @ViewChild(WizardComponent)
        public wizard: WizardComponent;
        ...
        // now you can navigate next page like:
        this.wizard.navigation.goToNextStep();

[2019-02-21 12:49] LKU4 commented on #142
You probably already solved this, but maybe someone will look for solution here:

The problem is that [canExit] accepts either a boolean or a function that returns a boolean. But what you have done here is you passed a result of the function that returns a boolean, `[canExit]="canExit()"`. This means that this function is evaulated with each change detection in order to bind the up-to-date value.

[2019-02-21 13:32] LKU4 commented on #9
Sorry for commenting on such an old, closed issue, but I'm not sure if this was actually resolved? It seems like the discussion got a little bit derailed with unrelated problem about completionStep. As far as I can see, wizard steps nested in child components are not loaded by the wizard.

Here's the stackblitz with example:
https://stackblitz.com/edit/angular-msg3qs

There are three steps created

[2019-02-21 15:46] madoar commented on #9
I agree that this would be useful, but I don't think angular supports this.
The problem is to have angular detect the nested `wizard-step`.
If you can get it working feel free to open a new PR with the necessary changes.

[2019-02-21 15:48] madoar commented on #142
Yes, it is as @LKU4 mentioned. When you bind the result of a method call to `[canExit]` angular will reevaluate the function with each change detection. This can be prevented by binding the function itself to `[canExit]`.

[2019-02-21 15:48] #142 closed

[2019-02-21 18:03] benshabatnoam commented on #142
I understand the problem with my code, and I did what @LKU4 suggested, and he is correct. As a note I will say that I'm not sure if this was or wasn't @adriellr01 question in the first place, has he didn't reply to this further discussion...

Not sure what he meant by

I guess it look like my case... although in my case the validations stopped after 4 times and didn't run *forever*

Thanks all for

[2019-02-21 23:14] Nascooo opened #189 "Creating dynamic component into wizard with many steps"
hi all ,
refereeing to this issue [https://github.com/madoar/angular-archwizard-demo/issues/27#issue-413165950](url)
is there a way to create components created dynamically and every component is show in it's step

[2019-02-22 21:46] madoar commented on #188
I haven't seen this error before. I'm not sure what the error means by `util`. `angular-archwizard` contains a folder with utility classes/functions, which is called `util`, maybe this one is meant?

[2019-02-22 21:47] madoar commented on #189
What do you mean by `components created dynamically` and `every component is show in it's step`?

[2019-02-22 21:56] madoar commented on #63
@Kievbuy I'm not sure how and where the browser accesses `wizard.navigation`.
When you look at the first output in your screenshot, you see that `wizard.navigation` seems to be defined (it seems to be of type `StrictNavigationMode`).

[2019-02-22 21:59] madoar commented on #180
I want to do a release soon. Before releasing version `4.0.0` I want to merge #186, which still requires some additional testing and a demo before I can merge it. Additionally I want to do some slight refactoring of tests before.

The other remaining open PRs are likely to be merged for version `4.1.0` or `5.0.0`, depending on how large their impact is.

[2019-02-23 08:58] mitschmidt commented on #188
That is possible - in that case it might be a resolution issue? I was not able to build my project anymore - it seems it only worked before because some sub dependency relied on npm ´util´ package, which was removed after a recent dependency update in my project. I had to manually add `util` as a dev dependency to make it work again.

[2019-03-07 13:27] EliezerMarkovsky opened #190 "Navigate by Click on STEPTITLE Icon"
Hi
Thanks for the project, it looks great!
I want to use it on my site,
But I also need the option to perform navigation by clicking on the icons.
Do you have such a possibility, or can you easily create it?

![image](https://user-images.githubusercontent.com/46671900/53959740-2a24ea80-40ed-11e9-8fc8-4761cd8acca5.png)

[2019-03-08 13:55] #183 closed

[2019-03-08 22:13] madoar commented on #190
This has been implemented in the current development version (version `4.0.0`). If everything goes well I will release it this weekend.

[2019-03-10 16:59] madoar commented on #190
I've just released `angular-archwizard` version `4.0.0` to [npm](https://www.npmjs.com/package/angular-archwizard)! Feel free to give it a try!

[2019-03-10 16:59] #190 closed

[2019-03-10 17:01] #175 closed

[2019-03-10 17:03] madoar commented on #167
I've just released `angular-archwizard` version `4.0.0` to [npm](https://www.npmjs.com/package/angular-archwizard)! Feel free to give it a try!

[2019-03-10 17:03] #167 closed

[2019-03-10 17:03] madoar commented on #164
I'll close this issue for now. If you still have the same problem feel free to open a new issue.

[2019-03-10 17:03] #164 closed

[2019-03-10 17:04] madoar commented on #163
II've just released `angular-archwizard` version `4.0.0` to [npm](https://www.npmjs.com/package/angular-archwizard)! `angular-archwizard` version `4.0.0` uses Angular 7. Feel free to give it a try!

[2019-03-10 17:04] #163 closed

[2019-03-10 17:05] #160 closed

[2019-03-10 17:06] madoar commented on #153
I've just released version `4.0.0` of `angular-archwizard`. If this is still an issue with version `4.0.0` feel free to open a new issue.

[2019-03-10 17:06] #153 closed

[2019-03-10 17:06] madoar commented on #134
I've just released `angular-archwizard` version `4.0.0` to [npm](https://www.npmjs.com/package/angular-archwizard)! Feel free to give it a try!

[2019-03-10 17:06] #134 closed

[2019-03-10 17:06] madoar commented on #131
I've just released `angular-archwizard` version `4.0.0` to [npm](https://www.npmjs.com/package/angular-archwizard)! Feel free to give it a try!

[2019-03-10 17:06] #131 closed

[2019-03-10 17:08] madoar commented on #130
I've just released `angular-archwizard` version `4.0.0` to [npm](https://www.npmjs.com/package/angular-archwizard)! Version `4.0.0` should fix this issue. Feel free to give it a try!

[2019-03-10 17:08] #130 closed

[2019-03-10 17:09] madoar commented on #94
I'm closing this issue for the same reason as #120. If there is still a need to use `angular-archwizard` with a version of Internet Explorer feel free to open a new issue/PR.

[2019-03-10 17:09] #94 closed

[2019-03-10 17:11] madoar commented on #29
This issue is quite old. If the issue still exists in `angular-archwizard` version `4.0.0` please open a new issue.

[2019-03-10 17:11] #29 closed

[2019-03-17 16:12] madoar commented on #182
@earshinov do you think it makes sense to add an additional check to the `isNavigable` method, which checks whether the wizard is completed? If the wizard is completed `isNavigable` should return always `false`.

[2019-03-17 16:54] earshinov commented on #182
@madoar , This change makes perfect sense, because the user should not navigate around in a complete wizard. Also, I believe it will fix this issue.

One downside is that a decision whether navigation should be allowed or not, will be made in some way or another in 3 (!) components:
1. WizardStep (`CompletionWizardStep` sets `canExit` to `false`)
2. NavigationMode
3. NavigationBar (after the chang

[2019-03-19 06:49] suhailvs opened #196 "ERROR TypeError: Cannot read property 'navigation' of undefined"
When i run `ng serve` everything work perfectly.

But when i take production build(`ng build --prod`) then when i click `Add To Cart` button, I got error(`ERROR TypeError: Cannot read property 'navigation' of undefined`) when i call `this.wizard.navigation.goToNextStep();`
here is the code:

    import { Component, OnInit, ViewChild } from '@angular/core';
    import { WizardComponent } from 'angu

[2019-03-19 09:50] #196 closed

[2019-03-19 09:58] suhailvs commented on #72
@JoseChip28

change:
`@ViewChild(WizardComponent)
public wizard: WizardComponent;`
to:
`@ViewChild('wizard')
public wizard: WizardComponent`

[2019-03-20 20:10] madoar commented on #196
Which version of `angular-archwizard` are you using?
When/where is `addTocart()` called?

[2019-03-21 01:21] suhailvs commented on #196
@madoar
Version

addtocart is a button, which will navigate to nextstep ie `this.wizard.navigation.goToNextStep();`.

Please put `@ViewChild('wizard') wizard: WizardComponent;` into documentation on how to change step on typescript.

I found you have mentioned `@ViewChild(WizardComponent) public wizard: WizardComponent;` in some issues. That won't work on production build.

[2019-03-22 20:57] madoar commented on #196
@suhailvs try version `4.0.0` which I released about a week ago, it should fix the issue :)

[2019-03-24 08:30] madoar commented on #182
I'm not sure we can move the navigation responsibility to only one class:
- `WizardStep` is the place where `canExit` and `canEnter` are specified, because these are the only components which the user has direct access to (by creating them)
- `NavigationMode` provides the complete "navigation logic"
- `NavigationBar` represents the navigation bar which is hidden from the user and needs to contain

[2019-03-25 08:48] forvy opened #197 "Can we have an example or possibly code starter project?"
Related to: https://github.com/madoar/angular-archwizard/issues/4 and https://github.com/madoar/angular-archwizard/tree/v1.6.0. I've tried and check to use the following:
[code]

to make wizard title responsive, but doesn't seem to work. Did I miss something?

I'm using angular 7 and archwizard 3.0, [Stackblitz Demo](https://stackblitz.com/edit/angular-archwizard-simple-demo-edsmgs?file=src/app/ap

[2019-03-25 14:55] earshinov commented on #182
Let's start with a unit test

[2019-03-25 16:07] earshinov opened #199 "Consider providing global styles"
Hello @madoar ,

Do you think it would be useful if angular-archwizard provided "global styles"? That is, instead of compiling styles into the library, the library would provide *.css / *.scss / *.less files to be included by the application.

# Motivation

This way library users could customize the appearance of the wizard by setting LESS / SCSS variables instead of overriding CSS styles with `!i

[2019-03-25 20:00] madoar commented on #197
The most likely reason why it is not working is because `hidden-sm-down` and `hidden-md-up` are a part of bootstrap and not `angular-archwizard`.

About an example:
We currently provide no Stackblitz template, but if you have one or want to provide one feel free to open a PR! Instead we provide a demo repository with multiple examples. For your use-case you can find an example [here](https://madoa

[2019-03-25 20:01] madoar commented on #182
Good idea!

[2019-03-25 20:16] madoar commented on #199
### Global CSS:
If you mean by `global css` an external css file, like angular material [provides](https://material.angular.io/guide/getting-started#step-4-include-a-theme) provides, then I agree. Providing the styles via an external file would be very useful.

In the last weeks I briefly thought about changing the way the styles are added to the components (i.e. from a per component approach to a

[2019-03-26 08:05] #197 closed

[2019-03-26 21:08] sagunpandey commented on #78
For example, if we select index 2 as the default index, can we mark step 0 and 1 as done while initiating the wizard?

[2019-03-26 21:13] sagunpandey commented on #170
Hi, thank you for your inputs. So, is there a way to mark all the previous steps as done if I choose to set the initiate the wizard at some index?

[2019-03-27 16:11] sebiglesias commented on #170
I ended up using a custom solution for my use case and not the wizard, because it didn't suit my particular case.

Still, and I don't remember correctly or know of any recent changes, I couldn't find a way to initiate the wizard at some index with all previous steps finished, and I didn't (try to) understand the use I should give to `defaultIndexLocation`.

[2019-04-02 07:19] candorthor commented on #75
@madoar
I need a help on solving the issue. I have a wizard, where I made step 3 and step 5 as optional step. When I click the "Next Step" button in step 1, I want step 2 and step 4 to be hidden  and step 3 and step 4 to be displayed. I have used *ngIf. The problem is when clicked on "Next Step" button of step 1, wizard circle is working as expected, but the contents of the step 3 (i.e "Go to prev

[2019-04-03 05:04] candorthor opened #201 "How to use *ngIf in wizard"
@madoar

I need a help on solving the issue. I have a wizard, where I made step 3 and step 5 as optional step. When I click the "Next Step" button in step 1, I want step 2 and step 4 to be hidden and step 3 and step 5 to be displayed. I have used *ngIf. The problem is when clicked on "Next Step" button of step 1, wizard circle is working as expected, but the contents of the step 3 (i.e "Go to prev