[2019-04-04 06:25] apbedi opened #202 "Change the navigation symbol on complete"
How can I change the navigation symbol on complete the step. I was also not able the change the css for stepper

[2019-04-04 06:57] candorthor commented on #75
@madoar

Can anyone look into this please?

[2019-04-04 19:15] madoar commented on #202
You can find an example how to do this in the [demo](https://github.com/madoar/angular-archwizard-demo) repository. To be more precise https://madoar.github.io/angular-archwizard-demo/#/navigation-symbol/basic shows a wizard with custom navigation symbols for the steps. https://github.com/madoar/angular-archwizard-demo/blob/develop/src/app/basic-step-symbol/basic-step-symbol.component.html contain

[2019-04-04 19:25] madoar commented on #201
Your code is hard to read because of the missing formatting (especially the html). Can you please format your code and put it inside code tags, this makes it much easier to read.

I'm not sure what exactly you want to do. Can you provide a screenshot visualizing what you want to do?

Please be aware that removing and reinserting wizard steps at runtime (e.g. with `*ngIf`) can have quite the unexpe

[2019-04-04 19:26] madoar commented on #75
@candorthor your question here is a duplicate of #201, right?
Please open a new issue for new questions. This makes it much easier for me to track this.
For an answer to your question please take a look at #201.

[2019-04-05 05:24] candorthor commented on #201
@madoar

Sorry, the code formatting was my mistake. Below are the codes. Initially it will be on the step 1. Here I want step 2 and step 3 to be enabled when clicked on the "Next step" button of step 1 and the "Go to previous step" button" and "Go to next step" button of step 2 should be displayed as shown in the attachment . I have attached the screenshot for your reference.
.html file

[code]

.

[2019-04-06 20:35] candorthor commented on #201
@madoar
Any updates?

[2019-04-07 09:02] madoar commented on #201
What do you mean by "enabled"? In your second screenshot all steps are completed, this can be achieved by added a completion step to your wizard and entering it.

What you seem to want to do in your example is exchanging whole steps when flipping a variable. I can't recommend this. because of the previously mentioned issues. Instead I recommend changing the content of the steps and not the steps t

[2019-04-07 15:46] candorthor commented on #201
@madoar
Thanks for the suggestion.

Enabled in the sense the steps are completed. What  I wanted  is to complete step 2 and step 3 on a click on "Next step" button of step 1, like I have shown in the screenshot. So is that possible?

[2019-04-08 14:26] candorthor commented on #201
@madoar

I fixed this. Thank you :)

[2019-04-09 18:36] Taren-Ko opened #205 "Performing validation on awGoToStep"
In my program, we currently have a save button and a next button, but we want to merge these into one button which saves the data on the current page before moving to the next one. I set up the Next button so that onBtnClick it performs the save functionality and validates that the user can go to the next screen, if it is not valid (doesn't save) a boolean flag is set to false. On the same button

[2019-04-10 19:42] #201 closed

[2019-04-10 20:35] madoar commented on #205
Is it absolutely necessary to trigger the validation by clicking on the "save and continue" button? Is it for example also ok to check the validation of the form automatically in the background whenever an input has been made or via a second button?

About the procedure of a button click using `awGoToStep`:
- first the navigation mode checks whether a step can be exited/entered via `canExit`/`canE

[2019-04-11 13:20] Taren-Ko commented on #205
For this application it was necessary to merge the save and continue functionality together. I was able to resolve this by adding a ViewChild of the Wizard to my component.ts and then after validation calling
`this.wizard.navigation.goToStep(dest);` directly in the component and removing awGoToStep in the HTML. This ensures that the exit only occurs after a successful validation and save.

[2019-04-23 07:20] candorthor opened #207 "Completing a particular wizard step on a click"
@madoar

This is the perfect wizard for what I'm trying to do. Here Iam facing a problem. Could you please help me on this.

I have a wizard like I have shown in the screenshot. When I click on the  button "Enter Details in 4"  in step 4, it is routed to a page, say a "details" page (somewhere outside the wizard).
In "details" page I have a button "Save".

What I want to do is, when I click on the

[2019-04-24 18:37] madoar commented on #207
`angular-archwizard` doesn't support this out of the box, but there is a workaround you could use.

Basically you need to change the style of the step indicator in the navigation bar of your fourth step upon pressing the `Enter` button to display the step as completed. The easiest way to do this in my opinion is by giving the wizard step a `stepId`, which you change depending on whether the user h

[2019-04-26 06:04] candorthor commented on #207
That's great. Thanks for your suggestion :)

[2019-04-29 12:19] fredvaliant opened #209 "node_modules/angular-archwizard/archwizard.css MISSING"
Missing css

![image](https://user-images.githubusercontent.com/18463251/56895539-f9917980-6abb-11e9-9f07-ffcf25961ce3.png)

[2019-05-01 14:19] fernandezjose commented on #209
Same here...

[2019-05-02 19:29] madoar commented on #209
The `archwizard.css` file is currently part of the development branch and not the master (release) branch. The next version of `angular-archwizard` (most will most likely become version `5.0.0`) will contain the generated `archwizard.css` file.

I expect to release the next version of `angular-archwizard` in the next two weeks.

[2019-05-02 19:30] #207 closed

[2019-05-06 16:53] biddingLV opened #210 "Question - How to add dynamic wizard step for wizard on Click"
Hey, sorry if I am asking something whats already here. I have more question than issue, but I want to achieve something like this, lets say, for example, I have simple wizard with 2 steps and when the user opens the first step in the wizard, he or she can click on "Add" or "Next" buttons. If the user clicks on "Add" button, I want to add a new step to wizard with pretty much the same content what

[2019-05-11 08:48] madoar commented on #210
In theory you should be able to add a list of wizard steps dynamically to the wizard via `*ngFor`:

[code]

When adding wizard steps dynamically via `*ngFor` and `*ngIf` you need to watch out that you add wizard steps only **after** the current step the user is in. Otherwise you risk breaking the internal state of the wizard.

For an example how to use `*ngFor` with `angular-archwizard` also see [

[2019-05-11 08:51] madoar commented on #210
You can handle the navigation part by using a `stepId` for each fixed (non-generated) wizard-step you want to be able to jump to.

[2019-05-12 14:29] tbenci opened #212 "Font Awesome again"
Howdy all,

I have a brand new project with

"@fortawesome/fontawesome-free": "^5.8.2",

I can not get these icons to work.

[navigationSymbol]="{ symbol: '&#xf2dd;', fontFamily: 'Font Awesome 5 Free' }"

All I get is the square box everyone was talking about on the closed thread.

I am using
"angular-archwizard": "^4.0.0",

Any help appreciated or do I just stop flogging the dead horse.

Thanks
T

[2019-05-12 14:55] madoar commented on #212
Can you try if using a `ng-template` with `awWizardStepSymbol` works?
You can find an example for this [here](https://madoar.github.io/angular-archwizard-demo/#/navigation-symbol/custom-template) and [here](https://github.com/madoar/angular-archwizard-demo/blob/master/src/app/custom-step-symbol-template/custom-step-symbol-template.component.html).

As far as I remember starting with version 5 font

[2019-05-14 19:51] ste7e0 commented on #209
@madoar so what we can do to use angular-archwizard?? just wait??

[2019-05-14 20:59] madoar commented on #209
Alternatively you can build the development branch on your own and include your local build in your application until version `5.0.0` has been released.

`angular-archwizard` can be built using `npm run build`. Afterwards you will find the build files inside the generated `dist` folder.

[2019-05-15 20:10] madoar commented on #185
Closed because of inactivity

[2019-05-15 20:10] #185 closed

[2019-05-15 20:10] #188 closed

[2019-05-15 20:10] madoar commented on #189
Closed because of inactivity

[2019-05-15 20:10] #189 closed

[2019-05-15 20:11] #202 closed

[2019-05-15 20:12] #205 closed

[2019-05-15 20:13] madoar commented on #199
This has been implemented in #200

[2019-05-15 20:13] #199 closed

[2019-05-15 20:14] #69 closed

[2019-05-15 20:18] madoar commented on #69
The second point has been implemented in `angular-archwizard`. The removal and addition of wizard steps after initialization is (now) possible. When doing this it is important to watch out that only steps **after** the current step are added and removed, otherwise it is possible that the state of the wizard is broken and the wrong step is shown or the navigation doesn't function correctly anymore.

[2019-05-15 20:24] madoar commented on #169
I can't reproduce this with either Firefox or Chrome. I'm assuming this is a browser issue.
In case the error still occurs feel free to open a new issue with your OS and browser information.

[2019-05-15 20:24] #169 closed

[2019-05-16 19:46] madoar opened #213 "Step indicator of completion steps has wrong color after entering"
After entering a completion step the corresponding step-indicator in the navigation bar is red instead of dark green:

![grafik](https://user-images.githubusercontent.com/18488086/57882391-dc7ed980-7823-11e9-8043-854943843757.png)

Correct would be if the step indicator is dark green like for the other steps.

[2019-05-16 19:52] madoar commented on #213
The reason for the issue is that the completion step is assigned the css classes `current done completed` after entering.

This combination is then displayed with:

https://github.com/madoar/angular-archwizard/blob/57900c5ec9c354b259669696bf436db000c0c1df/src/css/wizard-navigation-bar.scss#L163-L168

[2019-05-16 19:55] madoar commented on #213
A possible quick fix for the issue may be to add an additional constraint to the `current` css class check. This would change:

https://github.com/madoar/angular-archwizard/blob/57900c5ec9c354b259669696bf436db000c0c1df/src/lib/components/wizard-navigation-bar.component.ts#L69-L71

to:

[code]

[2019-05-22 09:33] AbhijitMuke opened #214 "How to use Nested routing with angular-archwizard to load separate component for every step independently"
Hi,

I am quite new to angular-archwizard, trying to implement it in one of the my workflow wizard.

Bellow is my under development architecture,

- center component
	 - having angular-archwizard with 3 different steps - .HTML file
	 - having control of moving one step to another step - .TS file
	 - For every steps I have router-outlet to load child component through routing

I supposed to navigat

[2019-05-23 19:40] madoar commented on #214
`angular-archwizard` doesn't support step selection using angular routes out of the box.
You will need to write some glue around it to make the step selection work using an angular router.

In a nutshell you will need to perform to execute some additional initialization code when using a router-outlet. Whenever an `angular-archwizard` component is shown it is initializes with at a initialization s

[2019-05-23 19:47] madoar commented on #213
At the moment I do not think that the suggested quick-fix is a good solution, because it reduces the possible expressiveness of the CSS by allowing the removal of the `selected` css class from the navigation bar, while a wizard step is in fact selected.

Another more sophisticated solution may be to use `:not(.completed)` to specify the condition when to apply certain css in a more detailed way.

[2019-05-29 03:55] satnar commented on #209
Is the 5.0.0 delayed inordinnately? I adopted to this component after lot of read and code efforts in my project. The wizard is spewing all fields and steps in the same window... somehow troubleshooted to identify this missing CSS file. Its a pity that all your great work is unusable in lieu of this issue.

[2019-05-29 07:12] timvandesteeg commented on #209
https://github.com/madoar/angular-archwizard/tree/develop/src/css

As a temporary fix, simply add these scss files to assets folder and include them in your angular.json.
`"path/to/your/assets/css/archwizard.scss"`
Instead of
`"node_modules/angular-archwizard/archwizard.scss"
`

[2019-05-29 16:52] madoar commented on #209
Version `5.0.0` is currently blocked by a visual bug of the updated stylesheets described in #213.
I have some ideas how to solve the issue but I haven't yet decided which solution to is best long-term. Therefore I'm currently waiting for @earshinov to get back before deciding how to fix the issue. I expect to hear from @earshinov around the end of next week.

[2019-06-03 06:16] hamdyahmed1984 opened #215 "Why the sample is displaying the contents of all steps?"
Why the sample is displaying the contents of all steps?

![image](https://user-images.githubusercontent.com/6085098/58779977-c6209e00-85d7-11e9-80ea-e1151cf73dc7.png)

[2019-06-04 21:30] madoar commented on #215
To better help with your problem I need context information:
- what wizard are you using? (is it from the demo repository or your own code?)
- what code produces this result?
- what version of `angular-archwizard` are you using?
- what browser are you using? (have you tested with other browsers?)

The more information you can provide the easier it is to help

[2019-06-04 23:48] hamdyahmed1984 commented on #215
Nothing special, just used angular 8.
- Installed archwizard using npm:
$ npm install --save angular-archwizard
- Added it in the AppModule.
- And used the sample code:
<aw-wizard>
  <aw-wizard-step stepTitle="Title of step 1">
    Content of Step 1
    <button type="button" awNextStep>Next Step</button>
    <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button>
  <

[2019-06-05 20:19] madoar commented on #215
Do you have a short example project producing this issue?
To analyze this I need to look at the generated HTML and DOM.

[2019-06-06 05:39] hamdyahmed1984 commented on #215
I tried it in a new angular 8 app and it works fine.
Seems that my app has some dependency or config that causes this issue.

[2019-06-06 11:27] vishal4799 opened #216 "Angular pure style library (or node pkg) which can used in different angular applications as a global style."
For example, I have three ongoing projects in which I have the same global _variable.scss and global.scss. When I change anything in these, I have to copy it to all three projects Instead I can create library/npm pkg which can be used in any number of project.

[2019-06-11 20:23] earshinov commented on #213
As far as I understand, the problems stems from the fact that completion steps are marked as completed right after they are navigated to by the user. I think the best course of action would be to adjust the condition when the red `$wz-color-editing` color is applied. Right now it is applied to any steps which happen to be selected and completed at the same time (which is, of course, true for the c

[2019-06-11 20:32] madoar commented on #213
I'm fine with that solution! This will also be more in line with the previous versions of `angular-archwizard` which also contained an `.editing` css-class with the same meaning.

[2019-06-12 09:19] wassimayari commented on #73
i have the same issue

    at LoginComponent.push../src/app/login/login.component.ts.LoginComponent.updateExperienceService (login.component.ts:452

[2019-06-16 06:50] #212 closed

[2019-06-19 13:56] Gevko opened #222 "Change the step icon's style/innerHtml"
Hello,

Some months ago I had a problem and it was solved here: https://github.com/madoar/angular-archwizard/pull/186 , by adding a stepId for each wizard's step. I needed to add an error symbol to the wizard's step if the step had any errors, and I was doing it this way:

const stepElmnt = document.getElementById('stepsId');
stepElmnt.innerHtml += 'someHtmlThatWillPutAnErrorIconToStep';

Now i tr

[2019-06-24 08:21] EfkanKnz commented on #209
We are still waiting... Can you tell us when it's done?

[2019-06-24 21:17] madoar commented on #209
We're almost there. After merging #221 we should be good to go for the next release.

[2019-06-24 21:19] madoar commented on #216
What exactly do you mean by `pure style library`?

[2019-06-24 21:24] madoar commented on #222
So basically you want to add a symbol to a step-indicator in the navigation bar? If you can't get the correct element by its id I think you're either trying to access the element before it has been created (wrong angular lifecycle phase) or somehow the element does not exist.

Can you share the created DOM tree for your code or a code-sample that produces the error? (a screenshot from a browser de

[2019-06-25 09:29] Gevko commented on #222
Hello,

The first print is the wizard instance's log, and the second is the DOM.

As you can see, my first step's stepId is "brigade", and i log it with console.log(document.getElementById('brigade')); and the log is null. Also this can not be angular lifecycle problem, since I log this on a button click long after the wizard is created. But this was working this way at the version you provided me

[2019-06-25 11:28] earshinov commented on #209
@madoar , What about #182 ? I think that it should better be fixed before the release, especially because the fix might involve changes in the publicly visible API of `NavigationMode` classes.

[2019-06-25 19:01] madoar commented on #209
I would like to have it fixed before, but I still don't have a good idea how to fix this elegantly

[2019-06-25 19:24] madoar commented on #222
Which version of `angular-archwizard` are you using?

[2019-06-26 08:21] Gevko commented on #222
4.0.0

[2019-06-26 18:26] madoar commented on #222
This is strange. Can you provide a minimal example leading to this issue?

We have an example for the `stepId` feature at https://madoar.github.io/angular-archwizard-demo/#/custom-css/step and https://github.com/madoar/angular-archwizard-demo/blob/master/src/app/custom-step-css/custom-step-css.component.html#L13. Does your code differ from this?

[2019-06-27 15:31] Gevko commented on #222
Nope, my code is similar to yours.

<aw-wizard #wizard [navBarLayout]="'large-filled-symbols'" class="custom-css">
<aw-wizard-step stepId="brigade" [stepTitle]="'components.fieldNames.general' | translate" [navigationSymbol]="{symbol: '1'}">
Some content...
</aw-wizard-step>
<aw-wizard>

at .ts file i have a test method:
	test() {
		console.log(document.getElementById('brigade'));
	}

This always

[2019-07-01 14:15] fbellod1986 commented on #153
Hello guys, i have 4 steps, how i can go to the last step from step 1? help [awGoToStep]="{stepIndex: 3}" doesnt work :-(

[2019-07-01 20:51] madoar commented on #153
@fbellod1986 how have you defined your wizard?
To allow for a free navigation you need to use the `free` navigation mode, otherwise you can set the steps in-between your first and your last step to optional

[2019-07-17 04:09] vishal4799 commented on #216
Only CSS no HTML and TS.

[2019-08-08 06:16] candorthor opened #225 "Need lamda function to be in child component"
Hi @madoar ,

I wanted the lamda function to be present in the child component. How can I do this?

My code is as below, where I have lamda function in parent.ts file.
parent.html code
[code]

parent.ts file
[code]

But I need the lamda function "canExitStep" in child.ts file. Please help me in this.

[2019-08-10 16:01] madoar commented on #225
I don't see the child component in your code? Normally you would use [`awWizardStep`](https://github.com/madoar/angular-archwizard#awwizardstep) in such a case.

[2019-08-10 16:03] madoar commented on #222
I need a minimal code example that leads to the error, otherwise it is hard for me to help.

[2019-08-11 17:59] #213 closed

[2019-08-11 18:01] madoar commented on #216
How would such a library be of use? I mean the styles make only sense if you have a corresponding html layout?

I have just released version `5.0.0` of the wizard. This version comes with a separate css file, that contains **all** the stylesheets defined in the wizard. See the documentation for more details.

[2019-08-11 18:01] #215 closed

[2019-08-11 18:03] madoar commented on #214
I have just released version `5.0.0`! Feel free to give it a try!

If you have any questions or issues feel free to open a new issue

[2019-08-11 18:03] #214 closed

[2019-08-11 18:04] madoar commented on #210
I think the question has been satisfactorily answered? If there are any remaining questions feel free to open a new issue.

[2019-08-11 18:04] #210 closed

[2019-08-11 18:06] madoar commented on #209
I have just released version `5.0.0`! `angular-archwizard` version `5.0.0` comes with a separate css file containing all defined css styles of the wizard. Feel free to give it a try!

If there are any issues or questions feel free to open a new issue

[2019-08-11 18:06] #209 closed

[2019-08-11 18:08] madoar commented on #171
`angular-archwizard` version `5.0.0` has just been released. It contains #166 with a more stable API to navigate the wizard programmatically. Feel free to give it a try!

If there are any questions or problems feel free to open a new issue!

[2019-08-11 18:08] #171 closed

[2019-08-13 04:25] candorthor commented on #225
@madoar

Ok. Thanks a lot @madoar .

[2019-08-13 04:25] #225 closed

[2019-08-19 13:57] vahidsamimi opened #231 "How to retrieve data from Form in dynamically wizard in angular 6"
I'm trying to create dynamically form-wizard with angular-archwizard and I want to retrieve data from Form for each step as JSON when a user clicks on the finish button. Hier is my code as an example :

https://stackblitz.com/edit/angular-5-step-wizard-pzxmco

[2019-08-20 10:01] Gevko commented on #222
`<aw-wizard #wizard [navBarLayout]="'large-filled-symbols'" class="custom-css">
		<aw-wizard-step [stepId]="'brigade'" [stepTitle]="'labels.generalFields' | translate" [navigationSymbol]="{symbol: '1'}">
			HELLO THIS SHOULD BE WORKING x)
		</aw-wizard-step>
</aw-wizard>
`

and i have a method on ts file:
`	test() {
		console.log(document.getElementById('brigade'));
	}`

this logs me null, is this

[2019-08-21 21:08] madoar commented on #231
To do this you will need to store the input of your form fields in a central data structure, i.e. json object. Afterwards you can access this json object in `click` event handler of your finish button.

[2019-08-21 21:11] madoar commented on #222
No this is only a snippet which misses a lot of information. Please provide a runnable example web-application that demonstrates your error. You can this either in a new Github repository or through a website like stackblitz. Without such an example it is really hard for me to reproduce the issue and thereby to help fix it.

[2019-08-22 08:43] Gevko commented on #222
So here it is:
https://stackblitz.com/edit/angular-pgrkea
the aler always logs null...

[2019-08-22 16:43] madoar commented on #222
After updating the version of `angular-archwizard` from `3.0.0` to `4.0.0` it was working for me.
I would recommend you updating all the way to `5.0.0`.

[2019-08-23 08:36] Gevko commented on #222
gonna try out :)

[2019-08-23 16:02] karivka opened #232 "ERROR TypeError: Cannot read property 'changes' of undefined, Cannot read property 'length' of undefined"
Hi,

Recently in my project, I've updated  angular-archwizard  from 4.0.0 to 5.0.0

When I run ng serve everything works perfectly, but when I make production build(ng build --prod) I get a lot of errors:

ERROR TypeError: Cannot read property 'changes' of undefined
    at l.ngAfterContentInit
(it cannot find this.wizardSteps )
ERROR TypeError: Cannot read property 'length' of undefined
    at l.g

[2019-08-23 16:42] madoar commented on #232
Can you share some more of your code? I can't really tell what is happening by looking at your error message. For example what is `l`?

[2019-08-23 17:26] karivka commented on #232
I use the wizard in many places, so I created just a simple example to test prod build version:

<aw-wizard [navBarLocation]="'left'" [navBarLayout]="'large-empty-symbols'" class="custom-css">
    <aw-wizard-step stepTitle="Base Information"
                    [navigationSymbol]="{ symbol: '&#xf085;', fontFamily: 'FontAwesome' }"
                    [canExit]="true"
                    stepId="cu

[2019-08-23 17:50] madoar commented on #232
Have you tried the corresponding [example](https://github.com/madoar/angular-archwizard-demo/tree/develop/src/app/wizard-step-ngfor)?

Inside the associated [typescript file](https://github.com/madoar/angular-archwizard-demo/blob/develop/src/app/wizard-step-ngfor/wizard-step-ngfor.component.ts) is an additional:

[code]

definition. I can't remember anymore why it way needed but maybe it helps in

[2019-08-23 17:57] karivka commented on #232
this._changeDetectionRef.detectChanges();
this is needed when you change <aw-wizard-step> steps in template after first initialization , in my case I didn't change anything after initialization.

Can be these issue related to angular version(I have old version 6.0.0)?

[2019-08-23 18:26] madoar commented on #232
Yes that is quite possible. `angular-archwizard` version `5.0.0` is built using Angular 8. So it may be incompatible with Angular 6.

[2019-08-28 07:25] LaughingCoy opened #233 "How can I use this?"

[2019-08-28 07:26] LaughingCoy opened #234 "How can I use Navigating the wizard programmatically?"
How to use this methods? or how did 'wizard' declared?

wizard.goToNextStep();
wizard.goToPreviousStep();
wizard.goToStep(desinationIndex);

[2019-08-28 07:26] #233 closed

[2019-08-28 08:46] #234 closed

[2019-09-03 10:07] earshinov commented on #232
@madoar, Judging by the code it seems that `@ContentChildren(WizardStep) wizardStepsQueryList` for some reason is not yet initialized in `ngAfterContentInit`. Here is where the first "Cannot read property 'changed' of undefined" errors comes from: https://github.com/madoar/angular-archwizard/blob/6aad9dc691a09e3947309173f6b167ae0cc99bde/src/lib/components/wizard.component.ts#L167

[2019-09-16 07:31] juwul commented on #215
I had similar issues. My problem was that I used _lookbehind_ regex for form validation patterns. But _lookbehind_ is only supported by Chrome. So after changing it to a new regex that did not use _lookbehind_ everything works like a charm.

[2019-09-22 21:05] madoar commented on #232
Yes, you're right the error comes most likely from `ngAfterContentInit`. The issue is that this should not happen. Therefore I think that the most likely reason is either the used Angular version or some strange usage of `angular-archwizard` in the target application.

[2019-09-23 01:14] karivka commented on #232
I don't know what was the issue with updating from 4.0.0 to 5.0.0, with angular 6.
I tried different approaches with code and build setting, the issue probably related to some inconsistency with modules and versions, so I totally removed "node_modules" folder and install all dependencies again - that helped.

[2019-09-23 01:14] #232 closed

[2019-10-07 14:35] darrynhoskingluna opened #239 "Consider removing !global"
When including this library in an Angular 8 project and importing the SCSS files so i can override the variables, you get warnings.

When including like this to override the size of the dot

$wz-big-dot-width: 25px !default;
$wz-big-dot-height: 25px !default;
@import "~angular-archwizard/archwizard.scss";

This warning is printed when building

[2019-10-09 01:35] ranforxi opened #240 "Using wizard.goToStep() not able to navigate to aw-wizard-completion-step"
Hi madoar,

I am trying to navigate to the last step, which is the aw-wizard-completion-step, by using wizard.goToStep(), it is not working.

However, I replace the aw-wizard-completion-step with normal aw-wizard-step, and it is working now. Just wanna to ask did I miss anything in my code?

Here is an example to demo the problem
https://stackblitz.com/edit/angular-sbydzi?embed=1&file=src/app/app.

[2019-10-09 02:06] #240 closed

[2019-10-10 20:16] madoar commented on #239
Thanks for reporting!

@earshinov you are more knowledgeable about SCSS than me, can you please share your thoughts on this?

[2019-10-11 06:25] darrynhoskingluna commented on #239
@madoar no problem, to remove the warning it is fairly simple, just doing as the warning suggests and removing the !global from the two reported lines.

In variable.scss
change line 44
` $wz-param-indicator-state: null !global;`
to
`$wz-param-indicator-state: null;`
Change line 47
`$wz-param-indicator-color: null !global;`
to
`$wz-param-indicator-color: null;`

These changes are enough to fix the

[2019-10-11 15:39] NA-Jalilius commented on #183
Hello @Gevko , @madoar ,
I'm interested in how you @Gevko  did succeed to change the color of the horizontal line linking between two visited steps like int the picture below based on what you were asking for. Because whenever I try to play with the CSS I finish by styling the whole line, not only the part of the visited steps :/
Thank you guys in advance for your help =)

![Linked Steps](https://

[2019-10-13 13:34] earshinov commented on #239
Hi @madoar , @darrynhoskingluna .

`!global` at root level serves no purpose indeed. I will prepare a PR to remove them.

Other usages are needed. Otherwise, each of them will declare a new variable instead of re-defining a global one.

[2019-10-14 08:31] NA-Jalilius opened #242 "Question : Styling the linking line between two visited steps"
Hello Mr. @madoar ,
I'm interested in how @Gevko did succeed in #183  to change the color of the horizontal line linking/between two visited steps like int the picture below based on what you were asking for. Because whenever I try to play with the CSS I finish by styling the whole line, not only the part of the visited steps :/
Thank you guys in advance for your help =)

![Linked Steps](https://u

[2019-10-14 20:32] madoar commented on #242
You can change the properties of the lines connecting two circles by using:

[code]

Here it is important to understand that `:before` is kind of misleading in this case because you modify the line that comes **after** the matches circle. Following up you can change the color of all lines that **begin** at a completed step to green by using:

[code]

Please be aware that this can look somehow stup

[2019-10-16 08:29] NA-Jalilius commented on #242
Okey, I get it now, I had missed the "li.done:not(:last-child):before" part in my used CSS selector.
And indeed I thought that a :before would have been of great use in this case I  believe.
Thank a lot Chief, and by the way, let me Thank you a lot for all this amazing job =)
Thanks again @madoar and have a nice day !
I'm closing this Issue as I got my answer 💯

[2019-10-16 08:29] #242 closed

[2019-10-16 08:41] uifortdev opened #243 "Angular ng build command with --aot=true gives an error"
Hello,

I'm using Angular 8.

When running ng build with --aot set to true, i'm getting this error:

`ERROR in node_modules/ng2-archwizard/dist/components/wizard-navigation-bar.component.d.ts.WizardNavigationBarComponent.html(17,11): Directive GoToStepDirective, Expected 0 arguments, but got 1.`

and in my view file:
[code]

[2019-10-17 23:01] dcherniy commented on #243
Looks like that package on NPM isn't being updated anymore, make sure you're installing via
`npm install --save angular-archwizard`
and not
`npm install --save ng2-archwizard`

Some of the components and directives are named different too so make sure you don't forgot to rename them!

[2019-10-18 07:00] uifortdev commented on #243
Thanks for your answer! I confused the NPM packages :)

[2019-10-20 17:53] earshinov commented on #242
Yes, I agree that `:after` would be more semantically correct. I don't see reasons to stick with `:before` apart from backward compatibility with customized styles some library users might have.

[2019-10-20 19:03] #239 closed

[2019-10-20 19:07] madoar commented on #243
@dcherniy thank you for answering!

Here some more context about the name change:
Either between the transition from Angular 3 to 4 or 4 to 5 I renamed the library from `ng2-archwizard` to `angular-archwizard` because the old name was not fitting anymore. See also #52 for more information.

[2019-10-20 19:07] #243 closed

[2019-10-22 17:13] conradolk commented on #139
You should scroll to a <div #id or id="stepId"> element, not the aw-wizard-step.

[2019-10-23 21:00] madoar commented on #139
@conradolk do you want to provide an example for this in the demo repository?

[2019-10-28 04:33] ronniehicks opened #246 "Request: Optional Directive optional"
Looking to use the awOptionalStep directive optionally. See code snippet for example

[code]

[2019-10-28 09:19] hssamconf opened #247 "How to validate a form inside a custom component"
I have a wizard that contains a custom component as step and this component contains a form
I want to validate the form before exiting the step with canExit

[code]
[code]

my custom step :

[code]
[code]
When i use this approch of emmiting the form validation result to my wizard CanExit runs before catching submitEvent
I think this is not the right approach

[2019-10-28 21:10] madoar commented on #246
We currently do not support this, but in hindsight that we support this for the `awCompletedStep` directive I think this would be a nice addition. The necessary changes shouldn't be too hard. So if you want to give this a try you are welcome!

Basically you only need to add a new input variable to [`awOptionalStep`](https://github.com/madoar/angular-archwizard/blob/ce015340584492e15e38383a2f3b1cbe

[2019-10-28 21:20] madoar commented on #247
I have two approaches that would work:

1) The first approach splits the logic in two parts:
    - a **validation** part and
    - a **navigation** part

    Both parts are represented by their own button. First the user needs to click on the `validate` button. After the validation succeeded a property `canExistCustomStep` is set to `true`. This in turn enables the `navigation` button (e.g. the `n

[2019-10-30 10:44] hssamconf commented on #247
Thank @madoar for your answer i think the second approach is what i am looking for:
I solved it with :
[code]
and on my custom step :

[code]
[code]

[2019-10-30 10:44] #247 closed

[2019-11-01 15:15] gauravmasand09 opened #248 "Arch Wizard Step Indicator Not responsive for mobile View."
Hi ,
Angular-archwizard - 5.0.0
Angular Version - 8.0.0

I have been trying to make the angular-archwizard responsive for mobile view for Steps Indicators.
When the steps indicators are more than 3 its breaking the view on my mobile.
![rsz_screenshot_from_2019-11-01_20-41-48](https://user-images.githubusercontent.com/24978368/68034797-65150780-fce8-11e9-9363-b977e057c2cb.png)

When the step titles

[2019-11-01 20:42] madoar commented on #248
As of now `angular-archwizard` is not optimized for mobile devices, like you have discovered.
The main problem is that none of the styles are fully functional on small devices especially if you have a larger number of steps.

A possible solution would be to use the vertical layout and tweak it a little.
With "tweak it a little" I mean to do the following changes:
- remove the `position:sticky` att

[2019-11-01 21:14] madoar opened #249 "Use ":after" instead of ":before" to draw the Lines between Step Indicators"
Currently the lines between two step indicators are drawn using `:before`. This is not semantically wrong because the line is drawn "after" the step indicator for which it is defined. Therefore `:after` would be more fitting to draw the lines.

See also #242 for more details.

[2019-11-02 18:33] earshinov commented on #248
My basic opinion is that angular-archwizard itself cannot know how the library user would like to structure the page. Even if angular-archwizard comes up with _some_ solution, chances are that this solution will suit _some_ users, but not others.

Out of curiosity I just had a look at a similar component from Angular Material UI kit, [Stepper](https://material.angular.io/components/stepper/overvie

[2019-11-03 07:12] gauravmasand09 commented on #248
Hi @madoar
Responsiveness is a big issue considering form wizards.I have gone through a  lot of libraries but all seems to struggle when to comes to mobile view even Angular Mat Stepper is not responsive as @earshinov  mentioned.

My Suggestions
#1 Can we do something like this when the user switches to lower resolution screens we can change change the horizontal archwizard to opt for vertical one

[2019-11-06 11:16] sssprof opened #250 "aw-wizard-step navigation Custom Symbol"
**Custom Navigation symbol not displaying.**

<aw-wizard>
<aw-wizard-step stepTitle="Select Student" [navigationSymbol]="{ symbol: '&#xf2b9;' }">
My contents
</aw-wizard-step>
</aw-wizard>

[2019-11-06 20:35] madoar commented on #250
Please provide more information otherwise I'm unable to help

[2019-11-06 20:39] madoar commented on #248
This should be possible, but like @earshinov mentioned I think this should be done from outside `angular-archwizard`. In a nutshell you need to query the size of the window and then choose the shown wizard layout accordingly.

Can you give a short (hand drawn) example how this would like? It is hard for me to imagine what you want to do.

[2019-11-06 20:45] madoar commented on #248
Yes, I tend to agree. I'm not against adding support for mobile devices. I think that mobile devices should be supported by providing a dedicated style, everything else (i.e. applying said style) should be done by the user of the library according to his own criteria.

The main issue for me is that I have no idea how a wizard should look on a mobile device with limited screen space. If someone has

[2019-11-07 10:55] sssprof commented on #250
Code I have used as below

[code]

[navigationSymbol]="{ symbol: '&#xf2b9;' }" = is not showing symbol, its showing blank.

[2019-11-07 21:29] madoar commented on #250
From which font is the symbol? Did you by any chance update some other dependency during that time when your application began to not work as intended?

I think it is unlikely that the application "just broke" after a certain time until which it was working perfectly fine. I think it is likely that something else in your environment changed that broke it.

[2019-11-12 12:34] gauravmasand09 commented on #248
I have fixed it by making the text as display none for smaller screens , below is ths code you can have a look

@media (max-width:320px)  {
    aw-wizard ::ng-deep .horizontal ul.steps-indicator li a .label{
        display: none;
    }
}
@media (max-width:481px)  {
    aw-wizard ::ng-deep .horizontal ul.steps-indicator li a .label{
        display: none;
    }
 }
@media (max-width:641px)  {
   aw

[2019-11-18 22:05] tmlinc opened #251 "Conditional [navigationSymbol]"
Excellent work on the wizard!!

Just wanted to know if it's possible to change the symbol based on the step-indicator parent CSS class.

Right now, I'm using numbers as my symbol on each step, but when the step element receives the 'complete' class, I would like to change the symbol to a FontAwesome checkmark.

[2019-11-19 19:09] madoar commented on #248
@gauravmasand09 can you by chance share a screenshot how this looks?

Additionally `::ng-deep` should not be required.

[2019-11-19 19:20] madoar commented on #251
The step symbol is not set via css. It is set using a separate html element:

https://github.com/madoar/angular-archwizard/blob/ce015340584492e15e38383a2f3b1cbe0d7981fb/src/lib/components/wizard-navigation-bar.component.html#L16-L19

Currently we don't provide a public method to query a wizard which steps have been completed.
In theory you could use the `WizardComponent#getStepAtIndex` method to q

[2019-11-19 20:02] earshinov commented on #251
It looks useful.

As a workaround, you can wrap step contents in an Angular component and inject the `WizardStep` into it (demo: https://angular-archwizard-step-injection.stackblitz.io).

A better approach would probably be to allow the user to pass an angular template ref to `<aw-wizard-step template="..."></aw-wizard-step> and pass the wizard step through template context. In this case the user

[2019-11-19 20:11] earshinov commented on #251
To solve the reporter's problem, we only need to pass wizard step through template context to the `awWizardStepSymbol` template, which will look like this:

[code]

[2019-11-19 21:03] tmlinc commented on #251
@earshinov this looks like a great idea!  Any idea on how long it would take to add this enhancement?

[2019-11-19 21:29] earshinov commented on #251
So far it seems pretty simple and straight-forward, but there is always a chance that some difficulties arise in the process. About time estimation, @madoar will answer better, because I am currently short of time to contribute to archwizard…

[2019-11-21 20:54] tmlinc commented on #251
Okay...I look forward to the enhancement.

[2019-11-21 22:25] madoar commented on #251
Yes `WizardStep` is indeed stable, but I don't think `WizardComponent#getStepAtIndex` can be considered stable. In my opinion this method is for internal use.

I think you mean something like:

Template:
[code]

Component:
[code]
right?

This is indeed better than using `WizardComponent#getStepAtIndex`!

To allow this we will only need to add `[ngTemplateOutletContext]="{wizardStep: step}"` to the

[2019-11-22 14:15] tmlinc commented on #251
Thanks for the update!

[2019-11-22 14:41] earshinov commented on #251
If the goal is to access a `WizardStep` in the component where the wizard is defined, then yes.

Yes, I think that's all we need 👍

[2019-12-01 15:44] #249 closed

[2019-12-01 15:44] #251 closed

[2019-12-01 15:53] madoar commented on #179
A possible way to implement this would be to provide two directives `awBeforeNavigationBar` and `awAfterNavigationBar` which are injected via their `templateRef` before and after the navigation bar. This would be a similar solution to the way we currently handle the step titles and the step navigation symbols with `awWizardStepSymbol` and `awWizardStepTitle`.

A challenge with this approach i that

[2019-12-01 19:11] earshinov commented on #179
@madoar , I think your proposition is fine, but I would rather wait for another feature request or pull request. I don't think this feature will have many users.

[2019-12-09 13:10] #246 closed

[2019-12-09 13:15] madoar commented on #124
I think we can consider this issue as solved.
The only remaining part should be #181 which is tracked in its own issue.
If there is still something open I think we should open new issues for that as well.

[2019-12-09 13:15] #124 closed

[2019-12-09 13:19] madoar commented on #122
With the current version of `angular-archwizard` it is possible to customize the step indicator more extensively through the use of a `ng-template` component with the `[awWizardStepSymbol]` directive. By using this directive you can set the content inside the step indicator freely which should allow you to define a symbol if certain conditions are fulfilled (or not fulfilled).

[2019-12-09 13:19] #122 closed

[2019-12-09 13:22] madoar commented on #216
I take it that this issue has been solved by the new css file released with version `5.0.0`. If you are still facing this problem feel free to open a new issue.

[2019-12-09 13:22] #216 closed

[2019-12-09 13:45] madoar commented on #170
Through the combination of the `awCompletedStep` directive, which can be added to a `aw-wizard-step` and the `defaultStepIndex` input of the `aw-wizard` component, it becomes possible to implement a progress view.

To implement a progress view you need to add the `awCompletedStep` directive to every step in the wizard. Additionally you need to provide an input to the directive that checks whether

[2019-12-09 13:45] #170 closed

[2019-12-09 13:46] #231 closed

[2019-12-09 13:48] madoar commented on #222
I take it as the problem has been solved? If you still face this issue feel free to open a new issue

[2019-12-09 13:48] #222 closed

[2019-12-09 21:20] madoar commented on #139
I think this issue should be solved outside of the `angular-archwizard` codebase (like @conradolk mentioned)

[2019-12-09 21:20] #139 closed

[2019-12-09 21:21] madoar commented on #179
I guess you are right

[2019-12-09 21:24] madoar commented on #176
I'm not sure if this feature is really required as part of `angular-archwizard`. While a single (convenient) callback does not exist for this you could fetch the current step index using `WizardComponent#currentStepIndex` in combination with the `stepEnter` callback of the wizard steps.

What do you think @earshinov?

[2019-12-09 21:24] #248 closed

[2019-12-10 20:51] earshinov commented on #176
@madoar , I also think that the current functionality is enough.

[2019-12-12 21:06] madoar commented on #176
Ok then I am closing this issue

[2019-12-12 21:06] #176 closed

[2019-12-15 06:11] AbhijitMuke opened #256 "goToStep not executing"
First of all, thanks to you for building this awesome library with angular.

I am using `angular-archwizard 5.0.0` with` Angular 5.2.4`. My application has some different requirements, where I want to jump into previous state of the form. It means, for editing records second time user will jump to previous form step where he was. I want mark sure that, when user is jumping to specific form, want t

[2019-12-15 06:28] AbhijitMuke commented on #62
@adrianbenjuya @madoar `*ngIf` in every component with an index that stores the current step, works perfectly fine for lazy loading purpose.

But, I have to remove `*ngIf` condition from first step in order to avoid below error -

`*ngIf` also create problem while dynamically  changing step where every component is written in *ngIf.

is there any way to get rid of this ?

[2019-12-15 21:42] madoar commented on #256
I'm not sure I understand completely what you want to do. If I understand you correctly you want to be able to move from a given step, e.g. step 1, to a later one, e.g. 4. During this navigation all steps that are located in-between, e.g. step 1, step 2 and 3 should be marked as completed?

If this is indeed what you want to do then I can think of three solutions:
1) You provide your own implement

[2019-12-15 21:45] madoar commented on #62
The issue is the phase during which you "set" the condition which you pass to `ngIf`.
You need to ensure that this is done in the correct angular lifecycle phase, see also https://angular.io/guide/lifecycle-hooks

[2020-01-09 08:13] mustafakunwa commented on #62
+1

[2020-01-09 11:14] adrianbenjuya commented on #62
@mustafakunwa @AbhijitMuke I haven't used this component for a long time, I just moved to [Material's stepper](https://material.angular.io/components/stepper/overview)

[2020-01-15 16:09] paulsperanza opened #258 "Hide step titles"
Can I hide the step titles?

[2020-01-17 07:42] mustafakunwa commented on #62
I want to load may active stepper component once it is activated. In material stepper all load at once

[2020-01-30 08:39] madoar commented on #258
Yes you can. The method to do so depends on how you specify your step titles:
- if you use `[stepTitle]` you can use an `if` condition to return `""` if you don't want to show a step title
- if you use `[awWizardStepTitle]` you can again use an `if` condition to return `""` in case you don't want to show a step title.
- a third method is to read the step title from a method where you again have fu

[2020-02-07 10:32] Gevko opened #261 "Step becomes non-clickable after adding some html to it"
Hello!

I am having an issue, I need to inform the user after he completes the wizard with errors, in which step the error was made, so I add a icon to the step.

I am getting the step html element by the stepId, and so I add some inner HTML to the step html element. After I do it, I can not navigate to the step clicking the step icon.

This behaviour is kinda required and necessary, but maybe i a

[2020-02-08 13:24] madoar commented on #261
How are you changing the navigation icons? Does your browser show some error message in the debug terminal? Can you provide a short example application that produces your error?

[2020-02-10 11:52] Gevko commented on #261
`				const stepElmnt = document.getElementById('stepId');

				stepElmnt.innerHTML += '<div class="dot"><div class="fas fa-exclamation-circle fa-lg"></div></div>';
					`

I do this way.

[2020-02-12 19:44] madoar commented on #261
Please provide a short example application that produces the issue. A snipped like you have provided does not allow me to reproduce your issue.

Based on what you have provided I would suggest you to try the [`[awWizardStepTitle]`](https://github.com/madoar/angular-archwizard#awwizardsteptitle) and [`[awWizardStepSymbol]`](https://github.com/madoar/angular-archwizard#awwizardstepsymbol). These dir

[2020-02-13 15:22] Gevko commented on #261
On this sample you can reproduce the error. Just do npm i and ng serve and click on the button.
On the 3rd step, the button adds some html to the 1st step, and after that it is impossible to navigate there if clicking on the step's icon. But still, you can navigate to the 2nd step (that has not any added html).

https://wetransfer.com/downloads/8fcc5c0f207af587db67c377822ae0f820200213152059/4fc86c

[2020-02-14 19:18] madoar commented on #261
Try:

### app.component.ts

[code]

### app.component.html

[code]

Please be aware that depending on what you want to add to the navigation icon you may want to modify its style as well, otherwise a linebreak could be inserted.

[2020-02-20 12:29] TomaszCz opened #265 "Angular 9 ContentChildren breaking change - Nested steps are not detected"
Hi,

After recent adjustments in how the @ContentChildren - descendants: false flag works
[details](https://github.com/angular/angular/issues/14769#issuecomment-586726706)

It is now impossible to use wizard with steps nested in any elements.
Reproduction repository:
[repository](https://github.com/TomaszCz/angular-archwizard-repro/commits/master)
If you try this repo, you will see, that ContentCh

[2020-02-20 21:15] madoar commented on #265
Thank you for reporting this issue and also for presenting a fix for it.

My initially considered application scenario was to directly wrap the wizard steps (e.g. `aw-wizard-step`) in an `aw-wizard` environment. This also allows for an easier understanding of how the wizard is setup (i.e. which steps does it consist of and how are they ordered). Because of my initial application case it is difficu

[2020-02-21 14:31] TomaszCz commented on #265
Appreciate quick response.

Of course, my main argument is that this fix makes adjustment to the recent breaking change in angular.

In terms of example, in one of my projects, I am sharing buttons logic between steps so that the steps don't need to implement them. Also, i am using bootstrap panel styling.

Essential html ( removed many things for brevity ):
[code]

Since the version 3.0.0 such ap

[2020-02-21 19:58] madoar commented on #265
So essentially the two parts:

[code]

and

[code]

Are replicated into every `my-component-step` element? I.e. similar to:

[code]

[2020-02-24 09:03] TomaszCz commented on #265
The buttons are not replicated. I verified the rendered DOM and it looks pretty much similar to what I pasted in my example.
Also, please take a look at the bootstrap part. It is not easy to make panel class working without some CSS tweaks.

The whole point of creating the buttons once, and use them across all steps - which may be added / removed dynamically - is to follow [DRY](https://en.wikiped

[2020-02-24 21:01] madoar commented on #265
This is indeed an interesting approach. Thank you for explaining the idea behind it!

It would be nice to have a demo for this approach in the [demo repository](https://github.com/madoar/angular-archwizard-demo). If you are interested I would be happy to add a simple example for this to the demo repository!

[2020-02-28 20:33] madoar commented on #265
This issue has been fixed in #266

[2020-02-28 20:33] #265 closed

[2020-02-29 16:58] achimha opened #270 "Angular 9"
Hi,

when do you plan to release the fix for Angular 9?

Thanks!

[2020-03-01 18:54] chispaK commented on #212
Good day tbenci:
Did you manage to get this resolved? Ran into this issue today but unable to get fortawesome icon rendered see sample step code below:

[code]

The icon does not get rendered. Can you tell what I am doing incorrect?

[2020-03-01 21:26] madoar commented on #270
@achimha thank you for your interest in the next release! I currently plan to release the next version of `angular-archwizard` either during the next week or the week after.

The reason for the delay is that I still want to do some small improvements to the tests and some small changes to the demo before releasing both the library and the demo together. More specific I plan to perform the followin

[2020-03-01 21:28] madoar commented on #212
Does the above linked example work for you? Have you tried displaying an fontawesome icon outside of `angular-archwizard` in your application? Have you checked that fontawesome is correctly setup in your project, i.e. both installed and added to your stylesheets?

[2020-03-02 03:22] chispaK commented on #212
Hi madoar:

Sorry for the trouble. I just realized I did not update my package to the latest. all now works as expected.

[2020-03-08 16:16] madoar commented on #270
I have released version `6.0.0` of `angular-archwizard` today! This version is built using Angular 9. If you discover any issues feel free to open a new issue.

[2020-03-08 16:16] #270 closed

[2020-03-08 16:16] madoar commented on #261
I think this issue has been solved. If this should not be the case please open a new issue.

[2020-03-08 16:16] #261 closed

[2020-03-08 16:17] madoar commented on #258
I think this issue has been solved. If this should not be the case please open a new issue.

[2020-03-08 16:17] #258 closed

[2020-03-08 16:17] madoar commented on #256
I think this issue has been solved. If this should not be the case please open a new issue.

[2020-03-08 16:17] #256 closed

[2020-03-08 16:17] madoar commented on #250
I think this issue has been solved. If this should not be the case please open a new issue.

[2020-03-08 16:17] #250 closed

[2020-03-16 02:29] trentstollery opened #278 "Upgraded to Angular 9 and that seems to have broken the css"
Hey!
This is a simple questions.. I don't think it's a bug.
I've just done a upgrade to Angular 9 and now my wizard displays as a ul list.
I've attached a image below and the code.
I know this is most likely a implementation issue but I just wanted a little help sorting it out.
![Capture](https://user-images.githubusercontent.com/4606582/76718201-e0ea8a80-6785-11ea-817b-c49c7c9a11cf.PNG)
`<div cla

[2020-03-16 03:22] trentstollery commented on #278
Also just to add to this, the classes for the elements seem to be appearing as objects.
```<aw-wizard-navigation-bar ng-reflect-direction="left-to-right" class="[object Object]"></aw-wizard-navigation-bar>```

[2020-03-16 06:43] madoar commented on #278
Which Angular version is your application using? Is it also using Angular 9?

`angular-archwizard` version `6.0.0` is compatible with Angular 9+. This means that the application using the library also needs to use Angular 9, otherwise you will face multiple issues. The now used `class` attributes instead of `ngClass` are one example for a breaking change. They were introduced in Angular 9, see als

[2020-03-16 07:54] trentstollery commented on #278
Hey thanks for getting back to me, I am on 9! I've added a list of deps from my package.json below if that helps.
[code]

[2020-03-16 18:55] madoar commented on #278
From which version of `angular-archwizard` have you upgraded? Have you added the `angular-archwizard` `css` file to your project? Which browser are you using? Is the issue also happening on other browsers? Does the [demo repository](https://github.com/madoar/angular-archwizard-demo/tree/release/6.0.0) lead to the same issue for you?

Can you share a small example application that reproduces the is

[2020-03-17 05:26] gethari opened #279 "After upgrading to V6 package, compilation failes"
Errors from the console
[code]

[2020-03-17 20:05] madoar commented on #279
I believe you are using Angular 8 in your application, right? The error you are seeing most likely is because of a [breaking change](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#class-field-mitigations) in the typescript version that comes with Angular 9 which has been used to build version `6.0.0` of `angular-archwizard`. Therefore to use version `6.0.0` you will

[2020-03-18 12:14] omardoma opened #280 "navBarDirection "right-to-left" not working correctly"
<img width="1039" alt="Screen Shot 2020-03-18 at 2 10 25 PM" src="https://user-images.githubusercontent.com/25301162/76959519-64d97980-6922-11ea-9dcc-79e7f1d59701.png">

Browser: Chrome v80.0.3987.132
OS: MacOS Catalina
Version: 5.0.0
Angular Version: 8.2.14

Usage:

[code]

[2020-03-18 12:15] omardoma commented on #280
Also I can't upgrade to Angular 9 yet due to other libs dependencies that still haven't upgraded, so hopefully a fix can be published to the v5.0.0 as well

[2020-03-18 12:16] omardoma commented on #280
Also I have checked the issues and this one #169 seems to be related

[2020-03-18 12:40] omardoma commented on #280
I think I figured out the bug, so in RTL apps, the html element `dir` is set to `rtl` as well as the body has a css property `direction: rtl`, this alone with no navBarDirection set on the wizard makes the steps have the correct direction, as it adapts to the document's direction, but only the horizontal line css needs fixing.

With rtl mode and no navBarDirection set, the steps direction is corre

[2020-03-18 20:48] madoar commented on #280
I'm not sure I can follow you. What do you mean by setting the html element `dir` to `rtl`?
If you have a solution for the issue I would be happy to merge a PR containing the solution! I'm also willing to backport that solution to a `5.1.0` or `5.0.1` bugfix release. It is a bit hard for me to solve this issue myself because I grew up with languages which are written from left to right and not the

[2020-03-19 01:26] trentstollery commented on #278
Hey! Sorry for taking so long to get back to you. One of my devs is working on a test case for you.
Till then we are upgrading to from angular-archwizard 5.0.0.
We have found what the issue is but have yet to find the cause.
For some reason when we run the website the element aw-wizard-navigation-bar has no css classes and just [object Object]. It looks like a toString isn't working or something i

[2020-03-19 08:25] gethari commented on #279
@madoar Thanks for the reply. I guessed it right. And Yes I'm using `Angular 8`

[2020-03-19 21:41] madoar commented on #278
Any ideas on what could be causing that at all?

This is an interesting phenomenon. Without having a reproducible example project that can be used to reproduce and debug the issue there is not much that I can do except speculating. I can think of multiple abstract things that could go wrong:
- perhaps you are initializing the wizard strangely which leads to some values not being initialized or hal

[2020-03-27 11:23] AbhijitMuke opened #281 "How to stop marking visited step green in Custom Navigation mode ?"
Hi, thanks for this quick demo.

I am following the custom navigation mode from this demo [https://madoar.github.io/angular-archwizard-demo/#/navigation-mode/custom](url)

But I can see the visited step is also getting marked green in the forwarding step.

I tried multiple things from - [https://github.com/madoar/angular-archwizard-demo/blob/develop/src/app/custom-navigation-mode/custom-navigation

[2020-03-30 20:22] madoar commented on #281
Currently `angular-archwizard` automatically assumes that a step has been completed when the user exits it. The biggest challenge when differentiating between exiting a step and marking at as completed and not marking it as completed is: how do you detect that the step is completed in the first place?

`angular-archwizard` answers this question by assuming that a user is only allowed to exit a ste

[2020-03-30 20:23] madoar commented on #278
@trentstollery are there any news regarding this issue?

[2020-03-30 20:27] madoar commented on #280
@omardoma I'm unable to help with this issue without your help. If you don't have time or motivation to work on a fix for this issue yourself or if you have any problems with the code feel free to tell me and I will see how I can help. I'm also interested in seeing this issue getting solved :)

[2020-03-30 21:24] omardoma commented on #280
I apologize for the late response, things have been kind of crazy lately. Of course I wanna see this solved as I appreciate this library a lot and use it in a lot of projects.

Now to answer your questions, as you can see here: https://stackblitz.com/edit/angular-jmxb17?file=src%2Fapp%2Fapp.component.css, in RTL apps, we generally set the `dir` attribute on the html element `<html dir="rtl"></html

[2020-03-30 21:26] omardoma commented on #280
I haven't had the time to look into doing a PR for that, but may be able to on the coming weekend

[2020-04-01 01:39] hugoj-goncalves commented on #278
Same issue here.
![image](https://user-images.githubusercontent.com/10927715/78090429-7437d880-73a0-11ea-8578-5ee126f28a9a.png)
We're not using IVY yet but we did upgrade to angular 9.

[2020-04-01 10:32] AbhijitMuke commented on #281
Thanks for the quickest reply.

Thanks a lot for writing such a wonderful flexible framework :+1:

[2020-04-01 14:03] trentstollery commented on #278
Yeah weren't using IVY as well.. we were not able to fix the issue. Tried everything we could think of other than the downgrade which we know would have fixed it but I prefer to keep things up to date. We have since switched to mdbootstraps stepper... it's not as nice but it works... and we needed a release

[2020-04-01 17:39] aphairpq2 commented on #278
For us - after upgrading everything to Angular 9 - every wizard step is 'hidden' in the html:
![image](https://user-images.githubusercontent.com/46034122/78168577-3083b400-741e-11ea-8dd8-2b81dc021dd1.png)

I was not able to figure out how that was happening or what to change to fix.

[2020-04-01 18:34] madoar commented on #280
Ok, then I will wait for you to work on this. :)
If you need any help don't hesitate to tell me.

[2020-04-01 18:41] madoar commented on #278
@hugoj-goncalves do you by chance have a reproducible example application which you can share with me that reproduces the issue? During my tests I did not stumble over this issue, therefore it is really hard for me to help without any leads. :/

@trentstollery that is sad to hear. Still, in case you find any leads to the issue in the future feel free to add a comment so that I can work on fixing t

[2020-04-01 21:08] hugoj-goncalves commented on #278
@madoar https://stackblitz.com/edit/angular9-archwizard-css
Is that enough? Changing package.json to 5.0.0 is enough to fix the layout.
![image](https://user-images.githubusercontent.com/10927715/78186606-61c2ab00-7443-11ea-9a7b-2721c3e49152.png)
Enabling IVY made no difference.

[2020-04-01 21:12] madoar commented on #278
@hugoj-goncalves what browser are you using?

I tried on both Firefox and Chromium. To me it seems like in both browsers the wizard is working as I would expect it to:

### Firefox
![grafik](https://user-images.githubusercontent.com/18488086/78187084-196cb280-746e-11ea-9fec-f864fc749a79.png)

### Chromium
![grafik](https://user-images.githubusercontent.com/18488086/78187109-25587480-746e-11ea-91b1

[2020-04-01 21:14] hugoj-goncalves commented on #278
@madoar make sure stackblitz loads version 6.0.0
just had some weird caching issues with it now
![image](https://user-images.githubusercontent.com/10927715/78187308-9125e780-7444-11ea-89f1-4b20d5a813b9.png)

[2020-04-01 21:26] madoar commented on #278
Ok when I change the `angular-archwizard` dependency to `~6.0.0` I can reproduce the described issue. What is interesting is that when I look at the console log in Chromium I see the following entry:

[code]

Maybe that is an indicator to the issue?

I think I will have some time over the next days to look at this issue more in-depth. If you have any ideas feel free to add a comment :)

[2020-04-01 21:33] hugoj-goncalves commented on #278
Cool to have a working repro, but I can't look at it atm.
Will do if I find some spare time.

I think so, cuz all classes are [object Object] on version 6, but on version 5 they were resolved to strings even tough the ngClass was a object
![image](https://user-images.githubusercontent.com/10927715/78188791-3772ec80-7447-11ea-893b-a3bfdf151cb9.png)

[2020-04-01 21:35] madoar commented on #278
Out of interest: have you tried the official demo at https://madoar.github.io/angular-archwizard-demo/? Strangely it does not lead to the issue while it is also using Angular 9 + `angular-archwizard` version `6.0.0`. Something must be different between both projects...

[2020-04-02 13:33] hugoj-goncalves commented on #278
@madoar https://stackblitz.com/edit/angular-archwizard-demo
Made a pull from the demo depo to stackblitz and the issue is definitely there also.
Running the demo locally worked fine tough 🥔 😕

Oh... it is IVY related.
Stackblitz uses a separated config for enabling IVY.
Demo works fine with IVY enabled.
Yesterday's repro also works fine with IVY enabled.

[2020-04-02 18:00] madoar commented on #278
@hugoj-goncalves in the production build, i.e. the one I release on `npm` Ivy should be deactivated:

https://github.com/madoar/angular-archwizard/blob/41ea8f2e51d85343f376f680fe3e16b99741f64d/tsconfig.lib.json#L26

Somehow it seems like this config is either not applied during the release build (i.e. `npm run build`) or something with `enableIvy = false` is also bugged.

[2020-04-02 18:34] madoar commented on #278
I have just opened a new [Issue](https://github.com/angular/angular/issues/36400) in the official Angular repository. Maybe the people there can shed some additional light on this issue

[2020-04-02 21:14] hugoj-goncalves commented on #278
@madoar yeah, I saw that it was deactivated after I commented. It indeed is deactivated on the lib.
But the tests were running only for IVY enabled.
The change from **ngClass** to **class** seems to be a breaking change introduced in IVY.
**class** doesn't work with objects without IVY

[2020-04-25 16:37] ifritmitsuma opened #289 "CSS for element div with class wizard-steps"
I'm trying to customize the element div with class wizard-steps that is compiled, but for some reason my css rules for that element disappear when rendering. It seems this element does not inherit the _ngcontent-<generated-id> attribute, could that be the issue?

[2020-04-26 12:31] madoar commented on #289
Can you please provide an example of what exactly you are trying to do?

[2020-05-04 10:33] zimplerconsulting opened #292 "Angular 8"
Is it possible to somehow use this wizard with Angular 8?

[2020-05-04 20:51] madoar commented on #292
Yes you can :)

Version `5.0.0` is compatible with Angular 5 to 8.
Version `6.0.0` is compatible with Angular 9

[2020-05-10 19:53] #281 closed

[2020-05-10 19:56] madoar commented on #280
I have just released two new version:

- `5.0.1` for Angular 5 - 8
- `6.1.0` for Angular 9

which fix the issue :)

An example of how `right-to-left` direction looks now can be found in the [demo repository](https://github.com/madoar/angular-archwizard-demo)

[2020-05-10 19:56] #280 closed

[2020-05-10 19:57] #279 closed

[2020-05-12 07:45] ngtrdai197 opened #295 "Go to another step"
Currently I'm having trouble getting to any step. In the example I have 5 steps, I can go to step 1,2,3 easily, but when I want to go to step 4,5, it is not possible. It's always in step 1. So what do I do?
[code]

[code]

[2020-05-13 10:13] ParthJani commented on #292
Visit this site for answer http://technotrendnow.today/day-3.html

[2020-05-13 20:04] rodrigocprates commented on #278
I'm still getting this "[object Object]" bound to class on html.
I imported it as a module and also imported the scss on my styles.

Any clue?

Screenshot:
![image](https://user-images.githubusercontent.com/11508570/81859482-af9afa80-953b-11ea-82d2-0157346787bc.png)

My dependencies:
`"dependencies": {
    "@angular/common": "9.0.4",
    "@angular/compiler": "9.0.4",
    "@angular/core": "9.0.4",

[2020-05-14 20:08] madoar commented on #278
@rodrigocprates can you please provide an example project that produces the issue for you?

[2020-05-14 20:12] madoar commented on #295
Your code is missing how you navigate to the next step(s).

[code]

This is an anonymous function which navigates your wizard backwards. In addition it seems to not be used?

[2020-05-14 20:14] #292 closed

[2020-05-15 15:35] ngtrdai197 commented on #295
function () is just an example, in practice it would be:
[code]

[2020-05-17 21:05] madoar commented on #295
Your function

[code]

has two issues:
- `this.currentStep` does not exist. I think you either mean `wizard.currentStep` or `wizard.currentStepIndex`
- if you mean `wizard.currentStepIndex` then it won't work because you are trying to navigate *backwards*. This won't work because you are already in the first step, which you can not leave in backwards direction

I recommend you to use the navigatio

[2020-05-20 23:45] KOSSOKO opened #296 "How to handle go to next step in code ?"
Hello, I'm new with angular and this plugin. I used to create a normal form in <form> and get values when submit button is clicked.

With this plugin, I have this example:
[code]
1- In my component class, how could I get the value of the input "name" for example in a function let's call it createCompany ?

2- When I click next, the next button must call createCompany, and get all values. Then I ca

[2020-05-24 20:57] madoar commented on #296
I would suggest you to bind the value of your `name` input to a field inside your component class. You can then access this field from inside your `createCompany` function.

The challenge with using a backend to decide whether a wizard step can be exited is that the communication between your Angular application and your backend is asynchronous in nature. This means that when a user clicks on the

[2020-05-25 00:26] KOSSOKO commented on #296
Thanks a lot for your answer. I finally find a solution without using canExit but doing everything from code. Thanks
[code]

[2020-05-25 00:27] #296 closed

[2020-06-07 04:45] gauravsingh0888 opened #298 "I want to mark step as completed in arch wizard after moving to the next step."

[2020-06-11 10:56] theCrius commented on #62
Not really a useful reply isn't it?
"I've moved to an entire different framework to get a wizard component".

[2020-06-11 13:11] theCrius opened #299 "[awGoToStep] seems to not be working (angular 9, archwizard 6)"
Hi there, first of all, thank you so much for this module. Really love that it's highly configurable, plenty of hooks and easy to style :)

I'm running in an issue that probably is just me not understanding how to properly use `awGoToStep`.

In short, what happens is that it doesn't work as I read it should in the readme.

I've put together a quick sandbox to show the issue, if you could point me

[2020-06-11 14:30] madoar commented on #299
@theCrius it is nice to hear that you like `angular-archwizard` :)

About your issue:
`angular-archwizard` checks the to be performed navigation before executing it. This check entails that the wizard allows a navigation only if all previous steps of the destination step are completed. In simpler terms this means that a user can only navigate to the first uncompleted step and is unable to skip unc

[2020-06-11 14:34] madoar commented on #298
`angular-archwizard` automatically marks a step as completed when exiting it. If you want to mark other steps as completed you can either use the [`awCompletedStep` directive](https://github.com/madoar/angular-archwizard#awcompletedstep) or access the internal API of the wizard.

[2020-06-11 14:37] theCrius commented on #299
That's making perfect sense @madoar. Thank you for the explanation.

I'm hiding the progress bar at the top and managing the progress through the steps with a series of if that shows the buttons to continue so for me it's good to just set every step as optional even if they are not really optional to the users :)

It may be worth to add this information (awOptionalStep) somewhere in the documentat

[2020-06-11 14:39] madoar commented on #299
`[awOptionalStep]` is already documented in the README file, see [here](https://github.com/madoar/angular-archwizard#awoptionalstep). Do you think this should be extended?

[2020-06-11 14:45] madoar opened #300 "The default values for the [awNavigationMode] input values are swapped in the README file"
The default values for `[navigateBackward]` and `[navigateForward]` in the [README](https://github.com/madoar/angular-archwizard#awnavigationmode) file appear to be swapped.

Correct should be:

| Parameter name                | Possible Values                                                                                      | Default Value |
| ----------------------------- | ------------------

[2020-06-11 16:01] theCrius commented on #299
Maybe add a reference here? https://github.com/madoar/angular-archwizard#awgotostep

I read that section as I was interested in how the `awGoToStep` works and I didn't see mention of other steps before the one I want to skip to being required to be optional.

I also recognise that my use case may be unusual as I'm basically adding a button to jump the the last step as it shows the results of a que

[2020-06-11 16:47] theCrius commented on #299
Created a pull request to save you from going and edit. I'm still new to this repo so I might have missed or misinterpreted how the constraint works, feel free to reject / edit the pull request.

https://github.com/madoar/angular-archwizard/pull/301

[2020-06-28 17:28] Mohit17067 commented on #82
Hi, I have a specific problem. In a particular step, I sm doing something in the ngOnInit method. What I want basically is execute those things when that step is on screen. I guess this could be done with stepEnter method. I am new to all this. Can you please help @nolanrigo @madoar ?

[2020-07-10 17:04] khocef opened #303 "DEPRECATION WARNING - !global assignments"
remote:        [INFO] DEPRECATION WARNING: As of Dart Sass 2.0.0, !global assignments won't be able to
remote:        [INFO] declare new variables. Since this assignment is at the root of the stylesheet,
remote:        [INFO] the !global flag is unnecessary and can safely be removed.
remote:        [INFO]
remote:        [INFO]    ╷
remote:        [INFO] 49 │ $wz-param-indicator-state: null !global

[2020-07-10 19:06] shinchan305 opened #304 "Conditional Forward Navigation Mode"
Hello,

I am using this library at multiple places in my project. At all the places, my requirement is when a step is already completed(like in edit mode), then the user should be allowed to forward/backward navigate to the steps that have already been completed.

For example, if I have 4 steps out of which 1, 2 & 3 are already completed, then I should be able to navigate to step 2 & 3 freely.

Ca

[2020-07-10 19:53] madoar commented on #303
Which version of `angular-archwizard` are you using?

[2020-07-10 20:00] madoar commented on #304
In which step is the user currently?

This sounds a bit like you want to configure the navigation mode to allow navigating to already visited steps in forward direction? If this is indeed the case then you may want to look [here](https://madoar.github.io/angular-archwizard-demo/#/navigation-mode/configurable) and [here](https://github.com/madoar/angular-archwizard-demo/tree/develop/src/app/configu

[2020-07-10 22:03] khocef commented on #303
Version 5.0.1 with Angular 8.2.14

[2020-07-12 16:31] shinchan305 commented on #304
`In which step is the user currently?`
The user can be in any step. For example, if the user is in 1st step, 2nd & 3rd should be accessed freely. If user is in 2nd step, he should be able to jump to 1st or 3rd step.

`This sounds a bit like you want to configure the navigation mode to allow navigating to already visited steps in forward direction? If this is indeed the case then you may want to lo

[2020-07-12 20:14] madoar commented on #303
This has been fixed in the version `6` releases. I thought I completely backported the fix to version `5.0.1` in #269 but it seems like I missed some changes.

I'm not sure whether I will backport the fix for the remaining variables, because of multiple reasons:
-  it is only a deprecation warning and does not break any code
-  it only affects the version `5` releases and not the current version `

[2020-07-12 20:27] madoar commented on #304
For the navigation mode implementation a `visited` step is a completed step. I think it should fulfill your requirements. If you want to be able to navigate to a previously not entered step (which is therefore also incomplete) then you need to define it as complete using either the internal API or by using the [`[awCompletedStep]` directive](https://github.com/madoar/angular-archwizard#awcompleted

[2020-07-12 20:51] shinchan305 commented on #304
![image](https://user-images.githubusercontent.com/48820791/87256317-97b5f900-c44e-11ea-8672-760fbd0ac4c9.png)
`For the navigation mode implementation a visited step is a completed step. I think it should fulfill your requirements. If you want to be able to navigate to a previously not entered step (which is therefore also incomplete) then you need to define it as complete using either the interna

[2020-07-13 08:53] khocef commented on #303
okay, i will close the issue

[2020-07-13 08:53] #303 closed

[2020-07-17 23:07] sunilmkamble17 opened #305 "can we create multiple instance OR nested wizard"
Is it possible to create nested wizards?
I came across requirement where I want to create nested wizard,
I am able to create HTML/view which represents design/structure of nested wizrd using following:
`<aw-wizard>
  <aw-wizard-step stepTitle="Steptitle 1">
    Step 1
	<aw-wizard-step stepTitle="SubSteptitle 1">
		Sub Step 1
	</aw-wizard-step>
	<aw-wizard-step stepTitle="SubSteptitle 2">
		Sub Ste

[2020-07-18 20:32] madoar commented on #305
**@ViewChild(WizardComponent) public wizard: WizardComponent;
@ViewChild(WizardComponent) public subWizard: WizardComponent;

You need to select your wizard by their id instead of their component type. Otherwise you will most likely get the same wizard in both variables.

I haven't tried to create nested wizards until now, therefore I can not say for sure. In theory it should be possible. The only

[2020-07-18 20:43] madoar commented on #304
Both `awCompletedStep` and `awOptionalStep` are meant to be used in a static way. This means that the condition you are binding the both directives should not change later on. If I look at your snippet the conditions flip depending on which step (i.e. `currentStep.id`) the user is in, right?

To be able to do a more in-depth analysis of whether there is something wrong either with the wizard or yo

[2020-07-24 03:29] shinchan305 commented on #304
`Both awCompletedStep and awOptionalStep are meant to be used in a static way. This means that the condition you are binding the both directives should not change later on. If I look at your snippet the conditions flip depending on which step (i.e. currentStep.id) the user is in, right?`
It's not current step, it's status which I am setting before loading the archwizard component. That is the reas

[2020-08-27 09:10] Suhas-lab opened #308 "Need to set free navigation mode but not working"
I am using this code in my project but its not working properly. Anyone please help

<aw-wizard [navBarLayout]="'large-empty-symbols'" class="custom-styling horizontal" [awNavigationMode] [navigateBackward]="allow" [navigateForward]="allow">
            <aw-wizard-step [stepTitle]="step1" awOptionalStep >
                <div class="centered-content">
                    <div>

[2020-09-02 19:18] Rocket18 opened #309 "Angular Ivy compatible issue"
This likely means that the library (angular-archwizard) which declares ArchwizardModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

When angular-archwizard will be support Ivy???

[2020-09-03 07:35] Paul75 opened #310 "step works but in vscode errors"
Hello,

I add yout project to mine to do multistep wizard :
[code]

It works but in my VSCODE I have this errors on app-custom-step :

[code]

thanks

[2020-09-03 09:42] sfrinx commented on #243
Hello,
I delevop an app with Ionic 5 (Angular 8). When i try to build with production enviroment i see this error:

`ERROR in Directive WizardCompletionStep in /Users/scaminati/Documents/workspaces/github/Fait/easyfait/node_modules/angular-archwizard/angular-archwizard.d.ts has no selector, please add it!
[ng] Directive WizardStep in /Users/scaminati/Documents/workspaces/github/Fait/easyfait/node_

[2020-09-05 11:17] madoar commented on #308
What exactly is not working as you expect? Your code snippet looks strange, can you please fix it otherwise it is hard to help

[2020-09-05 11:18] madoar commented on #309
What version of Angular and `angular-archwizard` are you using?

[2020-09-05 11:20] madoar commented on #310
This looks like there is a problem with your `app-usager-add-step1` component. Maybe you forgot to declare it in a `@NgModule` directive of your application?

[2020-09-05 11:42] Rocket18 commented on #309
Angular 10.0.5
angular-archwizard 6.1.0 (latest)

[2020-09-05 12:41] madoar commented on #309
I've tried building the `angular-archwizard-demo` repository with ivy enabled using `ng build --aot`. It worked for me without any issues. Both `angular-archwizard` and `angular-archwizard-demo` currently use Angular 9. Maybe it is because of a change between Angular 9 and 10?

[2020-09-05 13:09] Rocket18 commented on #309
So, i installed npm package one more time and now everything looks fine, no errors in terminal. Close  issue

[2020-09-05 13:09] #309 closed

[2020-09-05 22:01] Paul75 commented on #310
Hello,

Not it declared....

I solved to change :

`<app-custom-step awWizardStep ... >`

to :

`<aw-wizard-step awWizardStep ... >`

Thanks

[2020-09-06 03:49] Suhas-lab commented on #308
Thanks madoar for reply,
Actually i have set different types of steps using <aw-wizard> and i need to set free navigation for it. Finally i got the solution on below site where one directive is use to set free navigation for steps https://www.npmjs.com/package/angular-archwizard.
Directive is [awNavigationMode] basically its by default mode is **strict** so i have do it **free** based on my logic.

[2020-09-06 03:49] #308 closed

[2020-09-06 15:50] DemiRamiro opened #311 "Step icon stacks when step count is more than 10"
Hi.

I am just using archwizard now,

I found this issue when I put more than 10 steps.

![image](https://user-images.githubusercontent.com/13651932/92329697-b2e26500-f09b-11ea-9a69-dca71c2feae4.png)

When it is just 10 it looks fine

![image](https://user-images.githubusercontent.com/13651932/92329709-cd1c4300-f09b-11ea-87dc-e779de147471.png)

[2020-09-07 23:01] rikimm opened #312 "it tells me that goToNextStep is undefined"
I have the following problem I try to navigate through this.wizard.goToNextStep (), and every time I call the function it appears to me that it is undefined, I was looking for it in the issues and it talks about a solution that is this:
import {WizardComponent} from 'angular-archwizard';

  @ViewChild ('wizard') wizard: WizardComponent;

Also use this
@ViewChild (WizardComponent) public wizard: Wi

[2020-09-08 13:28] sfrinx opened #313 "Aot build issue"
Hello,
I delevop an app with Ionic 5 (Angular 8). When i try to build with production enviroment i see this error:

ERROR in Directive WizardCompletionStep in /Users/scaminati/Documents/workspaces/github/Fait/easyfait/node_modules/angular-archwizard/angular-archwizard.d.ts has no selector, please add it!
[ng] Directive WizardStep in /Users/scaminati/Documents/workspaces/github/Fait/easyfait/node_m

[2020-09-10 06:02] AbhijitMuke opened #314 "Completed navigation line color is not changing after version 6 upgrade"
Hello Team, thanks for upgrading the library in order to support for Angular 9+ versions.

After upgrading to [version 6](https://github.com/madoar/angular-archwizard/releases/tag/v6.0.0) I observed the the navigation line between the icons styling keep same as it is regardless of the completion step.

Previously, it was updating the line color w.r.t state of Step color.

I guess, it is change aft

[2020-09-14 17:35] rikimm commented on #312
Solution

I already solved it, my error was that it sent to call WizardComponent from the child components, the solution was to call the WizardComponent from the parent component and send them to the children so that it detects the wizard component

[2020-09-14 17:56] #312 closed

[2020-09-14 20:24] rikimm opened #316 "Problems creating dynamic components in aw-wizard-step"
As the title says, I am trying to create dynamic components within an aw-wizard-step, I have the following code
HTML:

[code]
Component.ts:

[code]

the part of the html of the component that I am sending to call is not shown, what if you notice is that all the functions or inputs of the component are shown in the console.log

[2020-09-18 21:31] madoar commented on #311
`angular-archwizard` currently only supports Wizards with up to 10 steps.
This can be changed by modifying the upper limit of the following loop in the stylesheets:

https://github.com/madoar/angular-archwizard/blob/187cf078dd3b2d635e3bbb6256e54949d2f23934/src/css/wizard-navigation-bar.scss#L380-L391

How many steps do you require?

[2020-09-18 21:45] madoar commented on #313
Which version of `angular-archwizard` are you using? Please be sure to use `angular-archwizard` version `5.x.y` with Angular 8 and `angular-archwizard` version `6.x.y` with Angular 9+.

`angular-archwizard` supports `aot`, which can be tested by building the [demo repository](https://github.com/madoar/angular-archwizard-demo) using `ng build --aot`. The selector change for directives is quite new

[2020-09-18 21:49] madoar commented on #314
Yes this should be because of the change from `:before` to `:after`. In theory it should be sufficient to replace the occurrences of `:before` with `:after` inside your CSS. For a simple example please look [here](https://madoar.github.io/angular-archwizard-demo/#/custom-css/line) and [here](https://github.com/madoar/angular-archwizard-demo/tree/develop/src/app/custom-line-css). If you need additi

[2020-09-18 21:52] madoar commented on #316
Your code snippet is missing the information what you are doing with `componentRef`. It only assigns a value to it but does not seem to access it afterwards? Can you please provide an example project that illustrates what exactly you are trying to do and what does not work?

[2020-09-18 21:59] madoar commented on #310
Nice to hear that you solved your issue.

In that case `awWizardStep` is redundant because it basically leads to the same result as `aw-wizard-step`. The main difference between both is that `aw-wizard-step` is a component which can be used as a wrapper for a number of other components that make up a wizard step. In comparison `awWizardStep` can be used to enhance an existing component of your app

[2020-09-21 13:37] sfrinx commented on #313
Ok thank you now it work. I suggest you to put this information (version 5 for angular 8) in the main page of the repository.

[2020-09-21 13:37] #313 closed

[2020-09-24 01:08] yaoxiantong commented on #62
使用*ngIf条件语句来进行延迟加载吧 ,如果加载后显示的步骤不对，可以使用wizard.goToStep(stepIndex);或者 wizard.goToNextStep() 进行控制 或者混合使用
我昨天遇到一个问题 是ajax数据返回后在加载这个组件 但是步骤会跑到最后一步
最后通过下面这个方式解决:
[code]

[2020-10-08 12:13] tharindusathis commented on #172
Setting `navBarLocation="" ` will also work!

[2020-10-12 20:53] #300 closed

[2020-10-16 20:07] Tiago-UJ opened #321 "npm version"
when will angular-archwizard@6.1.0 currently available for download on npm for angular 9, be update to angular-archwizard@7.0.0 for angular 10?

[2021-01-06 13:11] mabochster opened #330 "Cannot Navigate Backwards unless I hit the complete wizard step"
I am trying to navigate backwards but I cant, I have the following options enabled :

NavigateBackwards = "allowed"
Created a custom navigation class,

[code]

Is there anything else I need to implement.

[2021-01-14 01:02] #330 closed

[2021-01-21 10:37] sekhar679 commented on #304
If this is the case you can make the step clickable by setting them as optional steps using the [awOptionalStep] directive. This will allow the user to enter the step from basically anywhere. If you want to limit this you need to use [canEnter] and [canExit].

Now I tried to make the steps optional as you suggested by putting the same condition which mark them completed. But again, my steps are no

[2021-01-21 20:28] nadflores opened #332 "angular 10 update causes failing unit test"
An error was thrown in afterAll
  Unhandled promise rejection: TypeError: Cannot read property 'exit' of null
  TypeError: Cannot read property 'exit' of null
      at http://localhost:9876/_karma_webpack_/node_modules/angular-archwizard/fesm2015/angular-archwizard.js:549:1
      at ZoneDelegate.invoke (http://localhost:9876/_karma_webpack_/node_modules/zone.js/dist/zone-evergreen.js:364:1)

[2021-01-24 11:32] madoar commented on #332
Can you please provide some more information?
Which version of npm are you using?
Which test(s) are failing?
What do you mean by "Angular 10 update causes failing unit test"?
Is it a test in your application or in `angular-archwizard`?

[2021-01-24 11:45] madoar commented on #304
As I mentioned before please provide an example application/project that I can use to recreate your issue. Otherwise it is really difficult for me to understand what exactly you want to achieve and where the problem is located.

By default the wizard allows you to navigate to the next step only. This condition is relaxed when using `[awOptionalStep]`. When using `[awOptionalStep]` you can navigate

[2021-01-24 11:55] madoar commented on #321
Sorry about my late reply. There are some small changes that are still missing before I will release version `7.0.0`.

[2021-01-25 21:12] EslamElmadny commented on #321
I'm looking for version 7.0.0 too as am using angular 10

[2021-02-16 10:41] khocef commented on #62
+1

[2021-02-17 10:10] NA-Jalilius opened #336 "Can't click a button added to a Step Title to perform a certain action"
Hello @madoar ,
I'm trying to add a button to the step title of the wizard, in order to delete this step on button click, but can't get it to be clicked, it's like if it's disabled with all the navigation bar for which I disabled the navigation with `[disableNavigationBar]="true"`, but if I set it to `false` the click start to be intercepted by the step header instead of the button

This is my cod

[2021-02-21 21:49] madoar commented on #336
The step titles inside the navigation bar are not meant to contain (additional) buttons.
The titles themselves function as links, which can be clicked on to navigate to the step when certain conditions are fulfilled.
These conditions can be defined by using a navigation mode and by specifying `[canEnter]` and/or `[canExit]` of your wizard steps.

Otherwise you are free to add buttons to the conten

[2021-02-21 21:54] madoar commented on #321
Today I released version `7.0.0` of `angular-archwizard` it is built using Angular 11.

Independent of the release today I think that you are misunderstanding the compatibility table.
The table does not strictly define which version of `angular-archwizard` is compatible with which version of Angular.
It only specifies which version of `angular-archwizard` is built with which version of Angular.
Be

[2021-02-21 21:54] #321 closed

[2021-02-21 21:55] #314 closed

[2021-02-21 21:57] madoar commented on #305
An example for nested wizards has been added to the demo repository, see: [here](https://github.com/madoar/angular-archwizard-demo/tree/develop/src/app/nested-wizards) and [here](https://madoar.github.io/angular-archwizard-demo/#/nested-wizards)

[2021-02-21 21:57] #305 closed

[2021-02-21 21:59] madoar commented on #295
If you continue to face this issue feel free to open a new issue

[2021-02-21 21:59] #295 closed

[2021-02-21 21:59] #310 closed

[2021-02-21 22:00] madoar commented on #311
If you continue to face this issue feel free to open a new issue

[2021-02-21 22:00] #311 closed

[2021-02-21 22:00] madoar commented on #316
If you continue to face this issue feel free to open a new issue

[2021-02-21 22:00] #316 closed

[2021-02-21 22:00] madoar commented on #332
If you continue to face this issue feel free to open a new issue

[2021-02-21 22:00] #332 closed

[2021-02-21 22:01] madoar commented on #304
If you continue to face this issue feel free to open a new issue

[2021-02-21 22:01] #304 closed

[2021-02-21 22:01] madoar commented on #298
If you continue to face this issue feel free to open a new issue

[2021-02-21 22:01] #298 closed

[2021-02-21 22:02] madoar commented on #289
If you continue to face this issue feel free to open a new issue

[2021-02-21 22:02] #289 closed

[2021-02-22 13:58] NA-Jalilius commented on #336
Hello @madoar,
Alright, I see what you're saying. Thanks for the response.
Exactly, as you mentioned and as I've thought of, the solution is to add the button in the content area and play the gymnastic using services etc ...
Thanks again my friend !
Closing the issue ...

[2021-02-22 13:58] #336 closed

[2021-03-04 06:25] das-peregrine opened #338 "Error: node_modules/angular-archwizard/archwizard.module.d.ts:8:23 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)."
**Steps to reproduce and a minimal demo**

  - Create a new Angular project (v11)
  - npm i angular-archwizard
  - npm run build

**Current behavior**

  - Error: node_modules/angular-archwizard/archwizard.module.d.ts:8:23 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).

**Expected/desired behavior**

  - Should build the project.

**Other information**

  - http

[2021-03-04 06:44] das-peregrine commented on #338
Fixed by version 7.0.0

[2021-03-04 06:44] #338 closed, assigned to nobody

[2021-03-18 14:59] leonardomaier commented on #62
Same problem here, it would be nice to have this feature.

[2021-04-22 06:07] joelmuskwe opened #341 "Issue with using angular-archwizard in lazy loaded libraries"
I imported below in my app.module.ts and configured it with the forRoot():

[code]

Then i created a lazy loaded module using nx and imported the ArchwizardModule in my lazy loaded library like below:

[code]

I then created a component in my lazy loaded library using the demo snippet:

[code]

and i produces the attached output:
<img width="1251" alt="Screenshot 2021-04-22 at 07 55 08" src="https

[2021-04-22 09:36] joelmuskwe commented on #341
In case someone faces same challenge one of my parent component with <router-outlet></router-outlet> had
  **changeDetection: ChangeDetectionStrategy.OnPush** so removed it to make it work

[2021-06-22 10:34] SEQUOiA87 commented on #341
I got the same problem, and the work-around of removing `changeDetection: ChangeDetectionStrategy.OnPush` in the parent component (= the one [lazy-loading the module](https://angular.io/guide/lazy-loading-ngmodules) which in turn loads the component which uses `<aw-wizard>` in its HTML) is not suitable for me.

I encountered the problem by updating from 'angular-archwizard' from ^5.0.0 to ^7.0.0,

[2021-06-22 20:13] madoar commented on #341
If I remember correctly this sentence targets PR #264. The change was necessary because of a test that started to fail after updating `angular-archwizard` from Angular 8 to Angular 9 (see also the linked comment in the PR).

Sure :)

I have not used lazy loaded of libraries with angular before. Therefore it is hard for me to recreate the issue without an example. For this reason it would be great

[2021-07-04 20:29] roy-de-kleijn opened #349 "Skip step or conditional step"
Hi,

In my wizard I have a step where the users needs to sign in. However, in some cases the user is already signed in.

1 - overview
2 - sign in
3 - address details

How can I achieve the following ?

Without being signed in: 1 -> 2 -> 3

User is signed in: 1 -> 3

I look forward to the answer,
Roy

[2021-07-05 09:26] go2theG opened #350 "Angular 12 Support"
Please add support for Angular 12.

[2021-07-06 06:23] ibrahimunal opened #351 "Unable to step to next page with [canExit]"
Hi I have reactive form in aw-wizard-step and without validation check I restrict the stepping with [canExit]= "canExitStep1".  I initialize my canExitStep1 variable as false. As I fill the all form fields it returns true and convert canExitStep1 false to true which let aw-wizard to skip to nextPage. However even though form is valid and canExitStep1 is true the awNextStep does not trigger at firs

[2021-07-18 09:27] roydekleijn opened #352 "Programmatically navigation"
Hello,

I want to programmatically navigate to the next step of the wizard. (eventually, I like to do that with query parameters, but first things first)

Template:
[code]

In this template I have code to navigate to the next page.

[code]

When pressing the button, nothing happens. I use version 7.0.0

How can I programmatically navigate to the next step ?

I printed the wizard object:

![image](

[2021-07-18 09:32] roydekleijn commented on #352
omg, I didn't notice before... but it's a zero based index :) sorry!

[2021-07-18 09:44] roydekleijn commented on #352
One more thing,

If I call this code in the `ngOnInit`:

[code]

Then I get this error:

[code]

How can I solve this one ?

If I implement the code in `ngAfterViewInit`, then I get:

[code]

[2021-07-18 10:03] roydekleijn commented on #72
nope doesn't work with version 7.0.0

[2021-07-18 11:22] roydekleijn opened #353 "awSelectedStep condition"
Hello,

Is there a particular reason why we cannot apply a condition to awSelectedStep?

[2021-07-18 19:45] madoar commented on #352
Do you have a short example project showcasing the issue?
This would help me tremendously finding the reason for the issue :)

[2021-07-18 19:54] madoar commented on #353
Not really, it was not an issue as of now :)

When thinking about adding a condition to `awSelectedStep` I have multiple open questions we would need to answer first:
* how do we ensure that only a single wizard step is annotated with `awSelectedStep` at once?
* how should the wizard react if multiple steps "activate" at the same time?
* what should happen if the condition flips for some reason? S

[2021-07-18 20:00] madoar commented on #351
Which version of `angular-archwizard` are you using? The input `navigationMode` of `WizardComponent` does not exist anymore in the current version, it appears that you are using an older version. Can you please try again with the newest version of `angular-archwizard`?

If this does not help. Can you please provide me a short buildable example project illustrating your issue?

[2021-07-18 20:20] madoar commented on #353
It is also important to note that the default step input is not validated at the moment. This means that you can basically define an arbitrary step as the default step and it will be applied. If a "bad" index is used for the default step index, which violates the constraints of your navigation mode, your wizard may behave different from your expectations (for example it may prevent the user from n

[2021-07-18 20:23] madoar opened #354 ""selected-step.directive.spec.ts" appears to be outdated"
The html template string in `selected-step.directive.spec.ts` appears to be outdated. Currently it contains the line `<aw-wizard navigationMode="free">`. This line is not 100% compatible with the current version of `angular-archwizard` because the input `navigationMode` does not exist anymore in `WizardComponent`. Therefore the test needs to be changed or deleted.

[2021-07-18 20:28] madoar commented on #349
I think the easiest solution is to define two wizards and (one with all three steps and the second one with only step 1 and 3) and then choose the one to be displayed according to the login status of your user.

If you want to implement both scenarios in one wizard you can try to use `ngIf` to disable/hide the second step based on the login status of the user.

[2021-07-18 21:11] roydekleijn commented on #353
Awesome, defaultStepIndex helped me!

[2021-07-18 21:12] roydekleijn commented on #352
Awesome, defaultStepIndex helped me!

[2021-07-18 21:22] roydekleijn commented on #353
I noticed that my button (to go to the next step) doesn't do anything anymore.

This is how the button looks like:

`<button [disabled]="!canExitStep2" type="button" class="btn btn-success" awNextStep>Proceed to checkout</button>`

This is how my code looks like:

`<aw-wizard #wizard [defaultStepIndex]="stepId" [navBarLayout]="'large-filled-symbols'">`

[code]

When I click the button, I stay in t

[2021-07-29 18:24] icemancml opened #355 "Dinamically Add Nested Step"
Hi,

I have a aw-wizard with 3 aw-wizard-step, the first one have a form where I want to put the number of steps of the nested wizard I have inside of the second aw-wizard-step, its creating the aw-wizard-navigation-bar in the right way, but is not rendering the content inside each aw-wizard-step, if I define the array on the constructor when the whole component is rendered the first time it work

[2021-10-05 18:51] carloblasi opened #360 "disableNavigationBar doesn't disable navigation"
The comment above the method canGoToStep of BaseNavigationMode says:
![image](https://user-images.githubusercontent.com/8105766/136083661-75effe7e-24f4-4663-bfdb-6b433b1d7e7f.png)

But really the wizard navigation bar component uses the awGoToStep directive inside for every step.
I tried disabling the navigationBar by subclassing ConfigurableNavigationMode, this is my custom class:

[code]
I set d

[2021-12-16 18:49] vcarrin1 opened #362 "Show checkmark on step complete on nested wizard"
The code below works on the parent wizard, but doesn't trigger on the nested wizard. The parent wizard has steps that each load a component, then that component contains another wizard with its own steps. I want to mark the steps as completed with a checkmark.

[code]

[code]

[2021-12-27 01:54] MaslovD opened #363 "Is this module is still supported?"

[2022-01-01 18:28] madoar commented on #363
Hello @MaslovD,
sadly I currently do not have a lot of time to work on `angular-archwizard`.
Therefore this library has not seen a lot of progress over the last year.

As far as I am concerned this library is not dead, I am still willing to invest time into the project.
My issue is that I currently do not have the necessary time to work on larger tasks, like updating to a newer Angular version etc

[2022-02-21 16:37] akanzari opened #369 "angular archwizard dynamic hashtag in ngFor"
How can i make #wizard dynamic, for example my target will be #wizard{{i}}

[code]

[2022-03-15 16:54] imsonofgod opened #373 "Angular Archwizard is not working inside ng bootstrap modal"
Angular Archwizard doesn't work inside ng bootstrap modal. Although the wizard is displayed visually, when pressing the continue button, by code it does not recognize the element: this.wizard.goToNextStep();  and it has an undefined value, this is the error:  "Cannot read properties of undefined (reading 'goToNextStep')".

does anyone know what is causing this error?
does Archwizard not support ng

[2022-03-15 18:37] imsonofgod commented on #373
I can solve this problem. I just had to separate the wizard from another component and call it from the modal. Look this.

<ng-template #content let-modal>
  <div class="modal-header">
    <h6><i class="feather icon-user-plus"></i> Register Person</h6>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidde

[2022-03-15 18:39] imsonofgod commented on #373
I can solve this problem. I just had to separate the wizard from another component and call it from the modal. Look this:

`<ng-template #content let-modal>`
  `    <app-frm-wizard #wizard></app-frm-wizard>`
`</ng-template>`

[2022-03-30 09:38] lindamarieb opened #375 "DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0."
I have modified the scss to use math.div instead of / in my local scss.

I would like to contribute this change to this repo.

[2022-05-10 06:00] slash33 commented on #375
not sure this module still supported : https://github.com/madoar/angular-archwizard/issues/363#issuecomment-1003597744 !!!!

[2022-06-23 12:28] AbigailAdjo opened #379 "Passe a fuction to [canExit]"
Hello all ,
I have a verification to do before allowing the wizard to exit the current step and enter the next step,
I'm trying to passe a function to [canExit] but seems like the way I'm doing is the wrong one.
Can anyone help?

HTML :

<aw-wizard-step stepTitle="Identification" formGroupName="step1Validation"
                                            [canExit]="canExitStep1($event)">

Typescri

[2022-06-25 05:19] Sameer235711 commented on #62
This approach worked well for me

1. Used `*ngIf` on the content inside of each step instead of the step itself.
2. Gave each step an ID and used it in the `*ngIf` statements

Example:
[code]

[2022-08-18 17:20] carmonaca commented on #353
Thank you. It works to me.

[2022-11-11 05:21] codedthemes commented on #375
This package is giving ample of warning for this and it going out of budget. Even after setting 10 MB budget for warning, its still not working. Any alternative package for this?

[2022-11-16 13:31] tstankevicius opened #383 "How to make step title lowercase?"
Looks like text is harcoded uppercase?